Repository CMLPlatform/relab: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-alembic-autogen-check, frontend-web-lint, frontend-app-lint

Path conditions:
  backend-alembic-autogen-check: any of: ^(backend/(app|alembic)/|alembic\.ini$)
  frontend-web-lint: any of: ^frontend-web\/.*\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?)$
  frontend-app-lint: any of: ^frontend-app\/.*\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?)$

ci: update
  .cspell.yml
  biome.jsonc
  justfile
  package.json
  pnpm-lock.yaml
  uv.lock
Due: none

ci(backend): update
  backend/.gitignore
  backend/Dockerfile
  backend/Dockerfile.dev
  backend/README.md
  backend/justfile
  backend/pyproject.toml
  backend/uv.lock
Due: none

ci: update compose setup
  INSTALL.md
  backend/reports/performance/2026-04-16-ci-baseline.md
  backend/reports/performance/latest-k6-summary.json
  backend/scripts/backup/README.md
  compose.ci.yml
  compose.deploy.yml
  compose.dev.yml
  compose.staging.yml
Due: none

docs: update example env
  .env.example
Due: none

misc
  .github/workflows/validate.yml
  .pre-commit-config.yaml
  .vscode/settings.json
Due: none

udpate docs
  docs/justfile
  docs/package.json
  docs/src/scripts/page-chrome/index.ts
  docs/src/scripts/page-chrome/mermaid.ts
  docs/src/scripts/page-chrome/toc.ts
Due: none

docs(frontend-app): update docs
  frontend-app/ARCHITECTURE.md
  frontend-app/README.md
Due: none

feat(backend): enhance organization loading and user fixtures for improved async handling
  backend/app/api/auth/crud/organizations.py
  backend/app/api/auth/dependencies.py
  backend/tests/fixtures/auth.py
  backend/tests/integration/api/_organization_support.py
Due: backend-alembic-autogen-check

update infra of frontend-app
  frontend-app/biome.jsonc
  frontend-app/eslint.config.mjs
  frontend-app/justfile
  frontend-app/package.json
Due: frontend-app-lint

fix(frontend): Optimize test suite
  frontend-web/e2e/accessibility.spec.ts
  frontend-web/e2e/index.spec.ts
  frontend-web/e2e/newsletter/unsubscribe-form.spec.ts
  frontend-web/e2e/not-found.spec.ts
  frontend-web/e2e/responsive.spec.ts
  frontend-web/e2e/theme.spec.ts
  frontend-web/src/styles/components.css
  frontend-web/src/styles/forms.css
Due: frontend-web-lint

fix(frontend-web): modernize tsconfig
  frontend-web/tsconfig.json
Due: frontend-web-lint

docs(frontend-web): Simplify readme
  frontend-web/README.md
Due: none

fix(frontend-web): refine test configuration and remove unused mobile devices
  frontend-web/playwright.config.ts
Due: frontend-web-lint

fix: harmonize task runners and scripts across subrepos
  backend/justfile
  docs/justfile
  docs/package.json
  frontend-app/justfile
  frontend-app/package.json
  frontend-web/justfile
  frontend-web/package.json
  justfile
Due: frontend-web-lint, frontend-app-lint

fix: modernize and simplify dockerfiles
  backend/Dockerfile
  backend/Dockerfile.migrations
  backend/Dockerfile.user-upload-backups
  compose.dev.yml
  compose.yml
  frontend-app/Dockerfile
  frontend-web/Dockerfile
Due: none

fix: remove unused scripts
  docs/scripts/check-lighthouse.mjs
  frontend-app/scripts/jest-timings.js
Due: frontend-app-lint

fix(docs): update docs, simplify dockerfile, add spellcheck config
  docs/Dockerfile
  docs/README.md
  docs/src/content/docs/architecture/engineering-config.md
  docs/src/content/docs/architecture/engineering-ops.md
  docs/src/content/docs/architecture/rpi-cam.mdx
  docs/src/content/docs/architecture/system-design.mdx
Due: none

docs(frontend-app): Update readme
  frontend-app/README.md
Due: none

test(backend): Speed up test suite and add pytest marks where relevant
  backend/tests/fixtures/client.py
  backend/tests/fixtures/data.py
  backend/tests/integration/api/auth/test_admin_routers.py
  backend/tests/integration/api/auth/test_oauth_callbacks.py
  backend/tests/integration/api/auth/test_oauth_helpers.py
  backend/tests/integration/api/auth/test_oauth_redirects.py
  backend/tests/integration/api/auth/test_refresh.py
  backend/tests/integration/api/auth/test_registration_login.py
  backend/tests/integration/api/auth/test_user_updates.py
  backend/tests/integration/api/test_data_collection_brand_endpoints.py
  backend/tests/integration/api/test_data_collection_component_endpoints.py
  backend/tests/integration/api/test_data_collection_product_endpoints.py
  backend/tests/integration/api/test_error_responses.py
  backend/tests/integration/api/test_organization_public_endpoints.py
  backend/tests/integration/api/test_pagination.py
  backend/tests/integration/api/test_privacy_redaction.py
  backend/tests/integration/core/test_database_operations.py
  backend/tests/integration/flows/test_auth_flows.py
  backend/tests/integration/flows/test_newsletter_flow.py
  backend/tests/integration/flows/test_rpi_cam_flow.py
  backend/tests/integration/models/test_auth_models.py
  backend/tests/integration/models/test_background_data_models.py
  backend/tests/integration/models/test_data_collection_models.py
  backend/tests/unit/core/test_model_registry.py
  backend/tests/unit/plugins/rpi_cam/test_routers_hls.py
Due: none

fix(backend): Remove unused erd render script
  backend/pyproject.toml
  backend/scripts/generate/render_erd.py
Due: none

feat: Revise issue templates for bug reports, feature requests, and internal tickets
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/ISSUE_TEMPLATE/internal-ticket.md
  .github/ISSUE_TEMPLATE/internal-ticket.yml
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

chore: lint ci workflows
  .github/workflows/security.yml
  .github/workflows/validate.yml
Due: none

docs: replace just validate -> ci in docs
  CONTRIBUTING.md
  INSTALL.md
  README.md
Due: none

fix: misc linting
  .cspell.yml
  .pre-commit-config.yaml
  backend/app/api/auth/services/password_validator.py
  backend/app/api/plugins/rpi_cam/routers/camera_interaction/hls.py
  backend/app/api/plugins/rpi_cam/websocket/relay.py
  compose.deploy.yml
  frontend-app/src/components/cameras/LivePreview.tsx
  frontend-web/biome.jsonc
  otel-collector-config.yaml
Due: backend-alembic-autogen-check, frontend-web-lint, frontend-app-lint

fix: update validate -> ci
  .devcontainer/devcontainer.json
  package.json
Due: none

fix: address misc codeql issues
  backend/app/api/auth/services/password_validator.py
  backend/app/api/plugins/rpi_cam/websocket/relay.py
  backend/tests/unit/auth/test_password_validator.py
  backend/tests/unit/plugins/rpi_cam/test_websocket_relay.py
  docs/src/content.config.ts
  docs/src/scripts/page-chrome/mermaid.ts
  docs/src/scripts/page-chrome/toc.ts
  frontend-app/eslint.config.mjs
  frontend-app/src/services/api/validation/__tests__/productSchema-test.ts
  frontend-app/src/services/api/validation/productSchema.ts
  frontend-app/tsconfig.json
Due: backend-alembic-autogen-check, frontend-app-lint

fix: update monorepo biome config
  biome.base.jsonc
  biome.jsonc
  docs/biome.jsonc
  frontend-app/biome.jsonc
  frontend-web/biome.jsonc
Due: frontend-web-lint, frontend-app-lint

feat: modernize node tooling config and dep update commands in justfiles
  .npmrc
  .nvmrc
  .syncpackrc.json
  .tool-versions
  backend/pyproject.toml
  backend/uv.lock
  docs/.nvmrc
  docs/justfile
  docs/package.json
  docs/pnpm-lock.yaml
  frontend-app/.nvmrc
  frontend-app/justfile
  frontend-app/package.json
  frontend-app/pnpm-lock.yaml
  frontend-web/.nvmrc
  frontend-web/justfile
  frontend-web/package.json
  frontend-web/pnpm-lock.yaml
  justfile
  package.json
  pnpm-lock.yaml
  renovate.json
  uv.lock
Due: frontend-web-lint, frontend-app-lint

feat: enhance GitHub actions with container security matrix and runtime setup improvements
  .github/actions/detect-security-changes/action.yml
  .github/actions/setup-runtime/action.yml
  .github/actions/upload-codecov/action.yml
  .github/workflows/security.yml
  .github/workflows/validate.yml
Due: none

fix: linting
  .devcontainer/backend/devcontainer.json
  .devcontainer/devcontainer.json
  .devcontainer/docs/devcontainer.json
  .devcontainer/frontend-app/devcontainer.json
  .devcontainer/frontend-web/devcontainer.json
  .pre-commit-config.yaml
  compose.yml
Due: none

fix: update comments in codecov.yml for clarity on path resolution
  codecov.yml
Due: none

fix: remove unused expo-env.d.ts from Dockerfile copy command
  frontend-app/Dockerfile
Due: none

feat: update renovate configuration for improved dependency management and automation
  renovate.json
Due: none

feat: add cspell and update pre-commit
  .cspell.yml
  .gitignore
  .pre-commit-config.yaml
  package.json
  pnpm-lock.yaml
Due: none

feat: enhance GitHub Actions workflow with pre-commit caching and spellcheck task
  .github/workflows/validate.yml
  justfile
Due: none

fix: streamline formatting in renovate.json for improved readability
  renovate.json
Due: none

refactor: remove unused last image URL functionality and streamline camera data retrieval
  backend/app/api/plugins/rpi_cam/routers/camera_crud.py
  backend/app/api/plugins/rpi_cam/routers/camera_interaction/images.py
  backend/app/api/plugins/rpi_cam/schemas/__init__.py
  backend/app/api/plugins/rpi_cam/service_runtime.py
  backend/app/api/plugins/rpi_cam/services.py
  backend/tests/integration/db/test_rpi_cam_last_image.py
  backend/tests/integration/db/test_rpi_cam_preview_thumbnail.py
  frontend-app/src/components/cameras/CameraCard.tsx
  frontend-app/src/components/cameras/__tests__/CameraCard-test.tsx
  frontend-app/src/components/product/__tests__/ProductImageGallery-test.tsx
  frontend-app/src/services/api/__tests__/rpiCamera-test.ts
  frontend-app/src/services/api/rpiCamera/shared.ts
  frontend-app/src/types/api.generated.ts
Due: backend-alembic-autogen-check, frontend-app-lint
