Repository CMLPlatform/relab: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-alembic-autogen-check, frontend-web-lint, frontend-app-lint

backend-alembic-autogen-check:
  name: check alembic migrations
  entry: bash -c 'cd backend && uv run alembic-autogen-check'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

frontend-web-lint:
  name: lint frontend-web code
  entry: bash -c 'cd frontend-web && npm run lint'
  language: system
  pass_filenames: false

frontend-app-lint:
  name: lint frontend-app code
  entry: bash -c 'cd frontend-app && npm run lint'
  language: system
  pass_filenames: false

feat(frontend-app): Validate app URLs before opening external links
  frontend-app/src/components/auth/NewAccountSections.tsx
  frontend-app/src/components/common/StreamingContent.tsx
  frontend-app/src/components/common/__tests__/StreamingContent-test.tsx
  frontend-app/src/components/product/ProductVideo.tsx
  frontend-app/src/components/profile/sections/Integrations.tsx
  frontend-app/src/config.test.ts
  frontend-app/src/config.ts
  frontend-app/src/hooks/__tests__/useYouTubeStreamCard-test.tsx
  frontend-app/src/hooks/useYouTubeStreamCard.tsx
  frontend-app/src/services/__tests__/externalLinks-test.ts
  frontend-app/src/services/externalLinks.ts
Due: frontend-app-lint

feat(backend): Require HTTP URLs for stored videos
  backend/app/api/file_storage/schemas.py
  backend/app/api/plugins/rpi_cam/routers/camera_interaction/streams.py
  backend/tests/unit/file_storage/test_video_schema.py
Due: backend-alembic-autogen-check

feat(frontend-app): Harden app media URL handling
  frontend-app/src/components/product/ProductVideo.tsx
  frontend-app/src/components/product/__tests__/ProductVideo-test.tsx
  frontend-app/src/services/api/__tests__/media-test.ts
  frontend-app/src/services/api/media.ts
  frontend-app/src/services/api/validation/__tests__/productSchema-test.ts
  frontend-app/src/services/api/validation/productSchema.ts
Due: frontend-app-lint

fix(backend): Restrict video URL schema to HTTP URLs
  backend/app/api/common/schemas/custom_fields.py
  backend/app/api/plugins/rpi_cam/routers/camera_interaction/streams.py
  backend/app/api/plugins/rpi_cam/service_runtime.py
  frontend-app/src/types/api.generated.ts
Due: backend-alembic-autogen-check, frontend-app-lint

feat(frontend-app): Centralize frontend URL safety checks
  frontend-app/src/__tests__/security-headers.test.ts
  frontend-app/src/components/product/ProductVideo.tsx
  frontend-app/src/config.ts
  frontend-app/src/services/api/media.ts
  frontend-app/src/services/api/validation/productSchema.ts
  frontend-app/src/services/externalLinks.ts
  frontend-app/src/utils/urlSafety.ts
Due: frontend-app-lint

refactor(frontend-app): Tighten frontend-web script CSP
  frontend-web/Caddyfile
  frontend-web/src/config/security-headers.test.ts
  frontend-web/src/layouts/Layout.astro
  frontend-web/src/scripts/theme.test.ts
  frontend-web/src/scripts/theme.ts
Due: frontend-web-lint

feat(frontend): Enable Biome full Astro HTML support
  biome.base.jsonc
  frontend-web/biome.jsonc
  frontend-web/src/components/ContentPage.astro
  frontend-web/src/components/Hero.astro
  frontend-web/src/components/SiteFooter.astro
  frontend-web/src/components/ThemeControl.astro
  frontend-web/src/layouts/Layout.astro
  frontend-web/src/pages/404.astro
  frontend-web/src/pages/index.astro
  frontend-web/src/pages/privacy.astro
Due: frontend-web-lint

ci: consolidate supply-chain workflows
  .github/actions/detect-changes/action.yml
  .github/path-filters.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
Due: none

docs: Update security and deployment documentation for supply chain practices
  .github/CONTRIBUTING.md
  .github/SECURITY.md
  docs/src/content/docs/operations/deployment.mdx
Due: none

feat(backend): Stream non-upload request body size enforcement
  backend/app/core/middleware/request_size.py
  backend/tests/unit/core/test_request_size.py
Due: backend-alembic-autogen-check

feat(backend): Make media upload limits settings-backed
  backend/app/api/file_storage/crud/support_services.py
  backend/app/api/file_storage/schemas.py
  backend/app/core/config/core.py
  backend/tests/unit/file_storage/test_media_crud.py
Due: backend-alembic-autogen-check

feat(backend): Add targeted API rate limits for expensive routes
  backend/app/api/auth/services/rate_limiter.py
  backend/app/api/data_collection/routers/__init__.py
  backend/app/api/data_collection/routers/component_routers.py
  backend/app/api/data_collection/routers/product_mutation_routers.py
  backend/app/api/reference_data/routers/admin_materials.py
  backend/app/api/reference_data/routers/admin_product_types.py
  backend/app/core/config/core.py
  backend/tests/unit/api/test_dos_rate_limit_routes.py
Due: backend-alembic-autogen-check

feat(backend): Harden RPi camera WebSocket resource limits
  backend/app/api/plugins/rpi_cam/websocket/router.py
  backend/app/core/config/core.py
  backend/tests/unit/plugins/rpi_cam/test_websocket_router.py
Due: backend-alembic-autogen-check

feat(backend): Document DoS runtime defaults and Uvicorn limits
  backend/.env.prod.example
  backend/.env.staging.example
  backend/Dockerfile
  backend/app/core/config/core.py
  backend/tests/unit/core/test_config.py
  compose.deploy.yaml
  docs/src/content/docs/operations/deployment.mdx
Due: backend-alembic-autogen-check

chore: lint css
  docs/src/styles/components.css
Due: none

test(backend): Update refresh token handling to use token fingerprints in Redis
  backend/tests/integration/flows/test_auth_flows.py
Due: none

fix: Remove experimental HTML support from biome configuration (was causing issues with astro formatting)
  biome.base.jsonc
Due: none

feat(backend): add least-privilege postgres roles
  backend/.env.dev.example
  backend/.env.prod.example
  backend/.env.staging.example
  backend/.env.test
  backend/alembic/env.py
  backend/app/core/config/core.py
  backend/app/core/env.py
  backend/scripts/db/sync.py
  backend/tests/unit/api/__init__.py
  backend/tests/unit/core/test_config.py
  compose.yaml
  deploy/postgres/initdb/10-relab-roles.sh
Due: backend-alembic-autogen-check

feat(backend): replace raw backup scripts with restic
  backend/Dockerfile.backups
  backend/Dockerfile.user-upload-backups
  backend/scripts/backup/README.md
  backend/scripts/backup/backup_pg_database.sh
  backend/scripts/backup/backup_relab_restic.sh
  backend/scripts/backup/backup_relab_restic_entrypoint.sh
  backend/scripts/backup/backup_user_uploads.sh
  backend/scripts/backup/rclone_backup.sh
  backend/scripts/backup/rsync_backup.sh
  backend/scripts/backup/user_upload_backups_entrypoint.sh
  compose.deploy.yaml
  deploy/required-secret-files.txt
  justfile
  scripts/backup_restic_ops.sh
  scripts/deploy_helpers.sh
Due: none

feat(deploy): add compose secret and network policy checks
  .env.example
  .env.prod.compose
  .env.staging.compose
  .gitignore
  .pre-commit-config.yaml
  backend/.env.prod.example
  backend/.env.staging.example
  compose.deploy.yaml
  compose.dev.yaml
  compose.e2e.yaml
  compose.logging.loki.yaml
  compose.yaml
  deploy/env/prod.compose.env
  deploy/env/staging.compose.env
  justfile
  scripts/deploy_ops.sh
  scripts/deploy_policy_check.py
Due: none

Path conditions:
  backend-alembic-autogen-check: any of: ^(backend/(app|alembic)/|alembic\.ini$)
  frontend-web-lint: any of: ^frontend-web\/.*\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?)$
  frontend-app-lint: any of: ^frontend-app\/.*\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?)$
