Repository CMLPlatform/relab: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-alembic-autogen-check, frontend-web-lint, frontend-app-lint

backend-alembic-autogen-check:
  name: check alembic migrations
  entry: bash -c 'cd backend && uv run alembic-autogen-check'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

frontend-web-lint:
  name: lint frontend-web code
  entry: bash -c 'cd frontend-web && npm run lint'
  language: system
  pass_filenames: false

frontend-app-lint:
  name: lint frontend-app code
  entry: bash -c 'cd frontend-app && npm run lint'
  language: system
  pass_filenames: false

feat(backend): Add circularity_properties model to products
  backend/alembic/versions/b43d157d07f1_add_basic_circularity_properties_model.py
  backend/app/api/data_collection/crud.py
  backend/app/api/data_collection/models.py
  backend/app/api/data_collection/routers.py
  backend/app/api/data_collection/schemas.py
Due: backend-alembic-autogen-check

feature: paginate users/me/products
  backend/app/api/data_collection/routers.py
  frontend-app/src/services/api/fetching.ts
Due: backend-alembic-autogen-check, frontend-app-lint

fix(backend): make circularity properties optional
  backend/app/api/data_collection/models.py
Due: backend-alembic-autogen-check

chore(backend): Update to python 3.14
  backend/.python-version
  backend/Dockerfile
  backend/Dockerfile.dev
  backend/Dockerfile.migrations
  backend/uv.lock
  codemeta.json
Due: none

feature(backend): Move from kg to g for physical_properties weight field
  backend/alembic/versions/0faa2fa19f62_move_from_weight_kg_to_weight_g.py
  backend/app/api/data_collection/filters.py
  backend/app/api/data_collection/models.py
  backend/app/api/data_collection/routers.py
  backend/app/api/data_collection/schemas.py
  backend/scripts/seed/dummy_data.py
  docs/docs/architecture/datamodel.md
  frontend-app/src/components/product/ProductPhysicalProperties.tsx
  frontend-app/src/services/api/fetching.ts
  frontend-app/src/services/api/saving.ts
Due: backend-alembic-autogen-check, frontend-app-lint

chore: linting
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/internal-ticket.md
  .pre-commit-config.yaml
  CONTRIBUTING.md
  backend/.dockerignore
  backend/.gitignore
  backend/app/api/auth/services/user_manager.py
  backend/app/api/auth/utils/email_validation.py
  backend/app/api/auth/utils/programmatic_emails.py
  backend/app/api/common/schemas/custom_fields.py
  backend/app/api/data_collection/routers.py
  backend/tests/conftest.py
  compose.prod.yml
  frontend-app/src/app/products/[id]/index.tsx
  frontend-app/src/services/api/validation/product.ts
  uv.lock
Due: backend-alembic-autogen-check, frontend-app-lint

feat(backend): Allow patching videos
  backend/app/api/data_collection/routers.py
  backend/app/api/file_storage/crud.py
  backend/app/api/file_storage/schemas.py
  frontend-app/src/app/products/[id]/index.tsx
Due: backend-alembic-autogen-check, frontend-app-lint

Merge pull request #80 from CMLPlatform/frontend-app-circularity-properties
  frontend-app/src/app/products/[id]/index.tsx
  frontend-app/src/components/product/ProductCircularityProperties.tsx
Due: frontend-app-lint

chore: linting
  .pre-commit-config.yaml
  backend/tests/conftest.py
  frontend-app/src/app/products/[id]/index.tsx
  frontend-app/src/components/product/ProductCircularityProperties.tsx
  frontend-app/src/components/product/ProductVideo.tsx
  frontend-app/src/services/api/saving.ts
  frontend-app/src/types/Product.ts
Due: frontend-app-lint

chore(backend): Simplify circularity properties model
  backend/alembic/versions/84d2f72dccc7_simplify_circularity_properties_model.py
  backend/app/api/data_collection/models.py
Due: backend-alembic-autogen-check

fix(docker): Update runtime stage python version to 3.14 in backend_migrations Docker image
  backend/Dockerfile.migrations
Due: none

fix(frontend-app): omit circularityproperties if all fields are null
  frontend-app/src/services/api/saving.ts
Due: frontend-app-lint

fix(backend): Add some logging on rpi-cam related network errors
  backend/app/api/plugins/rpi_cam/routers/camera_interaction/utils.py
Due: backend-alembic-autogen-check

fix(backend): Remove unused docker arg
  backend/Dockerfile
Due: none

fix(backend): update ruff target python version
  backend/pyproject.toml
Due: none

fix(backend): Update python target version for ruff to 3.14
  backend/app/api/auth/schemas.py
  backend/app/api/auth/utils/context_managers.py
  backend/app/api/background_data/schemas.py
  backend/app/api/common/models/associations.py
  backend/app/api/data_collection/schemas.py
  backend/app/api/plugins/rpi_cam/routers/camera_interaction/utils.py
  backend/pyproject.toml
Due: backend-alembic-autogen-check

fix(backend): Move logging module
  backend/app/core/logging.py
  backend/app/core/utils/__init__.py
  backend/app/main.py
Due: backend-alembic-autogen-check

fix(backend): Lint backend with ruff targeted to 3.14 and remove unused sqladmin interface
  CONTRIBUTING.md
  backend/.env.example
  backend/alembic/env.py
  backend/app/api/admin/__init__.py
  backend/app/api/admin/auth.py
  backend/app/api/admin/config.py
  backend/app/api/admin/main.py
  backend/app/api/admin/models.py
  backend/app/api/auth/models.py
  backend/app/api/auth/routers/frontend.py
  backend/app/api/background_data/models.py
  backend/app/api/data_collection/models.py
  backend/app/api/file_storage/models/models.py
  backend/app/api/plugins/rpi_cam/models.py
  backend/app/main.py
  backend/app/templates/index.html
  backend/pyproject.toml
  backend/uv.lock
  docs/docs/architecture/system-design.md
  frontend-app/src/app/products/[id]/camera.tsx
  frontend-app/src/services/api/saving.ts
Due: backend-alembic-autogen-check, frontend-app-lint

fix(backend): Remove min length constraints from CircularityProperties Patch update schema
  backend/app/api/data_collection/schemas.py
  backend/app/api/plugins/rpi_cam/routers/camera_interaction/utils.py
Due: backend-alembic-autogen-check

fix(backend): Hotfix for SQLmodel issues
  backend/app/api/auth/models.py
  backend/app/api/background_data/models.py
  backend/app/api/common/crud/utils.py
  backend/app/api/data_collection/models.py
  backend/uv.lock
Due: backend-alembic-autogen-check

fix(backend): Revert to old-school sqlalchemy typing to fix runtime ORM issues
  backend/app/api/auth/models.py
  backend/app/api/background_data/models.py
  backend/app/api/data_collection/models.py
Due: backend-alembic-autogen-check

feat(backend): Add timeout and use-cookies vars to rclone backup script
  .env.example
  backend/scripts/backup/rclone_backup.sh
Due: none

fix(backend): Simplify UserRead model for admin level user GET paths
  backend/app/api/auth/routers/admin/users.py
Due: backend-alembic-autogen-check

feature(backend): Move from pyright to ty for type checking
  .github/PULL_REQUEST_TEMPLATE.md
  .pre-commit-config.yaml
  CONTRIBUTING.md
  backend/app/api/auth/models.py
  backend/app/api/auth/schemas.py
  backend/app/api/auth/services/user_manager.py
  backend/app/api/background_data/crud.py
  backend/app/api/background_data/models.py
  backend/app/api/background_data/schemas.py
  backend/app/api/common/models/base.py
  backend/app/api/data_collection/crud.py
  backend/app/api/data_collection/models.py
  backend/app/api/file_storage/crud.py
  backend/app/api/file_storage/models/models.py
  backend/pyproject.toml
  backend/scripts/backup/rclone_backup.sh
  backend/scripts/seed/dummy_data.py
  backend/tests/conftest.py
  backend/uv.lock
Due: backend-alembic-autogen-check

fix(backend): Update devcontainer and vscode settings for use of ty for type checking
  .devcontainer/backend/devcontainer.json
  .devcontainer/devcontainer.json
  backend/.vscode/extensions.json
  backend/.vscode/settings.json
Due: none

fix(backend): Some type issue fixes
  .pre-commit-config.yaml
  backend/app/api/auth/models.py
  backend/app/api/background_data/models.py
  backend/app/api/background_data/routers/admin.py
  backend/app/api/background_data/schemas.py
  backend/app/api/common/models/base.py
  backend/app/api/common/models/custom_types.py
  backend/app/api/data_collection/models.py
  backend/scripts/seed/taxonomies/common.py
  backend/scripts/seed/taxonomies/cpv.py
  backend/scripts/seed/taxonomies/harmonized_system.py
Due: backend-alembic-autogen-check

fix(backend): Type fixes after ty linting - alembic migrations
  backend/alembic/versions/33b00b31e537_initial.py
  backend/alembic/versions/65da9d7e309c_increase_string_fields_max_length.py
  backend/alembic/versions/95cc94317b69_add_version_to_taxonomy_model.py
  backend/alembic/versions/b43d157d07f1_add_basic_circularity_properties_model.py
Due: backend-alembic-autogen-check

feature(backend): WIP: test suite
  backend/tests/api/__init__.py
  backend/tests/api/test_background_data_endpoints.py
  backend/tests/conftest.py
  backend/tests/factories/__init__.py
  backend/tests/factories/emails.py
  backend/tests/factories/models.py
  backend/tests/fixtures/__init__.py
  backend/tests/fixtures/client.py
  backend/tests/fixtures/data.py
  backend/tests/fixtures/database.py
  backend/tests/fixtures/migrations.py
  backend/tests/integration/__init__.py
  backend/tests/integration/test_auth_models.py
  backend/tests/integration/test_background_data_models.py
  backend/tests/integration/test_database_operations.py
  backend/tests/test_main.py
  backend/tests/test_migrations.py
  backend/tests/unit/__init__.py
  backend/tests/unit/auth/test_auth_utils.py
  backend/tests/unit/background_data/test_background_data_crud.py
  backend/tests/unit/data_collection/test_data_collection_crud.py
  backend/tests/unit/emails/__init__.py
  backend/tests/unit/emails/test_programmatic_emails.py
  backend/tests/unit/test_auth_exceptions.py
  backend/tests/unit/test_background_data_schemas.py
  backend/tests/unit/test_common_utils.py
  backend/tests/unit/test_core_config.py
  backend/tests/unit/test_data_collection_schemas.py
  backend/tests/unit/test_ownership_validation.py
  backend/tests/unit/test_validation_patterns.py
Due: none

fix(backend): some type fixes in scripts
  backend/scripts/seed/dummy_data.py
  backend/scripts/seed/taxonomies/common.py
  backend/scripts/seed/taxonomies/cpv.py
  backend/scripts/seed/taxonomies/harmonized_system.py
Due: none

fix(backend): Some type and linting fixes
  backend/app/api/auth/utils/programmatic_emails.py
  backend/app/api/background_data/schemas.py
  backend/app/api/common/models/custom_types.py
  backend/app/api/file_storage/models/custom_types.py
  backend/app/api/plugins/rpi_cam/services.py
  backend/app/main.py
Due: backend-alembic-autogen-check

feature(docker): Create publicly available test env
  .env.example
  backend/scripts/db_is_empty.py
  backend/scripts/seed/dummy_data.py
  backend/scripts/seed/migrations_entrypoint.sh
  compose.test.yml
Due: none

fix(docker): More explicit cloudflare tunnel token definitions
  .env.example
  compose.prod.yml
  compose.staging.yml
Due: none

fix(ci): Add pytest cache to root-level .gitignore
  .gitignore
Due: none

feature(backend): Implement environment variables (dev, testing, staging, prod)
  backend/app/api/auth/services/user_manager.py
  backend/app/api/auth/utils/email_config.py
  backend/app/core/config.py
  compose.override.yml
  compose.prod.yml
  compose.staging.yml
Due: backend-alembic-autogen-check

fix(backend): Update minimum python version
  pyproject.toml
Due: none

fix(ci): Update ty config for VS code
  .vscode/settings.json
Due: none

fix(backend): Simplify alembic config
  backend/alembic.ini
  backend/alembic/env.py
  backend/pyproject.toml
Due: backend-alembic-autogen-check

feature(backend): Implement session-based auth with Redis database
  backend/app/api/auth/config.py
  backend/app/api/auth/crud/__init__.py
  backend/app/api/auth/crud/organizations.py
  backend/app/api/auth/crud/users.py
  backend/app/api/auth/dependencies.py
  backend/app/api/auth/exceptions.py
  backend/app/api/auth/filters.py
  backend/app/api/auth/models.py
  backend/app/api/auth/routers/admin/organizations.py
  backend/app/api/auth/routers/admin/users.py
  backend/app/api/auth/routers/auth.py
  backend/app/api/auth/routers/frontend.py
  backend/app/api/auth/routers/oauth.py
  backend/app/api/auth/routers/organizations.py
  backend/app/api/auth/routers/refresh.py
  backend/app/api/auth/routers/register.py
  backend/app/api/auth/routers/sessions.py
  backend/app/api/auth/routers/users.py
  backend/app/api/auth/schemas.py
  backend/app/api/auth/services/oauth.py
  backend/app/api/auth/services/refresh_token_service.py
  backend/app/api/auth/services/session_service.py
  backend/app/api/auth/services/user_manager.py
  backend/app/api/auth/utils/context_managers.py
  backend/app/api/auth/utils/programmatic_user_crud.py
Due: backend-alembic-autogen-check

feature(backend): Suppress sending emails in dev and testing env
  backend/app/api/auth/utils/email_config.py
Due: backend-alembic-autogen-check

feature(backend): Add last login and ip to user model for session control
  backend/alembic/versions/4c248b3004c6_add_last_login_tracking_fields_to_user_.py
Due: backend-alembic-autogen-check

Path conditions:
  backend-alembic-autogen-check: any of: ^(backend/(app|alembic)/|alembic\.ini$)
  frontend-web-lint: any of: ^frontend-web\/.*\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?)$
  frontend-app-lint: any of: ^frontend-app\/.*\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?)$
