Repository CMLPlatform/relab: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-alembic-autogen-check, frontend-web-lint, frontend-app-lint

backend-alembic-autogen-check:
  name: check alembic migrations
  entry: bash -c 'cd backend && uv run alembic-autogen-check'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

frontend-web-lint:
  name: lint frontend-web code
  entry: bash -c 'cd frontend-web && npm run lint'
  language: system
  pass_filenames: false

frontend-app-lint:
  name: lint frontend-app code
  entry: bash -c 'cd frontend-app && npm run lint'
  language: system
  pass_filenames: false

docs: Update doc on raspberry pi camera integration; fix linting
  docs/docs/architecture/c4-diagrams.md
  docs/docs/architecture/rpi-cam.md
  docs/docs/architecture/system-design.md
  docs/docs/user-guides/rpi-cam.md
  docs/uv.lock
Due: none

fix(backend): refactor for maintainability, add theme picker
  frontend-app/src/app/(auth)/login.tsx
  frontend-app/src/app/(auth)/new-account.tsx
  frontend-app/src/app/(auth)/onboarding.tsx
  frontend-app/src/app/_layout.tsx
  frontend-app/src/app/products/[id]/index.tsx
  frontend-app/src/app/products/index.tsx
  frontend-app/src/app/profile.tsx
  frontend-app/src/components/common/AnimatedBackground.tsx
  frontend-app/src/components/common/CPVCard.tsx
  frontend-app/src/components/product/ProductTags.tsx
  frontend-app/src/components/product/ProductVideo.tsx
  frontend-app/src/config.ts
  frontend-app/src/context/ThemeModeProvider.tsx
  frontend-app/src/hooks/useAppTheme.ts
  frontend-app/src/hooks/useProductForm.ts
  frontend-app/src/services/api/authentication.ts
  frontend-app/src/services/api/media.ts
  frontend-app/src/services/api/validation/productSchema.ts
  frontend-app/src/test-utils/api-mocks.ts
  frontend-app/src/test-utils/render.tsx
  frontend-app/src/types/Product.ts
  frontend-app/src/types/User.ts
  frontend-app/src/types/api.generated.ts
Due: frontend-app-lint

test(frontend-app): Update tests
  frontend-app/e2e/helpers.ts
  frontend-app/e2e/sort-filter.spec.ts
  frontend-app/playwright.config.ts
  frontend-app/src/app/(auth)/__tests__/new-account-test.tsx
  frontend-app/src/app/__tests__/profile-test.tsx
  frontend-app/src/components/product/__tests__/ProductImage-test.tsx
  frontend-app/src/services/api/__tests__/media-test.ts
  frontend-app/src/services/api/validation/__tests__/productSchema-test.ts
Due: frontend-app-lint

chore(frontend-app): Update deps and env files
  frontend-app/.env.development
  frontend-app/.env.production
  frontend-app/.env.staging
  frontend-app/.env.test
  frontend-app/app.json
  frontend-app/package-lock.json
  frontend-app/package.json
Due: frontend-app-lint

ci: simplify backend healthcheck
  compose.e2e.yml
Due: none

ci: use gitignore in cspell config
  .cspell.yaml
Due: none

docs: add rpi-cam install guide
  INSTALL.md
Due: none

chore: update root uv lock
  uv.lock
Due: none

test(frontend-app): Fix e2e tests
  frontend-app/e2e/profile.spec.ts
  frontend-app/e2e/sort-filter.spec.ts
  frontend-app/src/app/__tests__/profile-test.tsx
Due: frontend-app-lint

fix(docker): Copy overrides into docs image
  docs/Dockerfile
Due: none

fix(frontend-app): update RPI-cam API key instructions
  frontend-app/src/app/cameras/[id].tsx
  frontend-app/src/app/cameras/add.tsx
Due: frontend-app-lint

refactor(backend): Simplify file storage and category crud
  backend/app/api/background_data/crud/materials.py
  backend/app/api/background_data/crud/product_types.py
  backend/app/api/background_data/routers/public_categories.py
  backend/app/api/data_collection/crud/storage.py
  backend/app/api/file_storage/crud/__init__.py
  backend/tests/unit/file_storage/test_file_storage_crud.py
Due: backend-alembic-autogen-check

refactor: Remove unused filters and simplify API responses for organizations, users, materials, and product types
  backend/app/api/auth/filters.py
  backend/app/api/auth/routers/admin/organizations.py
  backend/app/api/auth/routers/admin/users.py
  backend/app/api/auth/schemas.py
  backend/app/api/background_data/filters.py
  backend/app/api/background_data/routers/public_categories.py
  backend/app/api/background_data/routers/public_materials.py
  backend/app/api/background_data/routers/public_product_types.py
  backend/app/api/background_data/routers/public_taxonomies.py
  backend/app/api/background_data/schemas.py
  backend/app/api/common/schemas/base.py
Due: backend-alembic-autogen-check

fix: Pin slowapi fork
  backend/pyproject.toml
Due: none

refactor: Remove unused streaming functions and simplify camera interaction routes
  backend/app/api/plugins/rpi_cam/routers/camera_interaction/images.py
  backend/app/api/plugins/rpi_cam/routers/camera_interaction/streams.py
  backend/app/api/plugins/rpi_cam/routers/camera_interaction/utils.py
  backend/tests/unit/plugins/rpi_cam/test_camera_interaction_utils.py
  backend/tests/unit/plugins/rpi_cam/test_routers_streams.py
Due: backend-alembic-autogen-check

test(backend): Update OpenAPI endpoint tests for improved parameter validation and clarity
  backend/tests/integration/api/test_openapi_endpoints.py
Due: none

refactor(frontend-app) Remove MJPEG streaming functionality and simplify camera preview logic
  frontend-app/src/hooks/useRpiCameras.ts
  frontend-app/src/services/api/rpiCamera.ts
Due: frontend-app-lint

chore(backend): Update lockfile
  backend/uv.lock
Due: none

fix: process github security audit issues
  backend/app/api/auth/filters.py
  backend/app/api/auth/routers/admin/organizations.py
  backend/app/api/auth/schemas.py
  backend/app/api/background_data/crud/materials.py
  backend/app/api/background_data/crud/product_types.py
  backend/app/api/background_data/routers/public_taxonomies.py
  backend/app/api/background_data/schemas.py
  backend/app/api/common/schemas/custom_fields.py
  backend/app/api/data_collection/crud/material_links.py
  backend/app/api/data_collection/models/base.py
  backend/app/api/file_storage/crud/__init__.py
  backend/app/api/file_storage/routers/__init__.py
  backend/app/api/plugins/rpi_cam/routers/camera_interaction/streams.py
  backend/app/api/plugins/rpi_cam/routers/pairing.py
  backend/app/api/plugins/rpi_cam/websocket/router.py
Due: backend-alembic-autogen-check

ci: Enhance production and staging stack commands with optional profiles and confirmation checks
  justfile
Due: none

update cspell config
  .cspell.yaml
Due: none

ci: Update OpenTelemetry configuration and enable tracing in staging environment
  .env.example
  backend/.env.dev.example
  backend/.env.prod.example
  backend/.env.staging.example
  compose.prod.yml
  compose.staging.yml
  otel-collector-config.yaml
Due: none

infra: clean up extensions
  .vscode/extensions.json
Due: none

test(backend): update tests
  backend/tests/integration/api/auth/test_admin_routers.py
  backend/tests/integration/models/test_data_collection_models.py
  backend/tests/unit/file_storage/test_file_storage_crud.py
  backend/tests/unit/plugins/rpi_cam/test_camera_interaction_utils.py
  backend/tests/unit/plugins/rpi_cam/test_pairing_router.py
  backend/tests/unit/plugins/rpi_cam/test_routers_streams.py
  backend/tests/unit/plugins/rpi_cam/test_websocket_router.py
Due: none

refactor: remove unused MJPEG streaming functionality and clean up related code
  backend/app/templates/plugins/rpi_cam/remote_stream_viewer.html
  backend/scripts/plugins/rpi_cam/webcam_fake_camera.py
  backend/tests/unit/file_storage/test_file_storage_crud.py
  backend/tests/unit/plugins/rpi_cam/test_pairing_router.py
  backend/tests/unit/plugins/rpi_cam/test_routers_streams.py
  backend/tests/unit/plugins/rpi_cam/test_websocket_router.py
Due: backend-alembic-autogen-check

docs: update installation and user guide for clarity on WebSocket relay setup
  INSTALL.md
  docs/docs/user-guides/rpi-cam.md
  frontend-app/src/app/cameras/[id].tsx
  frontend-app/src/app/cameras/add.tsx
  frontend-app/src/components/product/ProductImageGallery.tsx
Due: frontend-app-lint

fix(frontend-app): update documented default location of websocket creds
  frontend-app/src/app/cameras/[id].tsx
  frontend-app/src/app/cameras/add.tsx
Due: frontend-app-lint

refactor(backend): migrate all models from SQLModel to SQLAlchemy 2.0
  backend/alembic/env.py
  backend/app/api/auth/models.py
  backend/app/api/auth/services/sqlmodel_user_database.py
  backend/app/api/background_data/models.py
  backend/app/api/common/models/associations.py
  backend/app/api/common/models/base.py
  backend/app/api/common/schemas/associations.py
  backend/app/api/data_collection/models/base.py
  backend/app/api/data_collection/models/product.py
  backend/app/api/data_collection/validators.py
  backend/app/api/file_storage/models/__init__.py
  backend/app/api/newsletter/models.py
  backend/app/api/plugins/rpi_cam/crud.py
  backend/app/api/plugins/rpi_cam/models.py
  backend/app/api/plugins/rpi_cam/routers/camera_crud.py
  backend/app/api/plugins/rpi_cam/routers/camera_interaction/streams.py
  backend/app/api/plugins/rpi_cam/routers/camera_interaction/utils.py
  backend/app/api/plugins/rpi_cam/services.py
  backend/app/api/plugins/rpi_cam/websocket/router.py
  backend/app/core/database.py
  backend/app/core/model_registry.py
  backend/tests/conftest.py
  backend/tests/integration/flows/test_rpi_cam_flow.py
  backend/tests/unit/common/test_mutable_model_properties.py
  backend/tests/unit/core/test_model_registry.py
  backend/tests/unit/data_collection/test_product_logic.py
Due: backend-alembic-autogen-check

refactor(docker): optimize COPY commands
  backend/Dockerfile
  backend/Dockerfile.dev
  backend/Dockerfile.migrations
  docs/Dockerfile
Due: none

ci: simplify ci
  .github/actions/detect-ci-changes/action.yml
  .github/actions/detect-security-changes/action.yml
  .github/actions/setup-node-just/action.yml
  .github/actions/setup-python-just/action.yml
  .github/actions/upload-codecov/action.yml
  .github/workflows/ci.yml
  .github/workflows/perf-baseline.yml
  .github/workflows/security.yml
Due: none

refactor(backend): replace custom slowapi fork with in-house limiter to drop dependencies
  backend/Dockerfile
  backend/Dockerfile.dev
  backend/Dockerfile.migrations
  backend/app/api/auth/services/rate_limiter.py
  backend/pyproject.toml
Due: backend-alembic-autogen-check

feat(rpi_cam): simplify rpi-cam plugin
  INSTALL.md
  backend/app/api/plugins/rpi_cam/constants.py
  backend/app/api/plugins/rpi_cam/models.py
  backend/app/api/plugins/rpi_cam/routers/camera_interaction/__init__.py
  backend/app/api/plugins/rpi_cam/routers/camera_interaction/images.py
  backend/app/api/plugins/rpi_cam/routers/camera_interaction/remote_management.py
  backend/app/api/plugins/rpi_cam/routers/camera_interaction/streams.py
  backend/app/api/plugins/rpi_cam/routers/camera_interaction/utils.py
  backend/app/api/plugins/rpi_cam/routers/pairing.py
  backend/app/api/plugins/rpi_cam/schemas/streaming.py
  backend/app/api/plugins/rpi_cam/services.py
  backend/app/api/plugins/rpi_cam/websocket/router.py
Due: backend-alembic-autogen-check

test(backend): Update tests
  backend/tests/fixtures/client.py
  backend/tests/fixtures/database.py
  backend/tests/integration/core/test_file_cleanup_manager.py
  backend/tests/integration/core/test_migrations.py
  backend/tests/unit/auth/test_org_crud.py
  backend/tests/unit/auth/test_rate_limiter.py
  backend/tests/unit/auth/test_user_crud.py
  backend/tests/unit/background_data/test_background_data_filters.py
  backend/tests/unit/common/test_exceptions.py
  backend/tests/unit/common/test_mutable_model_properties.py
  backend/tests/unit/common/test_schema_field_mixins.py
  backend/tests/unit/core/test_model_registry.py
  backend/tests/unit/data_collection/test_crud.py
  backend/tests/unit/data_collection/test_product_logic.py
  backend/tests/unit/file_storage/test_file_storage_crud.py
  backend/tests/unit/file_storage/test_presentation.py
  backend/tests/unit/plugins/rpi_cam/test_camera_interaction_utils.py
  backend/tests/unit/plugins/rpi_cam/test_crud.py
  backend/tests/unit/plugins/rpi_cam/test_models.py
  backend/tests/unit/plugins/rpi_cam/test_pairing_router.py
  backend/tests/unit/plugins/rpi_cam/test_router_surface.py
  backend/tests/unit/plugins/rpi_cam/test_routers_streams.py
  backend/tests/unit/plugins/rpi_cam/test_services.py
  backend/tests/unit/plugins/rpi_cam/test_services_contract_boundary.py
Due: none

docs: update sqlmodel -> sqlalchemy
  docs/docs/architecture/c4-diagrams.md
  docs/docs/architecture/system-design.md
  docs/docs/user-guides/rpi-cam.md
Due: none

test(frontend-app): fix failing tests and add coverage
  frontend-app/e2e/gallery.spec.ts
  frontend-app/e2e/helpers.ts
  frontend-app/src/app/(auth)/__tests__/onboarding-test.tsx
  frontend-app/src/app/__tests__/profile-test.tsx
  frontend-app/src/app/cameras/[id].tsx
  frontend-app/src/app/cameras/__tests__/[id]-test.tsx
  frontend-app/src/app/cameras/__tests__/add-test.tsx
  frontend-app/src/app/cameras/__tests__/index-test.tsx
  frontend-app/src/app/cameras/add.tsx
  frontend-app/src/app/products/[id]/__tests__/index-state-test.tsx
  frontend-app/src/components/cameras/QrScanner.tsx
  frontend-app/src/components/cameras/__tests__/QrScanner-test.tsx
  frontend-app/src/components/product/ProductImageGallery.tsx
  frontend-app/src/components/product/__tests__/ProductImage-test.tsx
  frontend-app/src/hooks/__tests__/useRpiCameras-test.tsx
  frontend-app/src/hooks/__tests__/useRpiIntegration-test.tsx
  frontend-app/src/hooks/useRpiCameras.ts
  frontend-app/src/services/api/__tests__/fetching-test.ts
  frontend-app/src/services/api/__tests__/rpiCamera-test.ts
  frontend-app/src/services/api/__tests__/saving-test.ts
  frontend-app/src/services/api/rpiCamera.ts
  frontend-app/src/types/api.generated.ts
Due: frontend-app-lint

feat(frontend-app): add CSP_API_ORIGIN environment variable for staging and update Caddyfile
  compose.staging.yml
  frontend-app/Caddyfile
  frontend-app/Dockerfile
Due: none

update compose files
  compose.ci.yml
  compose.e2e.yml
  compose.override.yml
  compose.prod.yml
  compose.staging.yml
  compose.yml
Due: none

fix backend logs
  backend/app/core/logging.py
  backend/tests/integration/core/test_logging.py
Due: backend-alembic-autogen-check

Path conditions:
  backend-alembic-autogen-check: any of: ^(backend/(app|alembic)/|alembic\.ini$)
  frontend-web-lint: any of: ^frontend-web\/.*\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?)$
  frontend-app-lint: any of: ^frontend-app\/.*\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?)$
