Repository CMLPlatform/relab: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-alembic-autogen-check, frontend-web-lint, frontend-app-lint

backend-alembic-autogen-check:
  name: check alembic migrations
  entry: bash -c 'cd backend && uv run alembic-autogen-check'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

frontend-web-lint:
  name: lint frontend-web code
  entry: bash -c 'cd frontend-web && npm run lint'
  language: system
  pass_filenames: false

frontend-app-lint:
  name: lint frontend-app code
  entry: bash -c 'cd frontend-app && npm run lint'
  language: system
  pass_filenames: false

feature(backend): Overhaul backend auth (remove sessions, override oauth implementation to allow functionality with frontend, improve refresh token functionality
  backend/app/api/auth/models.py
  backend/app/api/auth/routers/auth.py
  backend/app/api/auth/routers/custom_oauth.py
  backend/app/api/auth/routers/oauth.py
  backend/app/api/auth/routers/refresh.py
  backend/app/api/auth/routers/sessions.py
  backend/app/api/auth/schemas.py
  backend/app/api/auth/services/oauth.py
  backend/app/api/auth/services/refresh_token_service.py
  backend/app/api/auth/services/session_service.py
  backend/app/api/auth/services/user_manager.py
Due: backend-alembic-autogen-check

fix(backend): Small linting fixes
  backend/app/api/auth/utils/email_config.py
  backend/app/api/common/routers/health.py
  backend/app/api/data_collection/routers.py
  backend/app/api/file_storage/crud.py
  backend/app/api/file_storage/models/models.py
  backend/app/core/cache.py
Due: backend-alembic-autogen-check

fix(backend): Small linting fixes in scripts
  backend/scripts/db_is_empty.py
  backend/scripts/seed/dummy_data.json
  backend/scripts/seed/dummy_data.py
Due: none

fix(backend): Update tests
  backend/tests/conftest.py
  backend/tests/factories/emails.py
  backend/tests/fixtures/migrations.py
  backend/tests/fixtures/redis.py
  backend/tests/integration/api/test_auth_endpoints.py
  backend/tests/integration/api/test_data_collection_endpoints.py
  backend/tests/integration/core/test_migrations.py
  backend/tests/integration/flows/test_auth_flows.py
  backend/tests/integration/models/test_auth_models.py
  backend/tests/unit/auth/test_refresh_token_service.py
  backend/tests/unit/auth/test_session_service.py
  backend/tests/unit/core/test_fastapi_cache.py
  backend/tests/unit/core/test_redis.py
  backend/tests/unit/emails/test_programmatic_emails.py
  backend/tests/unit/file_storage/test_file_storage_crud.py
  backend/tests/unit/plugins/rpi_cam/test_routers_streams.py
Due: none

fix(backend): Add test deps
  backend/pyproject.toml
Due: none

fix(frontend-app): Integrate new backend auth
  frontend-app/src/app/(auth)/login.tsx
  frontend-app/src/app/(auth)/onboarding.tsx
  frontend-app/src/app/(tabs)/_layout.tsx
  frontend-app/src/app/(tabs)/products.tsx
  frontend-app/src/app/(tabs)/profile.tsx
  frontend-app/src/app/products/[id]/camera.tsx
  frontend-app/src/components/product/ProductCircularityProperties.tsx
  frontend-app/src/components/product/ProductVideo.tsx
  frontend-app/src/services/api/authentication.ts
  frontend-app/src/services/api/fetching.ts
  frontend-app/src/services/api/saving.ts
Due: frontend-app-lint

fix(frontend-app): add health endpoint
  frontend-app/src/app/health.tsx
Due: frontend-app-lint

fix(frontend-app): Add eslintcache to gitignore
  frontend-app/.gitignore
Due: none

fix(ci): Update compose files (add healthchecks, add frontend-web staging, update docs service
  compose.override.yml
  compose.staging.yml
  compose.yml
Due: none

chore: update lockfiles
  backend/uv.lock
  docs/uv.lock
  frontend-app/package-lock.json
  uv.lock
Due: frontend-app-lint

fix(ci): Update staging config
  compose.staging.yml
  frontend-app/.env.development
  frontend-app/.env.production
  frontend-app/.env.staging
  frontend-app/.gitignore
  frontend-app/Dockerfile
  frontend-web/.env.development
  frontend-web/.env.production
  frontend-web/.env.staging
  frontend-web/src/pages/index.astro
Due: none

fix(backend): Fix backend migrations uploading files to wrong volume and let filenotfounderrors fail gracefully
  backend/app/api/file_storage/crud.py
  backend/app/api/file_storage/models/custom_types.py
  backend/app/api/file_storage/models/models.py
  backend/app/api/file_storage/schemas.py
  backend/scripts/seed/dummy_data.py
  compose.yml
Due: backend-alembic-autogen-check

fix(ci): Fix CORS issues in staging env
  backend/Dockerfile
  backend/app/core/config.py
  backend/app/main.py
  backend/tests/unit/core/test_config.py
  compose.prod.yml
  compose.staging.yml
  frontend-app/Dockerfile
Due: backend-alembic-autogen-check

fix(ci): Add staging env for docs
  compose.staging.yml
  docs/Dockerfile
  docs/Dockerfile.dev
  frontend-app/.env.staging
  frontend-web/.env.staging
Due: none

fix(backend): Remove ALLOWED_ORIGINS env var
  backend/.env.example
  backend/app/core/config.py
  backend/app/main.py
  backend/tests/unit/core/test_config.py
Due: backend-alembic-autogen-check

fix: Make root gitignore stricter
  .gitignore
Due: none

fix(ci): Add shellcheck
  .pre-commit-config.yaml
Due: none

fix(ci): Update gitignores
  .gitignore
  backend/.gitignore
  docs/.gitignore
  frontend-app/.gitignore
  frontend-web/.gitignore
Due: none

fix(infra): Update devcontainer config
  .devcontainer/backend/devcontainer.json
  .devcontainer/devcontainer.json
  .devcontainer/docs/devcontainer.json
  .devcontainer/frontend-web/devcontainer.json
Due: none

fix(docker): Update dockerignores
  docs/.dockerignore
  frontend-app/.dockerignore
  frontend-web/.dockerignore
Due: none

fix(ci): Fix backend ruff config so that it is correctly parsed when invoked from the repo root
  backend/alembic/env.py
  backend/alembic/versions/07d992454431_add_fks.py
  backend/alembic/versions/0faa2fa19f62_move_from_weight_kg_to_weight_g.py
  backend/alembic/versions/33b00b31e537_initial.py
  backend/alembic/versions/4c248b3004c6_add_last_login_tracking_fields_to_user_.py
  backend/alembic/versions/65da9d7e309c_increase_string_fields_max_length.py
  backend/alembic/versions/84d2f72dccc7_simplify_circularity_properties_model.py
  backend/alembic/versions/95cc94317b69_add_version_to_taxonomy_model.py
  backend/alembic/versions/b43d157d07f1_add_basic_circularity_properties_model.py
  backend/pyproject.toml
Due: backend-alembic-autogen-check

fix(cd): Improve dotenv setup
  .env.example
  backend/.env.dev.example
  backend/.env.prod.example
  backend/.env.staging.example
  backend/.env.test
  backend/app/api/auth/config.py
  backend/app/core/config.py
  backend/app/core/env.py
  backend/local_setup.sh
  backend/scripts/backup/backup_pg_database.sh
  backend/tests/conftest.py
  frontend-app/.env.development
  frontend-app/.env.production
  frontend-app/.env.test
  frontend-web/.env.dev
  frontend-web/.env.prod
  frontend-web/.env.staging
  frontend-web/.env.test
  frontend-web/.gitignore
  frontend-web/Dockerfile
Due: backend-alembic-autogen-check

fix(infra): Update devcontainer docs
  .devcontainer/backend/devcontainer.json
  .devcontainer/devcontainer.json
  .devcontainer/frontend-app/devcontainer.json
  .devcontainer/frontend-web/devcontainer.json
Due: none

fix(ci): Update docker compose setup (add ci and e2e compose files), update dev setup to use docker watch instead of stnadard compose up, add github actions caching)
  compose.ci.yml
  compose.e2e.yml
  compose.override.yml
  compose.prod.yml
  compose.staging.yml
Due: none

fix(ci): Update dockerfiles (move healthchecks to Dockerfiles, pin python images, use caddy for serving docs, frontend-app, and frontend-web)
  backend/Dockerfile
  backend/Dockerfile.dev
  backend/Dockerfile.migrations
  backend/Dockerfile.user-upload-backups
  compose.yml
  docs/Caddyfile
  docs/Dockerfile
  docs/Dockerfile.dev
  docs/__init__.py
  docs/main.py
  docs/pyproject.toml
  docs/uv.lock
  frontend-app/Caddyfile
  frontend-app/Dockerfile
  frontend-app/Dockerfile.dev
  frontend-web/Caddyfile
  frontend-web/Dockerfile
  frontend-web/Dockerfile.dev
Due: none

fix(backend): Update scripts
  backend/scripts/backup/backup_pg_database.sh
  backend/scripts/backup/rclone_backup.sh
  backend/scripts/backup/rsync_backup.sh
  backend/scripts/db_is_empty.py
  backend/scripts/local_setup.sh
  backend/scripts/seed/dummy_data.py
  backend/scripts/seed/migrations_entrypoint.sh
Due: none

fix(backend): Update oauth backend to propagate errors to frontend
  backend/app/api/auth/config.py
  backend/app/api/auth/routers/oauth.py
  backend/app/api/auth/routers/refresh.py
  backend/app/api/auth/schemas.py
  backend/app/api/auth/services/oauth.py
  backend/app/main.py
Due: backend-alembic-autogen-check

fix(backend): Implement Pydantic SecretStr for relevant model and schema fields
  backend/app/api/auth/schemas.py
  backend/app/api/plugins/rpi_cam/models.py
  backend/app/api/plugins/rpi_cam/schemas.py
Due: backend-alembic-autogen-check

fix(backend): Use new env file config for rpi_cam_plugin
  backend/app/api/plugins/rpi_cam/config.py
Due: backend-alembic-autogen-check

fix(backend): Replace tldextract dependency with built in url parsing
  backend/app/api/auth/services/user_manager.py
  backend/pyproject.toml
Due: backend-alembic-autogen-check

fix(backend): Update backend UI to work with new auth setup, update styling
  backend/app/static/css/styles.css
  backend/app/templates/index.html
  backend/app/templates/login.html
Due: backend-alembic-autogen-check

fix(docs): Update documentation, add justfile
  docs/README.md
  docs/docs/architecture/deployment.md
  docs/justfile
  docs/zensical.toml
Due: none

fix(frontend-app): Update frontend-app deps, add justfile)
  frontend-app/.gitignore
  frontend-app/app.json
  frontend-app/justfile
  frontend-app/package-lock.json
  frontend-app/package.json
Due: frontend-app-lint

feature(frontend-app): add e2e test skeleton
  frontend-app/e2e/auth.spec.ts
  frontend-app/e2e/products.spec.ts
  frontend-app/jest.config.ts
  frontend-app/jest.setup.ts
  frontend-app/playwright.config.ts
  frontend-app/src/app/(auth)/__tests__/forgot-password-test.tsx
  frontend-app/src/app/(auth)/__tests__/login-test.tsx
  frontend-app/src/app/(auth)/__tests__/new-account-test.tsx
  frontend-app/src/app/(auth)/__tests__/onboarding-test.tsx
  frontend-app/src/app/(auth)/__tests__/reset-password-test.tsx
  frontend-app/src/app/(auth)/__tests__/verify-test.tsx
  frontend-app/src/app/(auth)/login.tsx
  frontend-app/src/app/(auth)/new-account.tsx
  frontend-app/src/app/(tabs)/__tests__/_layout-test.tsx
  frontend-app/src/app/(tabs)/__tests__/products-test.tsx
  frontend-app/src/app/(tabs)/__tests__/profile-test.tsx
  frontend-app/src/app/__tests__/health-test.tsx
  frontend-app/src/app/__tests__/index-test.tsx
  frontend-app/src/assets/images/logo-cml.jpg
Due: frontend-app-lint

fix(frontend-app): Update api fetching based on new backend auth
  frontend-app/src/services/api/authentication.ts
Due: frontend-app-lint

feature(frontend-app): Add basic test suite
  frontend-app/src/app/products/[id]/__tests__/brand_selection-test.tsx
  frontend-app/src/app/products/[id]/__tests__/category_selection-test.tsx
  frontend-app/src/components/base/__tests__/Chip-test.tsx
  frontend-app/src/components/base/__tests__/InfoTooltip-test.tsx
  frontend-app/src/components/base/__tests__/LocalizedFloatInput-test.tsx
  frontend-app/src/components/base/__tests__/TextInput-test.tsx
  frontend-app/src/components/common/__tests__/CPVCard-test.tsx
  frontend-app/src/components/common/__tests__/DialogProvider-test.tsx
  frontend-app/src/components/common/__tests__/ProductCard-test.tsx
  frontend-app/src/components/product/__tests__/ProductAmountInParent-test.tsx
  frontend-app/src/components/product/__tests__/ProductCircularityProperties-test.tsx
  frontend-app/src/components/product/__tests__/ProductComponents-test.tsx
  frontend-app/src/components/product/__tests__/ProductDelete-test.tsx
  frontend-app/src/components/product/__tests__/ProductDescription-test.tsx
  frontend-app/src/components/product/__tests__/ProductImage-test.tsx
  frontend-app/src/components/product/__tests__/ProductMetaData-test.tsx
  frontend-app/src/components/product/__tests__/ProductPhysicalProperties-test.tsx
  frontend-app/src/components/product/__tests__/ProductTags-test.tsx
  frontend-app/src/components/product/__tests__/ProductType-test.tsx
  frontend-app/src/components/product/__tests__/ProductVideo-test.tsx
  frontend-app/src/services/api/__tests__/authentication-test.ts
  frontend-app/src/services/api/__tests__/fetching-test.ts
  frontend-app/src/services/api/__tests__/saving-test.ts
  frontend-app/src/services/api/validation/__tests__/product-test.ts
  frontend-app/src/services/api/validation/__tests__/user-test.ts
  frontend-app/src/services/media/__tests__/imageProcessing-test.ts
  frontend-app/src/test-utils/api-mocks.ts
  frontend-app/src/test-utils/index.ts
  frontend-app/src/test-utils/render.tsx
  frontend-app/src/test-utils/server.ts
Due: frontend-app-lint

feature(frontend-web): Add e2e tests, small fixes
  frontend-web/.vscode/settings.json
  frontend-web/e2e/accessibility.spec.ts
  frontend-web/e2e/health.spec.ts
  frontend-web/e2e/index.spec.ts
  frontend-web/e2e/newsletter/confirm.spec.ts
  frontend-web/e2e/newsletter/unsubscribe-form.spec.ts
  frontend-web/e2e/newsletter/unsubscribe.spec.ts
  frontend-web/e2e/not-found.spec.ts
  frontend-web/e2e/privacy.spec.ts
  frontend-web/e2e/responsive.spec.ts
  frontend-web/justfile
  frontend-web/package-lock.json
  frontend-web/package.json
  frontend-web/playwright.config.ts
  frontend-web/src/pages/index.astro
  frontend-web/src/utils/url.test.ts
  frontend-web/vitest.config.ts
Due: frontend-web-lint

fix(backend): Simplify config
  backend/app/core/config.py
  backend/tests/conftest.py
Due: backend-alembic-autogen-check

fix(backend): Small updates
  backend/.vscode/settings.json
  backend/app/api/file_storage/crud.py
  backend/justfile
  backend/pyproject.toml
  backend/uv.lock
Due: backend-alembic-autogen-check

fix: Update root justfile
  justfile
Due: none

Path conditions:
  backend-alembic-autogen-check: any of: ^(backend/(app|alembic)/|alembic\.ini$)
  frontend-web-lint: any of: ^frontend-web\/.*\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?)$
  frontend-app-lint: any of: ^frontend-app\/.*\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?)$
