Repository CMLPlatform/relab: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-alembic-autogen-check, frontend-web-lint, frontend-app-lint

Path conditions:
  backend-alembic-autogen-check: any of: ^(backend/(app|alembic)/|alembic\.ini$)
  frontend-web-lint: any of: ^frontend-web\/.*\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?)$
  frontend-app-lint: any of: ^frontend-app\/.*\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?)$

fix: refactor file storage service to directly call storage functions
  backend/app/api/file_storage/crud/__init__.py
  backend/app/api/file_storage/models/storage.py
  backend/tests/fixtures/client.py
  backend/tests/fixtures/data.py
  backend/tests/fixtures/redis.py
  backend/tests/integration/core/test_lifespan.py
  backend/tests/unit/file_storage/test_file_storage_crud.py
Due: backend-alembic-autogen-check

feat: add YouTube live streaming integration and local connection support for RPi cameras
  frontend-app/src/app/_layout.tsx
  frontend-app/src/app/cameras/[id].tsx
  frontend-app/src/app/cameras/index.tsx
  frontend-app/src/app/products/[id]/index.tsx
  frontend-app/src/app/profile.tsx
  frontend-app/src/components/cameras/LivePreview.tsx
  frontend-app/src/components/cameras/YouTubeStreamCard.tsx
  frontend-app/src/components/common/ActiveStreamBanner.tsx
  frontend-app/src/context/StreamSessionContext.tsx
  frontend-app/src/hooks/useLocalConnection.ts
  frontend-app/src/hooks/useRpiCameras.ts
  frontend-app/src/hooks/useYouTubeIntegration.ts
  frontend-app/src/services/api/rpiCamera.ts
  frontend-app/src/types/User.ts
Due: frontend-app-lint

feat: implement local access info retrieval and self-unpairing for Raspberry Pi cameras
  backend/app/api/plugins/rpi_cam/routers/camera_crud.py
  backend/app/api/plugins/rpi_cam/websocket/relay.py
  frontend-app/src/app/cameras/[id].tsx
  frontend-app/src/hooks/useLocalConnection.ts
  frontend-app/src/services/api/rpiCamera.ts
Due: backend-alembic-autogen-check, frontend-app-lint

feat: enhance camera connection status display and streamline connection mode handling
  frontend-app/src/app/cameras/[id].tsx
Due: frontend-app-lint

Refactor and enhance various components across backend and frontend
  .vscode/settings.json
  backend/app/api/auth/routers/oauth_token.py
  backend/app/api/auth/services/email_checker.py
  backend/app/api/background_data/crud/categories.py
  backend/app/api/common/routers/openapi.py
  backend/app/api/common/schemas/base.py
  backend/app/api/common/search_utils.py
  backend/app/api/data_collection/crud/products.py
  backend/app/api/data_collection/filters.py
  backend/app/api/data_collection/models/product.py
  backend/app/api/file_storage/models/storage.py
  backend/app/api/plugins/rpi_cam/routers/camera_crud.py
  backend/app/api/plugins/rpi_cam/routers/pairing.py
  backend/app/api/plugins/rpi_cam/schemas/__init__.py
  backend/app/api/plugins/rpi_cam/services.py
  backend/app/api/plugins/rpi_cam/websocket/connection_manager.py
  backend/app/api/plugins/rpi_cam/websocket/cross_worker_relay.py
  backend/app/core/cache.py
  backend/scripts/seed/taxonomies/cpv.py
  backend/scripts/seed/taxonomies/harmonized_system.py
  backend/tests/integration/api/auth/test_oauth.py
  backend/tests/integration/api/auth/test_refresh.py
  backend/tests/integration/api/auth/test_registration_login.py
  backend/tests/integration/api/auth/test_user_updates.py
  backend/tests/unit/auth/test_auth_utils.py
  backend/tests/unit/auth/test_refresh_token_service.py
  backend/tests/unit/background_data/test_background_data_filters.py
  backend/tests/unit/core/test_model_registry.py
  backend/tests/unit/file_storage/test_routers.py
  backend/tests/unit/file_storage/test_s3_storage.py
  backend/tests/unit/plugins/rpi_cam/test_services_last_image.py
  backend/tests/unit/plugins/rpi_cam/test_websocket_router.py
  backend/tests/unit/scripts/maintenance/test_refresh_disposable_email_domains.py
  frontend-app/e2e/product-detail.spec.ts
  frontend-app/e2e/sort-filter.spec.ts
  frontend-app/src/app/products/[id]/index.tsx
  frontend-app/src/app/products/index.tsx
  frontend-app/src/services/api/authentication.ts
  frontend-app/src/utils/logging.ts
Due: backend-alembic-autogen-check, frontend-app-lint

refactor: remove router dependency from CameraCard and update navigation logic
  frontend-app/src/app/cameras/index.tsx
  frontend-app/src/components/cameras/CameraCard.tsx
  frontend-app/src/components/cameras/__tests__/CameraCard-test.tsx
Due: frontend-app-lint

refactor: clean up imports and improve code formatting across multiple files
  backend/tests/unit/file_storage/test_routers.py
  frontend-app/src/app/_layout.tsx
  frontend-app/src/app/cameras/[id].tsx
  frontend-app/src/app/cameras/index.tsx
  frontend-app/src/app/products/[id]/index.tsx
  frontend-app/src/app/products/index.tsx
  frontend-app/src/app/profile.tsx
  frontend-app/src/components/cameras/LivePreview.tsx
  frontend-app/src/components/cameras/YouTubeStreamCard.tsx
  frontend-app/src/components/common/ActiveStreamBanner.tsx
  frontend-app/src/context/StreamSessionContext.tsx
  frontend-app/src/hooks/useLocalConnection.ts
  frontend-app/src/hooks/useRpiCameras.ts
Due: frontend-app-lint

feat: add YouTube OAuth association and toggle functionality in profile
  backend/app/api/auth/routers/oauth.py
  backend/app/api/auth/services/oauth/associate.py
  frontend-app/src/app/cameras/__tests__/index-test.tsx
  frontend-app/src/app/cameras/index.tsx
  frontend-app/src/app/profile.tsx
Due: backend-alembic-autogen-check, frontend-app-lint

feat: enhance camera connection messaging and improve platform-specific handling
  frontend-app/src/app/cameras/[id].tsx
Due: frontend-app-lint

feat: enhance YouTube OAuth flow with consent prompt and offline access type
  backend/app/api/auth/routers/oauth.py
  backend/app/api/auth/services/oauth/associate.py
  frontend-app/src/app/cameras/__tests__/index-test.tsx
  frontend-app/src/app/cameras/index.tsx
  frontend-app/src/app/profile.tsx
  frontend-app/src/hooks/useRpiCameras.ts
  frontend-app/src/services/api/__tests__/rpiCamera-test.ts
  frontend-app/src/services/api/authentication.ts
  frontend-app/src/services/api/rpiCamera.ts
Due: backend-alembic-autogen-check, frontend-app-lint

refactor: simplify imports and improve connection messaging in CameraDetailScreen
  frontend-app/src/app/cameras/[id].tsx
Due: frontend-app-lint

docs: update LivePreview component documentation for improved clarity on HLS proxy usage
  frontend-app/src/components/cameras/LivePreview.tsx
Due: frontend-app-lint

feat: improve YouTube Live section with dynamic messaging and streamlined layout
  frontend-app/src/app/profile.tsx
Due: frontend-app-lint

fix: cast user to UserOAuthProtocol during OAuth account update to ensure type safety
  backend/app/api/auth/services/oauth/associate.py
Due: backend-alembic-autogen-check

refactor: improve code readability by formatting alert messages in ProfileTab component
  frontend-app/src/app/cameras/[id].tsx
  frontend-app/src/app/cameras/__tests__/[id]-test.tsx
  frontend-app/src/app/products/[id]/__tests__/index-state-test.tsx
  frontend-app/src/app/profile.tsx
Due: frontend-app-lint

feat: resolve last_image_url in CameraCard and API responses for improved image handling
  backend/app/api/plugins/rpi_cam/routers/camera_interaction/streams.py
  frontend-app/src/components/cameras/CameraCard.tsx
  frontend-app/src/components/cameras/__tests__/CameraCard-test.tsx
  frontend-app/src/hooks/__tests__/useRpiCameras-test.tsx
  frontend-app/src/hooks/useRpiCameras.ts
  frontend-app/src/services/api/__tests__/rpiCamera-test.ts
  frontend-app/src/services/api/rpiCamera.ts
Due: backend-alembic-autogen-check, frontend-app-lint

refactor: streamline relay bootstrap logic and enhance state management in useLocalConnection hook
  frontend-app/src/hooks/useLocalConnection.ts
Due: frontend-app-lint

feat: enhance streaming functionality with new components and improved user alerts
  frontend-app/src/app/_layout.tsx
  frontend-app/src/app/cameras/index.tsx
  frontend-app/src/app/products/[id]/index.tsx
  frontend-app/src/app/profile.tsx
  frontend-app/src/components/cameras/CameraCard.tsx
  frontend-app/src/components/common/ActiveStreamBanner.tsx
  frontend-app/src/components/common/StreamingContent.tsx
  frontend-app/src/components/common/StreamingSheet.tsx
  frontend-app/src/hooks/useElapsed.ts
  frontend-app/src/hooks/useRpiCameras.ts
  frontend-app/src/services/api/__tests__/rpiCamera-test.ts
  frontend-app/src/services/api/products.ts
Due: frontend-app-lint

refactor: reorganize components and improve streaming integration with retry logic
  frontend-app/src/app/_layout.tsx
  frontend-app/src/app/products/[id]/index.tsx
  frontend-app/src/app/profile.tsx
  frontend-app/src/components/cameras/LivePreview.tsx
  frontend-app/src/components/common/StreamingContent.tsx
  frontend-app/src/components/common/StreamingSheet.tsx
  frontend-app/src/hooks/useYouTubeIntegration.ts
Due: frontend-app-lint

feat: add snapshot functionality and camera picker dialog for streaming
  backend/app/api/plugins/rpi_cam/routers/camera_interaction/__init__.py
  backend/app/api/plugins/rpi_cam/routers/camera_interaction/snapshot.py
  backend/app/api/plugins/rpi_cam/websocket/relay.py
  backend/tests/unit/plugins/rpi_cam/test_router_surface.py
  backend/tests/unit/plugins/rpi_cam/test_routers_snapshot.py
  frontend-app/src/app/products/[id]/index.tsx
  frontend-app/src/components/cameras/CameraPickerDialog.tsx
  frontend-app/src/components/cameras/CameraStreamPicker.tsx
  frontend-app/src/components/product/ProductImageGallery.tsx
Due: backend-alembic-autogen-check, frontend-app-lint

feat: add YouTube token management during OAuth unlinking and session handling
  frontend-app/src/app/cameras/[id].tsx
  frontend-app/src/app/cameras/__tests__/index-test.tsx
  frontend-app/src/app/cameras/index.tsx
  frontend-app/src/app/profile.tsx
  frontend-app/src/components/cameras/CameraCard.tsx
  frontend-app/src/components/cameras/CameraPickerDialog.tsx
  frontend-app/src/components/cameras/CameraStreamPicker.tsx
  frontend-app/src/components/common/StreamingContent.tsx
  frontend-app/src/components/common/StreamingSheet.tsx
  frontend-app/src/components/product/ProductImageGallery.tsx
  frontend-app/src/hooks/useLocalConnection.ts
  frontend-app/src/hooks/useYouTubeIntegration.ts
Due: frontend-app-lint

fix youtube stuff
  frontend-app/src/app/cameras/__tests__/[id]-test.tsx
  frontend-app/src/app/cameras/__tests__/index-test.tsx
Due: frontend-app-lint

fix live preview typing issues
  frontend-app/src/components/cameras/LivePreview.tsx
Due: frontend-app-lint

refactor: update test stubs and patching for image URL builder in rpi_cam services
  backend/tests/unit/plugins/rpi_cam/test_services_last_image.py
  compose.yml
  frontend-web/Caddyfile
Due: none

feat: enhance camera stream handling and connection management
  backend/app/api/plugins/rpi_cam/routers/camera_interaction/streams.py
  backend/tests/unit/plugins/rpi_cam/test_routers_streams.py
  frontend-app/src/app/cameras/[id].tsx
  frontend-app/src/app/cameras/__tests__/[id]-test.tsx
  frontend-app/src/app/cameras/index.tsx
  frontend-app/src/components/cameras/CameraCard.tsx
  frontend-app/src/components/cameras/CameraPickerDialog.tsx
  frontend-app/src/components/cameras/__tests__/CameraCard-test.tsx
  frontend-app/src/hooks/__tests__/useEffectiveCameraConnection-test.ts
  frontend-app/src/hooks/__tests__/useRpiCameras-test.tsx
  frontend-app/src/hooks/useEffectiveCameraConnection.ts
  frontend-app/src/hooks/useRpiCameras.ts
  frontend-app/src/services/api/__tests__/rpiCamera-test.ts
  frontend-app/src/services/api/rpiCamera.ts
Due: backend-alembic-autogen-check, frontend-app-lint

feat: update Docker Compose configurations for production and staging environments
  .devcontainer/backend/devcontainer.json
  .devcontainer/devcontainer.json
  .devcontainer/docs/devcontainer.json
  .devcontainer/frontend-app/devcontainer.json
  .devcontainer/frontend-web/devcontainer.json
  .github/PULL_REQUEST_TEMPLATE.md
  .github/actions/detect-ci-changes/action.yml
  .github/actions/detect-security-changes/action.yml
  .github/actions/setup-node-just/action.yml
  .github/actions/setup-python-just/action.yml
  .github/actions/setup-runtime/action.yml
  .github/actions/upload-codecov/action.yml
  .github/workflows/ops.yml
  .github/workflows/perf-baseline.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/validate.yml
  .nvmrc
  .pre-commit-config.yaml
  .python-version
  CONTRIBUTING.md
  INSTALL.md
  README.md
  backend/.env.dev.example
  backend/justfile
  compose.dev.yml
  compose.prod.yml
  compose.staging.yml
  compose.test.yml
  docs/README.md
  docs/docs/architecture/deployment.md
  docs/docs/architecture/engineering-ops.md
  docs/zensical.toml
  frontend-app/.env.development
  frontend-app/justfile
  frontend-app/playwright.config.ts
  frontend-web/.env.dev
  frontend-web/justfile
  justfile
  renovate.json
Due: frontend-app-lint

feat: update devcontainer configurations for backend, frontend, and docs services
  .devcontainer/backend/devcontainer.json
  .devcontainer/devcontainer.json
  .devcontainer/docs/devcontainer.json
  .devcontainer/frontend-app/devcontainer.json
  .devcontainer/frontend-web/devcontainer.json
  .vscode/extensions.json
  .vscode/settings.json
Due: none

refactor: rename backend services to api and update dependencies in docker-compose files
  compose.dev.yml
  compose.e2e.yml
  compose.prod.yml
  compose.staging.yml
  compose.test.yml
  compose.yml
Due: none

refactor: update service names in documentation and task runner for consistency
  INSTALL.md
  backend/justfile
  backend/scripts/backup/README.md
  docs/docs/architecture/deployment.md
  justfile
Due: none

refactor: update Dockerfiles for consistency and optimize build stages
  backend/Dockerfile
  backend/Dockerfile.dev
  backend/Dockerfile.migrations
  backend/Dockerfile.user-upload-backups
  docs/Dockerfile
  docs/Dockerfile.dev
  frontend-app/Dockerfile
  frontend-app/Dockerfile.dev
  frontend-web/.dockerignore
  frontend-web/Dockerfile
  frontend-web/Dockerfile.dev
Due: none

refactor: update service names in security workflow and performance report for consistency
  .github/workflows/security.yml
  backend/reports/performance/2026-03-30-ci-baseline.md
Due: none

refactor(frontend-app): simplification pass (wip)
  frontend-app/jest.config.ts
  frontend-app/src/app/(auth)/forgot-password.tsx
  frontend-app/src/app/(auth)/new-account.tsx
  frontend-app/src/app/(auth)/reset-password.tsx
  frontend-app/src/app/cameras/[id].tsx
  frontend-app/src/app/cameras/__tests__/[id]-test.tsx
  frontend-app/src/app/cameras/add.tsx
  frontend-app/src/app/cameras/index.tsx
  frontend-app/src/app/products/[id]/__tests__/index-state-test.tsx
  frontend-app/src/app/products/[id]/index.tsx
  frontend-app/src/app/products/index.tsx
  frontend-app/src/app/profile.tsx
  frontend-app/src/components/cameras/CameraStreamPicker.tsx
  frontend-app/src/components/cameras/LivePreview.tsx
  frontend-app/src/components/cameras/YouTubeStreamCard.tsx
  frontend-app/src/components/cameras/__tests__/LivePreview-test.tsx
  frontend-app/src/components/common/DialogProvider.tsx
  frontend-app/src/components/common/StreamingContent.tsx
  frontend-app/src/components/common/__tests__/DialogProvider-test.tsx
  frontend-app/src/components/product/ProductComponents.tsx
  frontend-app/src/components/product/ProductImageGallery.tsx
  frontend-app/src/components/product/ProductPageSections.tsx
  frontend-app/src/components/product/__tests__/ProductImageGallery-test.tsx
  frontend-app/src/context/AuthProvider.tsx
  frontend-app/src/hooks/__tests__/useProductForm-test.tsx
  frontend-app/src/hooks/__tests__/useProductsScreen-test.tsx
  frontend-app/src/hooks/__tests__/useProfileScreen-test.tsx
  frontend-app/src/hooks/useAppFeedback.ts
  frontend-app/src/hooks/useLocalConnection.ts
  frontend-app/src/hooks/useProductsScreen.ts
  frontend-app/src/hooks/useProfileScreen.ts
  frontend-app/src/services/api/__tests__/authentication-test.ts
  frontend-app/src/services/api/__tests__/rpiCamera-test.ts
  frontend-app/src/services/api/authentication.ts
  frontend-app/src/services/api/request.ts
  frontend-app/src/services/api/rpiCamera.ts
  frontend-app/src/services/storage.ts
  frontend-app/src/test-utils/render.tsx
  frontend-app/src/test-utils/server.ts
Due: frontend-app-lint

infra: streamline workflows, enhance documentation, and improve performance scripts
  .github/workflows/release.yml
  .github/workflows/validate.yml
  CONTRIBUTING.md
  INSTALL.md
  README.md
  backend/justfile
  backend/perf/README.md
  backend/perf/k6-baseline.js
  backend/scripts/perf/__init__.py
  backend/scripts/perf/apply_thresholds.py
  backend/scripts/perf/write_ci_report.py
  compose.e2e.yml
  docs/docs/architecture/engineering-ops.md
  justfile
  scripts/check_infra_contract.py
Due: none

test(frontend-app): streamline dialog handling in tests and update Playwright config
  frontend-app/jest-profile.json
  frontend-app/playwright.config.ts
  frontend-app/src/app/(auth)/__tests__/login-test.tsx
  frontend-app/src/app/(auth)/__tests__/new-account-test.tsx
  frontend-app/src/app/__tests__/profile-test.tsx
  frontend-app/src/app/cameras/__tests__/[id]-test.tsx
  frontend-app/src/app/cameras/__tests__/index-test.tsx
  frontend-app/src/app/products/__tests__/index-test.tsx
  frontend-app/src/components/product/__tests__/ProductImage-test.tsx
  frontend-app/src/hooks/__tests__/useProductForm-test.tsx
Due: frontend-app-lint

refactor(frontend-web): modernize
  frontend-web/.env.dev
  frontend-web/.env.prod
  frontend-web/.env.staging
  frontend-web/.env.test
  frontend-web/Caddyfile
  frontend-web/README.md
  frontend-web/astro.config.mjs
  frontend-web/e2e/index.spec.ts
  frontend-web/e2e/newsletter/unsubscribe-form.spec.ts
  frontend-web/e2e/not-found.spec.ts
  frontend-web/e2e/privacy.spec.ts
  frontend-web/e2e/responsive.spec.ts
  frontend-web/justfile
  frontend-web/package-lock.json
  frontend-web/package.json
  frontend-web/pnpm-lock.yaml
  frontend-web/public/robots.txt
  frontend-web/src/components/EmailForm.astro
  frontend-web/src/components/Hero.astro
  frontend-web/src/components/NewsletterSignup.astro
  frontend-web/src/components/PrimaryLinks.astro
  frontend-web/src/components/SiteFooter.astro
  frontend-web/src/components/SiteHeader.astro
  frontend-web/src/components/ThemeControl.astro
  frontend-web/src/components/TokenAction.astro
  frontend-web/src/config/public.test.ts
  frontend-web/src/config/public.ts
  frontend-web/src/content/site.ts
  frontend-web/src/layouts/Layout.astro
  frontend-web/src/pages/404.astro
  frontend-web/src/pages/index.astro
  frontend-web/src/pages/newsletter/confirm.astro
  frontend-web/src/pages/newsletter/unsubscribe-form.astro
  frontend-web/src/pages/newsletter/unsubscribe.astro
  frontend-web/src/pages/privacy.astro
  frontend-web/src/styles/fonts.css
  frontend-web/src/styles/global.css
  scripts/check_env_contract.py
  scripts/check_infra_contract.py
  scripts/check_release_contract.py
Due: frontend-web-lint

chore: update configuration files for docs and workflows, adjust paths for pnpm and Node audits
  .cspell.yml
  .github/actions/detect-security-changes/action.yml
  .github/path-filters.yml
  .github/release-please-config.json
  .github/workflows/security.yml
  .github/workflows/validate.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  compose.dev.yml
  compose.staging.yml
Due: none

update website
  frontend-web/e2e/index.spec.ts
  frontend-web/e2e/newsletter/unsubscribe-form.spec.ts
  frontend-web/e2e/privacy.spec.ts
  frontend-web/e2e/responsive.spec.ts
  frontend-web/e2e/theme.spec.ts
  frontend-web/src/components/EmailForm.astro
  frontend-web/src/components/NewsletterSignup.astro
  frontend-web/src/components/SiteHeader.astro
  frontend-web/src/components/ThemeControl.astro
  frontend-web/src/components/TokenAction.astro
  frontend-web/src/layouts/Layout.astro
  frontend-web/src/pages/newsletter/unsubscribe-form.astro
  frontend-web/src/pages/privacy.astro
  frontend-web/src/scripts/email-form.ts
  frontend-web/src/scripts/theme.ts
  frontend-web/src/scripts/token-action.ts
  frontend-web/src/styles/base.css
  frontend-web/src/styles/components.css
  frontend-web/src/styles/global.css
  frontend-web/src/styles/layout.css
  frontend-web/src/styles/tokens.css
  frontend-web/src/styles/utilities.css
Due: frontend-web-lint

update docs
  docs/Dockerfile.dev
  docs/astro.config.mjs
  docs/e2e/theme.spec.ts
  docs/package.json
  docs/pnpm-lock.yaml
  docs/src/components/Head.astro
  docs/src/components/SiteTitle.astro
  docs/src/content/docs/architecture/engineering-config.md
  docs/src/scripts/page-chrome.ts
  docs/src/styles/base.css
  docs/src/styles/components.css
  docs/src/styles/custom.css
  docs/src/styles/tokens.css
Due: none
