Repository CMLPlatform/relab: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-alembic-autogen-check, frontend-lint

.pre-commit-config.yaml:

# Configuration of Pre-commit Hooks. For more information, see https://pre-commit.com.
# NOTE: pre-commit does not support multiple config files, hence this file is used for both global and subrepo-specific hooks.
# TODO: Consider moving to from monorepo to multiple repos for easier CI/CD management.
# Alternatively, move to lefthook for extensible git hook management.

repos:
  ### Global hooks
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.28.0
    hooks:
      - id: gitleaks

  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.22
    hooks:
      - id: mdformat # Format Markdown files.
        additional_dependencies:
          - mdformat-gfm # Support GitHub Flavored Markdown.
          - mdformat-footnote
          - mdformat-frontmatter
          - mdformat-ruff # Support Python code blocks linted with Ruff.
          - mdformat-tables # Support GitHub style tables.

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict # Check for files with names that differ only in case.
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer # Ensure files end with a newline.
      - id: mixed-line-ending
      - id: no-commit-to-branch # Prevent commits to main and master branches.
      - id: trailing-whitespace
        args: ["--markdown-linebreak-ext", "md"] # Preserve Markdown hard line breaks.

  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.8.3
    hooks:
      - id: commitizen
        stages: [commit-msg]

  ### Backend hooks
  - repo: https://github.com/RobertCraigie/pyright-python # Lint backend code with Pyright.
    rev: v1.1.403
    hooks:
      - id: pyright
        files: ^backend/(app|scripts|tests)/
        entry: pyright --project backend

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.7
    hooks:
      - id: ruff-check # Lint code
        files: ^backend/(app|scripts|tests)/
        args: # Allow TODO comments in commits.
          ["--fix", "--config", "backend/pyproject.toml", "--ignore", "FIX002"]
      - id: ruff-format # Format code
        files: ^backend/(app|scripts|tests)/
        args: ["--config", "backend/pyproject.toml"]

  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.8.4
    hooks:
      - id: uv-lock # Update the uv lockfile for the backend.
        files: ^backend/(uv\.lock|pyproject\.toml|uv\.toml)$
        entry: uv lock --project backend

  - repo: local
    hooks: # Check if Alembic migrations are up-to-date. Uses uv to ensure the right environment when executed through VS Code Git extension.
      - id: backend-alembic-autogen-check
        name: check alembic migrations
        entry: bash -c 'cd backend && uv run alembic-autogen-check'
        language: system
        files: ^(backend/(app|alembic)/|alembic\.ini$)
        pass_filenames: false
        stages: [pre-commit]

  ### Frontend hooks
  - repo: local
    hooks:
      - id: frontend-lint
        name: lint frontend code
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        # Match frontend JavaScript and TypeScript files for linting.
        files: ^frontend/.*\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?)$
        pass_filenames: false

fix(docker): Optimize docker setup for extensibility, faster builds and devcontainer support
  backend/Dockerfile
  backend/Dockerfile.api
  backend/Dockerfile.dev
  compose.override.yml
  compose.prod.yml
  compose.yml
  frontend/Dockerfile
  frontend/Dockerfile.dev
Due: none

feat(docker): Add devcontainer support
  .devcontainer/backend/devcontainer.json
  .devcontainer/devcontainer.json
  .devcontainer/docs/devcontainer.json
  .devcontainer/frontend/devcontainer.json
Due: none

fix(docs): Update installation and contribution docs based on new devcontainer setup
  CONTRIBUTING.md
  INSTALL.md
Due: none

fix(backend): Replace exit code with stdout in db check script
  backend/entrypoint.sh
  backend/local_setup.sh
  backend/scripts/db_is_empty.py
Due: none

feat(docs): Add uv setup for local doc development
  docs/docs/index.md
  docs/pyproject.toml
  docs/uv.lock
  pyproject.toml
Due: none

fix(infra): Upgrade UV lock files
  backend/uv.lock
  uv.lock
Due: none

fix(backend): Re-allow user registration and make newsletter endpoints available in admin swagger docs
  backend/app/api/auth/routers/auth.py
  backend/app/api/newsletter/routers.py
Due: backend-alembic-autogen-check

fix(backend): Small documentation improvements
  backend/.env.example
  backend/app/core/config.py
  backend/pyproject.toml
Due: backend-alembic-autogen-check

fix(infra): Update VS Code settings and extensions
  .devcontainer/frontend/devcontainer.json
  .vscode/settings.json
  backend/.vscode/extensions.json
  backend/.vscode/settings.json
  docs/.vscode/extensions.json
  docs/.vscode/settings.json
  frontend/.vscode/extensions.json
  frontend/.vscode/settings.json
Due: frontend-lint

fix(docs): Update project name
  CONTRIBUTING.md
  INSTALL.md
  backend/README.md
  backend/app/api/auth/utils/programmatic_emails.py
  backend/app/templates/index.html
  codemeta.json
  docs/README.md
  docs/docs/architecture/rpi-cam.md
  docs/docs/dataset/index.md
  docs/docs/user-guides/api.md
  docs/docs/user-guides/rpi-cam.md
  docs/mkdocs.yml
  frontend/README.md
  frontend/src/app/index.tsx
Due: backend-alembic-autogen-check, frontend-lint

fix(frontend): add explicit formatting script in package.json
  frontend/package.json
Due: frontend-lint

fix(backend): Fix import in auth router
  backend/app/api/auth/routers/auth.py
Due: backend-alembic-autogen-check

feat(cicd): Update json pre-commit hook to support jsonc and run linting
  .pre-commit-config.yaml
  backend/Dockerfile
  backend/Dockerfile.dev
  frontend/Dockerfile
  frontend/Dockerfile.dev
  renovate.json
  uv.lock
Due: none

chore(deps): update uv locks
  backend/uv.lock
  docs/uv.lock
  uv.lock
Due: none

chore(deps): Update Postgres version from 17 to 18
  compose.yml
Due: none

fix(deps): Manually fix postgres image SHA
  compose.yml
Due: none

fix(database): Update docker mount volume for PG 18
  compose.yml
Due: none

fix(docs): generalize example db names
  backend/.env.example
  backend/app/core/config.py
Due: backend-alembic-autogen-check

feat(database): Add automated database backups to production stack
  compose.prod.yml
Due: none

fix(docker): fix npm install in frontend dockerfile
  frontend/Dockerfile
Due: none
