Repository CMLPlatform/relab: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-alembic-autogen-check, frontend-web-lint, frontend-app-lint

Path conditions:
  backend-alembic-autogen-check: any of: ^(backend/(app|alembic)/|alembic\.ini$)
  frontend-web-lint: any of: ^frontend-web\/.*\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?)$
  frontend-app-lint: any of: ^frontend-app\/.*\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?)$

fix(backend): Replace abandoned loguru dependency with simple built-in + python-json-logger setup
  .cspell.yaml
  backend/app/api/common/routers/exceptions.py
  backend/app/core/lifecycle.py
  backend/app/core/logging.py
  backend/app/core/middleware/request_id.py
  backend/app/core/observability/telemetry.py
  backend/pyproject.toml
  backend/tests/conftest.py
  backend/tests/integration/core/test_logging.py
  backend/tests/unit/common/test_exceptions.py
  backend/tests/unit/core/test_logging.py
  backend/tests/unit/core/test_request_id.py
  backend/tests/unit/core/test_telemetry.py
  backend/uv.lock
Due: backend-alembic-autogen-check

feat(auth): implement current password requirement for sensitive updates and improve rate limiting
  .cspell.yaml
  backend/app/api/auth/routers/auth.py
  backend/app/api/auth/schemas.py
  backend/app/api/auth/services/rate_limiter.py
  backend/app/api/auth/services/user_manager.py
  backend/tests/integration/api/auth/test_user_updates.py
  backend/tests/unit/auth/test_auth_routes.py
  backend/tests/unit/auth/test_rate_limiter.py
  backend/tests/unit/auth/test_user_manager.py
  docs/src/content/docs/architecture/auth.mdx
  frontend-app/src/types/api.generated.ts
Due: backend-alembic-autogen-check, frontend-app-lint

ci: add openssf scorecard workflow
  .github/workflows/scorecard.yml
Due: none

feat(security): improve security documentation and practices
  .cspell.yaml
  .github/CONTRIBUTING.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/SECURITY.md
  docs/astro.config.mjs
  docs/src/content/docs/architecture/engineering-ops.md
  docs/src/content/docs/architecture/security-practices.md
Due: none

fix(backend): Fixed RPI telemetry cache authorization so ownership is checked before cached telemetry can be returned.
  backend/app/api/plugins/rpi_cam/routers/camera_interaction/telemetry.py
Due: backend-alembic-autogen-check

fix(backend): Prevented RPI camera capture/upload/YouTube recording flows from attaching media to products not owned by the camera owner.
  backend/app/api/plugins/rpi_cam/routers/camera_interaction/images.py
  backend/app/api/plugins/rpi_cam/routers/camera_interaction/streams.py
  backend/app/api/plugins/rpi_cam/service_runtime.py
Due: backend-alembic-autogen-check

test(backend): Updated backend unit tests for those authorization paths.
  backend/tests/unit/plugins/rpi_cam/test_routers_device_uploads.py
  backend/tests/unit/plugins/rpi_cam/test_routers_streams_recording.py
  backend/tests/unit/plugins/rpi_cam/test_routers_telemetry.py
  backend/tests/unit/plugins/rpi_cam/test_services_capture.py
Due: none

docs: Updated the docs API guide and privacy statement to state that product records/uploaded media are public by design.
  docs/src/content/docs/user-guides/api.md
  frontend-web/src/content/privacy-content.ts
Due: frontend-web-lint

fix(frontend): Harden CSP headers
  .cspell.yaml
  docs/Caddyfile
  frontend-app/ARCHITECTURE.md
  frontend-app/Caddyfile
  frontend-app/src/__tests__/security-headers.test.ts
  frontend-web/Caddyfile
  frontend-web/src/config/security-headers.test.ts
Due: frontend-web-lint, frontend-app-lint

fix(backend): Scope auth cookies to API host
  backend/app/api/auth/routers/refresh.py
  backend/app/api/auth/services/auth_backends.py
  backend/app/api/auth/services/login_hooks.py
  backend/tests/unit/auth/test_auth_cookie_scope.py
Due: backend-alembic-autogen-check

ci: Add check-required-jobs action and update workflows for job result validation
  .github/actions/check-required-jobs/action.yml
  .github/path-filters.yml
  .github/renovate.json
  .github/workflows/scorecard.yml
  .github/workflows/security.yml
  .github/workflows/validate.yml
Due: none

refactor(backend): simplify integration test structure
  backend/justfile
  backend/tests/README.md
  backend/tests/integration/api/README.md
  backend/tests/integration/db/README.md
  backend/tests/integration/db/test_auth_models.py
  backend/tests/integration/db/test_data_collection_models.py
  backend/tests/integration/db/test_reference_data_models.py
  backend/tests/integration/flows/README.md
  backend/tests/integration/models/__init__.py
  backend/tests/unit/README.md
Due: none

docs: add openssf badge
  README.md
  docs/src/content/docs/index.md
Due: none

fix(frontend-app): harden YouTube video URL parsing
  frontend-app/src/services/api/validation/__tests__/productSchema-test.ts
  frontend-app/src/services/api/validation/productSchema.ts
Due: frontend-app-lint

feat(frontend-web): Harden Astro rendering against XSS
  frontend-web/src/config/public.test.ts
  frontend-web/src/config/public.ts
  frontend-web/src/config/security-headers.test.ts
  frontend-web/src/content/privacy-content.test.ts
  frontend-web/src/content/privacy-content.ts
  frontend-web/src/content/site-meta.test.ts
  frontend-web/src/content/site-meta.ts
  frontend-web/src/layouts/Layout.astro
  frontend-web/src/pages/index.astro
  frontend-web/src/pages/privacy.astro
Due: frontend-web-lint

refactor(backend): consolidate reversible secret encryption
  backend/.env.dev.example
  backend/.env.prod.example
  backend/.env.staging.example
  backend/.env.test
  backend/app/api/auth/services/user_database.py
  backend/app/api/plugins/rpi_cam/config.py
  backend/app/api/plugins/rpi_cam/models.py
  backend/app/api/plugins/rpi_cam/utils/encryption.py
  backend/app/core/config/core.py
  backend/app/core/crypto/__init__.py
  backend/app/core/crypto/sqlalchemy.py
  backend/app/core/crypto/storage.py
  backend/tests/unit/core/test_config.py
  backend/tests/unit/core/test_crypto_storage.py
  backend/tests/unit/plugins/rpi_cam/test_config.py
  backend/tests/unit/plugins/rpi_cam/test_encryption.py
  docs/src/content/docs/operations/deployment.mdx
Due: backend-alembic-autogen-check

feat(backend): fingerprint refresh token redis keys
  backend/app/api/auth/services/refresh_token_service.py
  backend/tests/unit/auth/test_refresh_token_service.py
Due: backend-alembic-autogen-check

feat(frontend-app): use crypto-safe request id fallback
  frontend-app/src/services/api/__tests__/request-test.ts
  frontend-app/src/services/api/request.ts
Due: frontend-app-lint
