Repository CMLPlatform/relab: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-alembic-autogen-check, frontend-web-lint, frontend-app-lint

Path conditions:
  backend-alembic-autogen-check: any of: ^(backend/(app|alembic)/|alembic\.ini$)
  frontend-web-lint: any of: ^frontend-web\/.*\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?)$
  frontend-app-lint: any of: ^frontend-app\/.*\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?)$

fix(backend): Move username validation from model to schema
  backend/app/api/auth/models.py
  backend/app/api/auth/schemas.py
Due: backend-alembic-autogen-check

feat(backend): add manual pg backup script and rclone backup sync script
  .env.example
  backend/scripts/backup/README.md
  backend/scripts/backup/backup_pg_database.sh
  backend/scripts/backup/rclone_backup.sh
  backend/scripts/backup/rsync_backup.sh
Due: none

feat(backend): Print backup stats after rclone
  backend/scripts/backup/rclone_backup.sh
  compose.prod.yml
Due: none

fix(backend): Use rclone symlink files for symlinked backups
  backend/scripts/backup/rclone_backup.sh
Due: none

refactor(frontend-app): Deduplicate product name validation
  frontend-app/src/app/products/[id]/index.tsx
  frontend-app/src/components/product/ProductComponents.tsx
  frontend-app/src/services/api/validation/product.ts
Due: frontend-app-lint

feat(frontend-app): update registration validation and error handling
  frontend-app/src/app/(auth)/new-account.tsx
  frontend-app/src/services/api/authentication.ts
  frontend-app/src/services/api/validation/user.ts
Due: frontend-app-lint

chore(deps): update pre-commit yaml
  .pre-commit-config.yaml
Due: none

fix(cicd): Format frontend instead of just linting
  .pre-commit-config.yaml
Due: none

chore: linting
  .env.example
  backend/app/api/auth/utils/programmatic_emails.py
  backend/scripts/backup/README.md
  backend/scripts/backup/rclone_backup.sh
  backend/scripts/seed/migrations_entrypoint.sh
  frontend-app/src/app/(auth)/new-account.tsx
  frontend-app/src/app/products/[id]/index.tsx
  frontend-app/src/components/product/ProductComponents.tsx
  frontend-app/src/services/api/authentication.ts
  frontend-app/src/services/api/validation/product.ts
  frontend-app/src/services/api/validation/user.ts
Due: backend-alembic-autogen-check, frontend-app-lint

feature(frontend-app): Add tooltip to product save button showing validation status
  frontend-app/src/app/products/[id]/index.tsx
  frontend-app/src/services/api/validation/product.ts
Due: frontend-app-lint

feature(backend): add order_by query param to get_products route
  backend/app/api/common/crud/base.py
  backend/app/api/data_collection/routers.py
Due: backend-alembic-autogen-check

feature(backend): Use SecretStr for secret env vars in the core config
  backend/app/core/config.py
  backend/app/core/redis.py
  backend/scripts/create_superuser.py
Due: backend-alembic-autogen-check

fix(backend): Fix cache dependency in docker compose file (backend, not backend-migrations, depends on cache)
  compose.yml
Due: none

fix(backend): Use try except else pattern
  backend/app/core/redis.py
Due: backend-alembic-autogen-check

fix(backend): graceful handling of failed redis connection on app startup
  backend/app/core/redis.py
  backend/app/main.py
Due: backend-alembic-autogen-check

chore: update pre-commit revs
  .pre-commit-config.yaml
Due: none

docs(backend): Clarify config setup (local .env file vs. env vars in docker)
  backend/app/api/auth/config.py
  backend/app/api/plugins/rpi_cam/config.py
Due: backend-alembic-autogen-check

fix(backend): Include built email templates in git
  backend/.dockerignore
  backend/.gitignore
  backend/app/templates/emails/build/newsletter.html
  backend/app/templates/emails/build/newsletter_subscription.html
  backend/app/templates/emails/build/newsletter_unsubscribe.html
  backend/app/templates/emails/build/password_reset.html
  backend/app/templates/emails/build/post_verification.html
  backend/app/templates/emails/build/registration.html
  backend/app/templates/emails/build/verification.html
Due: backend-alembic-autogen-check

feature(backend): add order_by, created_at and updated_at filters for product get endpoint
  backend/app/api/data_collection/filters.py
Due: backend-alembic-autogen-check

fix(backend): remove logging info
  backend/app/api/auth/services/user_manager.py
Due: backend-alembic-autogen-check

feature(backend): Move to mjml email templates and fastapi-email to simplify email setup
  CONTRIBUTING.md
  backend/app/api/auth/config.py
  backend/app/api/auth/utils/email_config.py
  backend/app/api/auth/utils/programmatic_emails.py
  backend/app/api/newsletter/routers.py
  backend/app/api/newsletter/utils/emails.py
  backend/app/templates/emails/src/components/footer.mjml
  backend/app/templates/emails/src/components/header.mjml
  backend/app/templates/emails/src/components/styles.mjml
  backend/app/templates/emails/src/newsletter.mjml
  backend/app/templates/emails/src/newsletter_subscription.mjml
  backend/app/templates/emails/src/newsletter_unsubscribe.mjml
  backend/app/templates/emails/src/password_reset.mjml
  backend/app/templates/emails/src/post_verification.mjml
  backend/app/templates/emails/src/registration.mjml
  backend/app/templates/emails/src/verification.mjml
  backend/app/templates/login.html
  backend/pyproject.toml
  backend/scripts/compile_email_templates.py
  backend/tests/conftest.py
  backend/tests/constants/__init__.py
  backend/tests/constants/background_data.py
  backend/tests/factories/background_data.py
  backend/tests/factories/emails.py
  backend/tests/tests/emails/__init__.py
  backend/tests/tests/emails/test_programmatic_emails.py
Due: backend-alembic-autogen-check

feature(backend): Use custom fork of fastapi-mail and pass redis client directly to email checker instead of creating double Redis connection
  backend/app/api/auth/utils/email_validation.py
  backend/pyproject.toml
  backend/uv.lock
Due: backend-alembic-autogen-check

feature(backend): Move to fastapi-mail and redis for disposable mail cache. We can use the Redis cache for faster session management as well.
  .pre-commit-config.yaml
  backend/.env.example
  backend/app/api/admin/auth.py
  backend/app/api/auth/config.py
  backend/app/api/auth/crud/users.py
  backend/app/api/auth/routers/auth.py
  backend/app/api/auth/routers/oauth.py
  backend/app/api/auth/services/user_manager.py
  backend/app/api/auth/utils/email_validation.py
  backend/app/api/newsletter/utils/tokens.py
  backend/app/core/config.py
  backend/app/core/redis.py
  backend/app/main.py
  backend/pyproject.toml
  backend/uv.lock
  compose.override.yml
  compose.prod.yml
  compose.yml
Due: backend-alembic-autogen-check

fix(backend): default example redis password should be empty
  backend/.env.example
Due: none

fix(docker): Improve healthcheck timing and override REDIS_HOST var in backend services
  compose.yml
Due: none

fix(backend): Move Annotated validation from database models to Create and Udpate schemas
  backend/app/api/common/models/custom_fields.py
  backend/app/api/common/schemas/custom_fields.py
  backend/app/api/file_storage/models/models.py
  backend/app/api/file_storage/schemas.py
  backend/app/api/newsletter/models.py
  backend/app/api/newsletter/schemas.py
  backend/app/api/plugins/rpi_cam/models.py
  backend/app/api/plugins/rpi_cam/schemas.py
Due: backend-alembic-autogen-check

feature(backend): Fix Pydantic 2.12 issues and move to python 3.14
  backend/.python-version
  backend/Dockerfile
  backend/Dockerfile.dev
  backend/Dockerfile.migrations
  backend/app/api/auth/models.py
  backend/app/api/common/models/base.py
  backend/app/api/data_collection/models.py
  backend/pyproject.toml
  backend/uv.lock
  codemeta.json
Due: backend-alembic-autogen-check

fix(backend): Init disposable email checker without Redis if no Redis connection available
  backend/app/api/auth/utils/email_validation.py
  backend/app/main.py
Due: backend-alembic-autogen-check

fix(backend): Move back to python 3.13 because Dockerized asyncpg doesn't support it yet
  backend/.python-version
  backend/Dockerfile
  backend/Dockerfile.dev
  backend/Dockerfile.migrations
  backend/pyproject.toml
  codemeta.json
Due: none

fix(cicd): Lint pre-commit yaml and update mdformat pre-commit hook
  .pre-commit-config.yaml
Due: none

fix(docker): Persist cache data in prod
  compose.prod.yml
Due: none

fix(backend): Use TypeAlias over simple type declaration for custom schema field types
  backend/app/api/common/schemas/custom_fields.py
Due: backend-alembic-autogen-check

Potential fix for code scanning alert no. 8: Log Injection
  backend/app/api/auth/utils/programmatic_emails.py
Due: backend-alembic-autogen-check

feature(backend): Mask user emails in logs for privacy
  backend/app/api/auth/utils/programmatic_emails.py
Due: backend-alembic-autogen-check

feature(backend): Allow superuser to remove any product
  backend/app/api/data_collection/dependencies.py
Due: backend-alembic-autogen-check

fix(backend): Simplify URL serializing to DB
  backend/app/api/common/schemas/custom_fields.py
Due: backend-alembic-autogen-check

fix(backend): Only apply sorting if explicit sorting was requested
  backend/app/api/common/crud/base.py
Due: backend-alembic-autogen-check

fix(backend): Don't initialize email checker for on synthetic user creation
  backend/app/api/auth/services/user_manager.py
Due: backend-alembic-autogen-check

fix(backend): Simplify dummy data checking logic
  backend/scripts/seed/migrations_entrypoint.sh
Due: none

fix(backend): Spellcheck
  backend/app/core/redis.py
Due: backend-alembic-autogen-check
