Repository CMLPlatform/relab: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-alembic-autogen-check, frontend-web-lint, frontend-app-lint

Path conditions:
  backend-alembic-autogen-check: any of: ^(backend/(app|alembic)/|alembic\.ini$)
  frontend-web-lint: any of: ^frontend-web\/.*\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?)$
  frontend-app-lint: any of: ^frontend-app\/.*\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?)$

fix(backend): Only init disposable email checker in staging and prod
  backend/app/api/auth/utils/email_validation.py
  backend/app/api/auth/utils/programmatic_emails.py
  backend/app/main.py
Due: backend-alembic-autogen-check

feature(backend): Add rate limiting for login and register endpoints
  backend/app/api/auth/utils/rate_limit.py
  backend/app/main.py
Due: backend-alembic-autogen-check

feature(backend): Add caching of background data and remove asyncache dependency
  backend/app/api/background_data/__init__.py
  backend/app/api/background_data/crud.py
  backend/app/api/background_data/routers/admin.py
  backend/app/api/background_data/routers/public.py
  backend/app/api/common/routers/openapi.py
  backend/app/core/cache.py
  backend/app/core/config.py
  backend/app/core/redis.py
  backend/app/main.py
  backend/app/static/favicon.ico
  backend/app/static/favicon_500.ico
  backend/app/templates/index.html
  backend/app/templates/login.html
  backend/pyproject.toml
  backend/scripts/clear_cache.py
Due: backend-alembic-autogen-check

fix(backend): Refactor file mounting to separate file
  backend/app/api/common/routers/file_mounts.py
Due: backend-alembic-autogen-check

feature(backend): Move to Loguru for logging
  backend/app/core/logging.py
  backend/app/main.py
Due: backend-alembic-autogen-check

feature(backend): Add rate limiting exception handler
  backend/app/api/common/routers/exceptions.py
Due: backend-alembic-autogen-check

fix(backend): Move to custom async cache for camera status caching
  backend/app/api/plugins/rpi_cam/models.py
Due: backend-alembic-autogen-check

feature(Implement updated oauth service in youtube streaming service for RPI plugin
  backend/app/api/plugins/rpi_cam/routers/camera_interaction/streams.py
  backend/app/api/plugins/rpi_cam/services.py
Due: backend-alembic-autogen-check

fix(backend): Fix linting issues
  backend/app/api/background_data/models.py
  backend/app/api/background_data/routers/__init__.py
  backend/app/api/common/crud/associations.py
  backend/app/api/common/crud/base.py
  backend/app/api/common/crud/utils.py
  backend/app/api/common/models/base.py
  backend/app/api/common/routers/__init__.py
  backend/app/api/common/routers/exceptions.py
  backend/app/api/common/schemas/custom_fields.py
  backend/app/api/data_collection/crud.py
  backend/app/api/data_collection/dependencies.py
  backend/app/api/data_collection/filters.py
  backend/app/api/data_collection/models.py
  backend/app/api/data_collection/routers.py
  backend/app/api/data_collection/schemas.py
  backend/app/api/file_storage/crud.py
  backend/app/api/file_storage/models/custom_types.py
  backend/app/api/file_storage/models/models.py
  backend/app/api/file_storage/router_factories.py
  backend/app/api/file_storage/schemas.py
  backend/app/api/newsletter/utils/tokens.py
  backend/app/api/plugins/rpi_cam/dependencies.py
  backend/app/api/plugins/rpi_cam/models.py
  backend/app/api/plugins/rpi_cam/routers/__init__.py
  backend/app/api/plugins/rpi_cam/routers/admin.py
  backend/app/api/plugins/rpi_cam/routers/camera_crud.py
  backend/app/api/plugins/rpi_cam/routers/camera_interaction/__init__.py
  backend/app/api/plugins/rpi_cam/routers/camera_interaction/streams.py
  backend/app/api/plugins/rpi_cam/routers/camera_interaction/utils.py
  backend/app/api/plugins/rpi_cam/schemas.py
  backend/app/api/plugins/rpi_cam/types.py
  backend/app/api/plugins/rpi_cam/utils/encryption.py
  backend/app/core/database.py
Due: backend-alembic-autogen-check

fix(backend): Fix linting issues in scripts
  backend/scripts/compile_email_templates.py
  backend/scripts/create_superuser.py
  backend/scripts/db_is_empty.py
  backend/scripts/render_erd.py
  backend/scripts/seed/data.json
  backend/scripts/seed/dummy_data.py
  backend/scripts/seed/taxonomies/__init__.py
  backend/scripts/seed/taxonomies/common.py
  backend/scripts/seed/taxonomies/cpv.py
  backend/scripts/seed/taxonomies/harmonized_system.py
Due: none

fix(backend): Simplify linting config
  backend/pyproject.toml
Due: none

feature(ci): Add just task runner
  CONTRIBUTING.md
  backend/justfile
  justfile
Due: none

fix(backend): Add deps to pyproject.toml
  backend/pyproject.toml
Due: none

fix(docker): Remove reference to alembic.ini in Docker image
  backend/Dockerfile.migrations
Due: none

fix(backend): Ensure user update data is validated
  backend/app/api/auth/crud/users.py
  backend/app/api/auth/services/user_manager.py
Due: backend-alembic-autogen-check

feature(backend): Disable rate limiting in dev and testing envs
  backend/app/api/auth/utils/rate_limit.py
  backend/app/core/config.py
Due: backend-alembic-autogen-check

feature(backend): Implement custom oauth router that allows redirects to frontend
  backend/app/api/auth/routers/custom_oauth.py
  backend/app/api/auth/routers/oauth.py
  backend/app/api/auth/schemas.py
Due: backend-alembic-autogen-check

chore(backend): Update email templates
  backend/app/templates/emails/build/newsletter.html
  backend/app/templates/emails/build/newsletter_subscription.html
  backend/app/templates/emails/build/newsletter_unsubscribe.html
  backend/app/templates/emails/build/password_reset.html
  backend/app/templates/emails/build/post_verification.html
  backend/app/templates/emails/build/registration.html
  backend/app/templates/emails/build/verification.html
Due: backend-alembic-autogen-check

feature(frontend-app): Update frontend to work with the new auth backend (using cookies, session tokens, and adding oauth options for Google and Github)
  frontend-app/package-lock.json
  frontend-app/src/app/(auth)/login.tsx
  frontend-app/src/app/(auth)/onboarding.tsx
  frontend-app/src/app/(tabs)/_layout.tsx
  frontend-app/src/app/(tabs)/profile.tsx
  frontend-app/src/app/_layout.tsx
  frontend-app/src/services/api/authentication.ts
  frontend-app/src/services/api/fetching.ts
  frontend-app/src/services/api/saving.ts
  frontend-app/src/types/User.ts
Due: frontend-app-lint

feature(frontend-web): Update privacy policy
  frontend-web/src/app/privacy.tsx
Due: frontend-web-lint

chore(deps): Update uv base image
  backend/Dockerfile
  backend/Dockerfile.dev
  backend/Dockerfile.migrations
Due: none

fix(docker): Move from snake_case to kebab-case for backend-migrations service
  CONTRIBUTING.md
  backend/Dockerfile.migrations
  compose.staging.yml
  compose.yml
Due: none

fix(ci): Update pre-commit config
  .pre-commit-config.yaml
Due: none

fix(ci): Update devcontainer config
  .devcontainer/devcontainer.json
  .devcontainer/frontend-app/devcontainer.json
  .devcontainer/frontend-web/devcontainer.json
Due: none

fix(docs): Small updates in repo docs
  CONTRIBUTING.md
  INSTALL.md
Due: none

fix(ci): Update renovate.json
  renovate.json
Due: none

fix(ci): Update vs code config
  .vscode/settings.json
  frontend-web/.vscode/extensions.json
  frontend-web/.vscode/settings.json
Due: frontend-web-lint

fix(backend): Move test cov reports
  backend/.dockerignore
  backend/.gitignore
  backend/pyproject.toml
Due: none

fix(backend): Update license expression
  backend/pyproject.toml
Due: none

fix(backend): Use alembic built in check instead of alembic-autogen dep
  backend/pyproject.toml
Due: none

fix(backend): Create own fork of fastapi-cache2 for stability
  backend/pyproject.toml
Due: none

fix(ci): Move from snake_case to kebab-case
  backend/Dockerfile.user-upload-backups
  backend/alembic/versions/da288fbcf15e_add_oauth_account_uniqueness_constraint.py
  compose.prod.yml
Due: backend-alembic-autogen-check

chore(backend): newline to end of email templates
  backend/app/templates/emails/build/newsletter.html
  backend/app/templates/emails/build/newsletter_subscription.html
  backend/app/templates/emails/build/newsletter_unsubscribe.html
  backend/app/templates/emails/build/password_reset.html
  backend/app/templates/emails/build/post_verification.html
  backend/app/templates/emails/build/registration.html
  backend/app/templates/emails/build/verification.html
Due: backend-alembic-autogen-check

fix(docs): update casing in backup readme
  backend/scripts/backup/README.md
Due: none

feature(docs): Move from mkdocs-material to zensical
  docs/.gitignore
  docs/Dockerfile
  docs/Dockerfile.dev
  docs/__init__.py
  docs/docs/architecture/system-design.md
  docs/docs/index.md
  docs/docs/static/images/favicon.ico
  docs/docs/static/images/logo.png
  docs/docs/user-guides/api.md
  docs/main.py
  docs/mkdocs.yml
  docs/pyproject.toml
  docs/uv.lock
  docs/zensical.toml
Due: none

feature(backend): Add healthcheck endpoints
  backend/app/api/common/routers/health.py
  backend/app/core/redis.py
  backend/app/main.py
Due: backend-alembic-autogen-check

fix(backend): Refactor base model and crud functionality to adhere to type linting
  backend/app/api/common/crud/base.py
  backend/app/api/common/crud/utils.py
  backend/app/api/common/models/custom_types.py
Due: backend-alembic-autogen-check

fix(ci): Update justfiles
  backend/justfile
  justfile
Due: none
