Repository CMLPlatform/relab: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-alembic-autogen-check, frontend-lint

.pre-commit-config.yaml:

# Configuration of Pre-commit Hooks. For more information, see https://pre-commit.com.
# NOTE: pre-commit does not support multiple config files, hence this file is used for both global and subrepo-specific hooks.
# TODO: Consider moving to from monorepo to multiple repos for easier CI/CD management.
# Alternatively, move to lefthook for extensible git hook management.

repos:
  ### Global hooks
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.28.0
    hooks:
      - id: gitleaks

  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.22
    hooks:
      - id: mdformat # Format Markdown files.
        additional_dependencies:
          - mdformat-gfm # Support GitHub Flavored Markdown.
          - mdformat-footnote
          - mdformat-frontmatter
          - mdformat-ruff # Support Python code blocks linted with Ruff.
          - mdformat-tables # Support GitHub style tables.

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict # Check for files with names that differ only in case.
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer # Ensure files end with a newline.
      - id: mixed-line-ending
      - id: no-commit-to-branch # Prevent commits to main and master branches.
      - id: trailing-whitespace
        args: ["--markdown-linebreak-ext", "md"] # Preserve Markdown hard line breaks.

  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.8.3
    hooks:
      - id: commitizen
        stages: [commit-msg]

  ### Backend hooks
  - repo: https://github.com/RobertCraigie/pyright-python # Lint backend code with Pyright.
    rev: v1.1.403
    hooks:
      - id: pyright
        files: ^backend/(app|scripts|tests)/
        entry: pyright --project backend

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.7
    hooks:
      - id: ruff-check # Lint code
        files: ^backend/(app|scripts|tests)/
        args: # Allow TODO comments in commits.
          ["--fix", "--config", "backend/pyproject.toml", "--ignore", "FIX002"]
      - id: ruff-format # Format code
        files: ^backend/(app|scripts|tests)/
        args: ["--config", "backend/pyproject.toml"]

  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.8.4
    hooks:
      - id: uv-lock # Update the uv lockfile for the backend.
        files: ^backend/(uv\.lock|pyproject\.toml|uv\.toml)$
        entry: uv lock --project backend

  - repo: local
    hooks: # Check if Alembic migrations are up-to-date. Uses uv to ensure the right environment when executed through VS Code Git extension.
      - id: backend-alembic-autogen-check
        name: check alembic migrations
        entry: bash -c 'cd backend && uv run alembic-autogen-check'
        language: system
        files: ^(backend/(app|alembic)/|alembic\.ini$)
        pass_filenames: false
        stages: [pre-commit]

  ### Frontend hooks
  - repo: local
    hooks:
      - id: frontend-lint
        name: lint frontend code
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        # Match frontend JavaScript and TypeScript files for linting.
        files: ^frontend/.*\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?)$
        pass_filenames: false

feat(backend): add unique brands endpoint
  backend/app/api/data_collection/crud.py
  backend/app/api/data_collection/routers.py
Due: backend-alembic-autogen-check

feat(frontend-app): Add register, reset password, and email verification flows to app frontend
  backend/.env.example
  backend/app/api/auth/utils/programmatic_emails.py
  backend/app/core/config.py
  compose.override.yml
  compose.prod.yml
  frontend-app/.env.production
  frontend-app/app.json
  frontend-app/app/(auth)/forgot-password.tsx
  frontend-app/app/(auth)/login.tsx
  frontend-app/app/(auth)/register.tsx
  frontend-app/app/(auth)/reset-password.tsx
  frontend-app/app/_layout.tsx
  frontend-app/assets/images/maintenance.png
  frontend-app/package-lock.json
  frontend-app/package.json
  frontend-web/.env.production
  frontend-web/src/app/newsletter/confirm.tsx
Due: backend-alembic-autogen-check

Squashed commit of the following:
  frontend/app.json
  frontend/app/(auth)/login.tsx
  frontend/app/(tabs)/_layout.tsx
  frontend/app/(tabs)/database.tsx
  frontend/app/(tabs)/profile.tsx
  frontend/app/_layout.tsx
  frontend/app/index.tsx
  frontend/app/products/[id]/brand_selection.tsx
  frontend/app/products/[id]/camera.tsx
  frontend/app/products/[id]/category_selection.tsx
  frontend/app/products/[id]/index.tsx
  frontend/assets/data/cpv.json
  frontend/assets/data/cpv_classifications.json
  frontend/assets/data/demo.json
  frontend/assets/data/products.json
  frontend/assets/fonts/SpaceMono-Regular.ttf
  frontend/assets/images/bg-1.jpg
  frontend/assets/images/logo-cml.jpg
  frontend/components/common/CPVCard.tsx
  frontend/components/common/DialogProvider.tsx
  frontend/components/common/ProductCard.tsx
  frontend/components/product/ProductComponents.tsx
  frontend/components/product/ProductDelete.tsx
  frontend/components/product/ProductDescription.tsx
  frontend/components/product/ProductImage.tsx
  frontend/components/product/ProductMetaData.tsx
  frontend/components/product/ProductPhysicalProperties.tsx
  frontend/components/product/ProductTags.tsx
  frontend/components/product/ProductType.tsx
  frontend/eslint.config.js
  frontend/services/api/authentication.ts
  frontend/services/api/fetching.ts
  frontend/services/api/saving.ts
  frontend/types/Product.ts
  frontend/types/User.ts
  uv.lock
Due: frontend-lint

chore(frontend): Clean up redundant frontend subrepo
  frontend-web/src/app/(auth)/reset-password.tsx
  frontend-web/src/app/(auth)/verify.tsx
  frontend/app.json
  frontend/app/(auth)/login.tsx
  frontend/app/(tabs)/_layout.tsx
  frontend/app/(tabs)/database.tsx
  frontend/app/(tabs)/profile.tsx
  frontend/app/_layout.tsx
  frontend/app/index.tsx
  frontend/app/products/[id]/brand_selection.tsx
  frontend/app/products/[id]/camera.tsx
  frontend/app/products/[id]/category_selection.tsx
  frontend/app/products/[id]/index.tsx
  frontend/assets/data/cpv.json
  frontend/assets/data/cpv_classifications.json
  frontend/assets/data/demo.json
  frontend/assets/data/products.json
  frontend/assets/fonts/SpaceMono-Regular.ttf
  frontend/assets/images/bg-1.jpg
  frontend/assets/images/logo-cml.jpg
  frontend/components/common/CPVCard.tsx
  frontend/components/common/DialogProvider.tsx
  frontend/components/common/ProductCard.tsx
  frontend/components/product/ProductComponents.tsx
  frontend/components/product/ProductDelete.tsx
  frontend/components/product/ProductDescription.tsx
  frontend/components/product/ProductImage.tsx
  frontend/components/product/ProductMetaData.tsx
  frontend/components/product/ProductPhysicalProperties.tsx
  frontend/components/product/ProductTags.tsx
  frontend/components/product/ProductType.tsx
  frontend/eslint.config.js
  frontend/services/api/authentication.ts
  frontend/services/api/fetching.ts
  frontend/services/api/saving.ts
  frontend/types/Product.ts
  frontend/types/User.ts
Due: frontend-lint

chore(frontend-web): Remove redundant auth flows from main homepage frontend
  frontend-web/src/app/(auth)/reset-password.tsx
  frontend-web/src/app/(auth)/verify.tsx
Due: none

feat(backend): add caching to brands endpoint
  backend/app/api/data_collection/routers.py
Due: backend-alembic-autogen-check

fix(frontend-app): add timeout to auth flows)
  frontend-app/app/(auth)/forgot-password.tsx
  frontend-app/app/(auth)/register.tsx
  frontend-app/tsconfig.json
Due: none

fix(frontend): Update favicon
  frontend-app/app.json
  frontend-app/assets/images/favicon.ico
  frontend-app/assets/images/maintenance.png
  frontend-web/app.config.ts
  frontend-web/src/assets/images/favicon.ico
  frontend-web/src/assets/images/maintenance.png
Due: none

fix(frontend): Fix favicon format
  frontend-app/app.json
  frontend-app/assets/images/favicon.png
  frontend-web/app.config.ts
Due: none

fix(ui): fix favicon mime types
  backend/app/static/favicon.png
  backend/app/templates/index.html
  backend/app/templates/login.html
  frontend-app/app.json
  frontend-app/assets/images/favicon.ico
  frontend-web/app.config.ts
  frontend-web/src/assets/images/adaptive-icon.png
  frontend-web/src/assets/images/favicon.ico
  frontend-web/src/assets/images/icon.png
Due: backend-alembic-autogen-check

feat: add robots.txt
  backend/app/static/robots.txt
  docs/docs/robots.txt
  frontend-app/public/robots.txt
  frontend-web/src/public/robots.txt
Due: backend-alembic-autogen-check

fix(backend): Create user directory to allow tldextract to function in Docker container
  backend/Dockerfile
Due: none

Add functional history bar
  frontend-app/app/products/[id]/category_selection.tsx
Due: none

Add index to pictures
  frontend-app/components/product/ProductImage.tsx
Due: none

Add image picker
  frontend-app/components/product/ProductImage.tsx
  frontend-app/package-lock.json
  frontend-app/package.json
  frontend-app/services/api/saving.ts
Due: none

Remove redundant log
  frontend-app/components/base/Chip.tsx
Due: none

Product tags show error
  frontend-app/components/base/Chip.tsx
  frontend-app/components/product/ProductTags.tsx
Due: none
