Repository CMLPlatform/relab: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-alembic-autogen-check, frontend-lint

.pre-commit-config.yaml:

# Configuration of Pre-commit Hooks. For more information, see https://pre-commit.com.
# NOTE: pre-commit does not support multiple config files, hence this file is used for both global and subrepo-specific hooks.
# TODO: Consider moving to from monorepo to multiple repos for easier CI/CD management.
# Alternatively, move to lefthook for extensible git hook management.

repos:
  ### Global hooks
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.28.0
    hooks:
      - id: gitleaks

  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.22
    hooks:
      - id: mdformat # Format Markdown files.
        additional_dependencies:
          - mdformat-gfm # Support GitHub Flavored Markdown.
          - mdformat-footnote
          - mdformat-frontmatter
          - mdformat-ruff # Support Python code blocks linted with Ruff.
          - mdformat-tables # Support GitHub style tables.

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict # Check for files with names that differ only in case.
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer # Ensure files end with a newline.
      - id: mixed-line-ending
      - id: no-commit-to-branch # Prevent commits to main and master branches.
      - id: trailing-whitespace
        args: ["--markdown-linebreak-ext", "md"] # Preserve Markdown hard line breaks.

  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.8.3
    hooks:
      - id: commitizen
        stages: [commit-msg]

  ### Backend hooks
  - repo: https://github.com/RobertCraigie/pyright-python # Lint backend code with Pyright.
    rev: v1.1.403
    hooks:
      - id: pyright
        files: ^backend/(app|scripts|tests)/
        entry: pyright --project backend

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.7
    hooks:
      - id: ruff-check # Lint code
        files: ^backend/(app|scripts|tests)/
        args: # Allow TODO comments in commits.
          ["--fix", "--config", "backend/pyproject.toml", "--ignore", "FIX002"]
      - id: ruff-format # Format code
        files: ^backend/(app|scripts|tests)/
        args: ["--config", "backend/pyproject.toml"]

  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.8.4
    hooks:
      - id: uv-lock # Update the uv lockfile for the backend.
        files: ^backend/(uv\.lock|pyproject\.toml|uv\.toml)$
        entry: uv lock --project backend

  - repo: local
    hooks: # Check if Alembic migrations are up-to-date. Uses uv to ensure the right environment when executed through VS Code Git extension.
      - id: backend-alembic-autogen-check
        name: check alembic migrations
        entry: bash -c 'cd backend && uv run alembic-autogen-check'
        language: system
        files: ^(backend/(app|alembic)/|alembic\.ini$)
        pass_filenames: false
        stages: [pre-commit]

  ### Frontend hooks
  - repo: local
    hooks:
      - id: frontend-lint
        name: lint frontend code
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        # Match frontend JavaScript and TypeScript files for linting.
        files: ^frontend/.*\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?)$
        pass_filenames: false

fix: update default Python environment manager to use venv
  .vscode/settings.json
Due: none

fix(deps): Custom Renovate config
  renovate.json
Due: none

fix(deps): add root-level pyproject.toml to renovate and delete dependabot config
  .github/dependabot.yml
  renovate.json
Due: none

chore(cicd): update pre-commit repos
  .pre-commit-config.yaml
Due: none

fix(backend): simplify use of pathlib parents
  backend/alembic/env.py
  backend/scripts/render_erd.py
  backend/scripts/seed/harmonized_system.py
  backend/tests/conftest.py
Due: backend-alembic-autogen-check

fix(backend): remove irrelevant todo
  backend/app/__version__.py
Due: backend-alembic-autogen-check

feat: add pre-commit autoupdate hook
  .pre-commit-config.yaml
Due: none

refactor(rpi-plugin): Replace duplicated models with models from published relab-rpi-cam-models package
  backend/.vscode/settings.json
  backend/app/api/common/models/custom_fields.py
  backend/app/api/file_storage/models/models.py
  backend/app/api/plugins/rpi_cam/models.py
  backend/app/api/plugins/rpi_cam/routers/camera_interaction/remote_management.py
  backend/app/api/plugins/rpi_cam/routers/camera_interaction/streams.py
  backend/app/api/plugins/rpi_cam/services.py
  backend/pyproject.toml
  backend/uv.lock
Due: backend-alembic-autogen-check

chore(docker): Update UV images to Debian Trixie
  backend/Dockerfile.api
  backend/Dockerfile.migrations
Due: none

fix(vs code): Fix suggested python venv settings for VS code integration
  .vscode/settings.json
  backend/.vscode/settings.json
Due: none

fix(docs): Fix license and changelog links in docs
  docs/docs/index.md
Due: none

fix(docs): Remove self-evident comments in pyproject.toml
  backend/pyproject.toml
Due: none

chore(infra): make migrations service opt-in via "migrations" profile
  compose.yml
Due: none

fix(infra): Enforce pull of latest cloudflared image
  compose.prod.yml
Due: none

fix(routing): rename subdomain: api2 -> api
  README.md
  backend/scripts/seed/harmonized_system.py
  compose.prod.yml
  docs/docs/architecture/api.md
  docs/docs/architecture/auth.md
  docs/docs/dataset/index.md
  docs/docs/index.md
  docs/docs/user-guides/api.md
  frontend/.env.production
Due: none

fix(docker): update base image to slim version and adjust expo command syntax
  backend/Dockerfile.api
  backend/Dockerfile.migrations
  compose.prod.yml
Due: none

fix(backend): Ensure logging works even when running app via uvicorn
  backend/app/core/utils/custom_logging.py
Due: backend-alembic-autogen-check

fix(docs): Update timestamps in documentation
  backend/app/api/background_data/routers/public.py
  backend/app/api/data_collection/routers.py
  backend/app/api/data_collection/schemas.py
  backend/app/api/file_storage/router_factories.py
  docs/docs/dataset/index.md
  frontend/src/assets/data/demo.json
Due: backend-alembic-autogen-check, frontend-lint

fix(models): Update file URL path to include 'files' directory
  backend/app/api/file_storage/models/models.py
Due: backend-alembic-autogen-check
