Repository CMLPlatform/relab: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-alembic-autogen-check, frontend-lint

backend-alembic-autogen-check:
  name: check alembic migrations
  entry: bash -c 'cd backend && uv run alembic-autogen-check'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

frontend-lint:
  name: lint frontend code
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

refactor(backend): Refactor backup and migration scripts, add default backup location to backend data
  backend/Dockerfile.migrations
  backend/Dockerfile.user_upload_backups
  backend/scripts/backup/backup_rclone.sh
  backend/scripts/backup/backup_user_uploads.sh
  backend/scripts/backup/user_upload_backups_entrypoint.sh
  backend/scripts/seed/migrations_entrypoint.sh
  compose.prod.yml
Due: none

Redesigned the login screen
  frontend/app/(auth)/login.tsx
  frontend/assets/images/bg-1.jpg
  frontend/package-lock.json
  frontend/package.json
Due: frontend-lint

Fix scrolling outside of screen
  frontend/app/products/[id]/index.tsx
Due: frontend-lint

Fix clicking on camera button
  frontend/components/product/ProductImage.tsx
Due: frontend-lint

Theming
  frontend/app/(auth)/login.tsx
  frontend/app/(tabs)/_layout.tsx
  frontend/app/_layout.tsx
  frontend/assets/themes/light.ts
Due: frontend-lint

fix(backups): Change from rclone to rsync and update default backup system paths
  .env.example
  backend/scripts/backup/backup_rclone.sh
  backend/scripts/backup/backup_user_uploads.sh
  backend/scripts/backup/rsync_backup.sh
  backend/scripts/backup/user_upload_backups_entrypoint.sh
  compose.prod.yml
Due: none

fix(backend): Allow unverified users access to /users endpoint
  backend/app/api/auth/routers/users.py
Due: backend-alembic-autogen-check

fix(backend): TEMP FIX: Add parent_id and amount_in_parent by default in product read schema to allow breadcrumb UI in frontend
  backend/app/api/common/schemas/base.py
Due: backend-alembic-autogen-check

fix(backend): Exclude components from /products endpoint by default
  backend/app/api/data_collection/routers.py
Due: backend-alembic-autogen-check

Fix Darkmode
  frontend/app/(auth)/login.tsx
  frontend/app/_layout.tsx
  frontend/assets/images/bg-2.jpg
  frontend/assets/themes/dark.ts
  frontend/assets/themes/light.ts
  frontend/components/common/DialogProvider.tsx
Due: frontend-lint

Reload product on save for metadata
  frontend/app/products/[id]/index.tsx
Due: frontend-lint

fix(backend): refactor frontend-web url variable
  backend/.env.example
  backend/app/api/auth/routers/frontend.py
  backend/app/api/auth/utils/programmatic_emails.py
  backend/app/core/config.py
  backend/app/templates/index.html
  compose.override.yml
  compose.prod.yml
Due: backend-alembic-autogen-check

fix(backend): Make CORS config more explicit
  backend/app/main.py
Due: backend-alembic-autogen-check

fix(backend): Simplify cookie domain config
  backend/app/api/auth/services/user_manager.py
  backend/pyproject.toml
  backend/uv.lock
Due: backend-alembic-autogen-check

feat(backend): WIP: add CPV seeding script
  backend/.gitignore
  backend/scripts/seed/cpv.py
Due: none

Saving indicator check
  frontend/app/products/[id]/index.tsx
Due: frontend-lint

User registration
  frontend/app/(auth)/login.tsx
  frontend/app/(auth)/new_account.tsx
  frontend/app/_layout.tsx
  frontend/services/api/authentication.ts
  frontend/types/User.ts
Due: frontend-lint

Redesigned ProductCard
  frontend/app/(tabs)/database.tsx
  frontend/components/common/ProductCard.tsx
  frontend/components/product/ProductComponents.tsx
Due: frontend-lint

Redesigned ProductComponents
  frontend/components/product/ProductComponents.tsx
Due: frontend-lint

Physical properties now show cube for dimensions
  frontend/components/common/SVGCube.tsx
  frontend/components/product/ProductPhysicalProperties.tsx
  frontend/package-lock.json
  frontend/package.json
Due: frontend-lint

Path conditions:
  backend-alembic-autogen-check: any of: ^(backend/(app|alembic)/|alembic\.ini$)
  frontend-lint: any of: ^frontend/.*\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?)$
