Repository CMLPlatform/relab: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-alembic-autogen-check, frontend-web-lint, frontend-app-lint

backend-alembic-autogen-check:
  name: check alembic migrations
  entry: bash -c 'cd backend && uv run alembic-autogen-check'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

frontend-web-lint:
  name: lint frontend-web code
  entry: bash -c 'cd frontend-web && npm run lint'
  language: system
  pass_filenames: false

frontend-app-lint:
  name: lint frontend-app code
  entry: bash -c 'cd frontend-app && npm run lint'
  language: system
  pass_filenames: false

fix: serve fonts locally for docs and frontend-web, resize background images
  docs/docs/static/images/bg-dark.jpg
  docs/docs/static/images/bg-light.jpg
  frontend-app/src/assets/images/bg-dark.jpg
  frontend-app/src/assets/images/bg-light.jpg
  frontend-web/public/bg-dark.jpg
  frontend-web/public/bg-light.jpg
  frontend-web/public/fonts/ibm-plex-sans-italic-latin-ext.woff2
  frontend-web/public/fonts/ibm-plex-sans-italic-latin.woff2
  frontend-web/public/fonts/ibm-plex-sans-latin-ext.woff2
  frontend-web/public/fonts/ibm-plex-sans-latin.woff2
  frontend-web/public/fonts/space-grotesk-latin-ext.woff2
  frontend-web/public/fonts/space-grotesk-latin.woff2
  frontend-web/public/images/bg-dark.jpg
  frontend-web/public/images/bg-light.jpg
  frontend-web/public/images/favicon.ico
  frontend-web/public/images/logo.png
Due: none

feat(frontend-web): Small updates
  frontend-web/README.md
  frontend-web/package-lock.json
  frontend-web/package.json
  frontend-web/src/components/EmailForm.astro
  frontend-web/src/components/TokenAction.astro
  frontend-web/src/layouts/Layout.astro
  frontend-web/src/pages/index.astro
  frontend-web/src/pages/newsletter/confirm.astro
  frontend-web/src/pages/newsletter/unsubscribe-form.astro
  frontend-web/src/pages/newsletter/unsubscribe.astro
  frontend-web/src/pages/privacy.astro
  frontend-web/src/styles/fonts.css
  frontend-web/src/styles/global.css
Due: frontend-web-lint

fix(backend): Update deps, Clean up test env file
  backend/.env.test
  backend/pyproject.toml
  backend/uv.lock
Due: none

feat(auth): Refactor authentication API calls to use centralized config
  frontend-app/.env.development
  frontend-app/.env.production
  frontend-app/.env.staging
  frontend-app/README.md
  frontend-app/src/app/(auth)/forgot-password.tsx
  frontend-app/src/app/(auth)/login.tsx
  frontend-app/src/app/(auth)/new-account.tsx
  frontend-app/src/app/(auth)/reset-password.tsx
  frontend-app/src/app/(auth)/verify.tsx
  frontend-app/src/app/profile.tsx
  frontend-app/src/config.ts
Due: frontend-app-lint

feat:(frontend-app): Refactor components to use theme hooks and improve accessibility
  frontend-app/package-lock.json
  frontend-app/package.json
  frontend-app/src/app/(auth)/new-account.tsx
  frontend-app/src/app/_layout.tsx
  frontend-app/src/app/products/[id]/category_selection.tsx
  frontend-app/src/app/products/__tests__/index-test.tsx
  frontend-app/src/app/products/index.tsx
  frontend-app/src/app/profile.tsx
  frontend-app/src/components/base.ts
  frontend-app/src/components/base/Chip.tsx
  frontend-app/src/components/base/InfoTooltip.tsx
  frontend-app/src/components/base/Skeleton.tsx
  frontend-app/src/components/base/Text.tsx
  frontend-app/src/components/base/TextInput.tsx
  frontend-app/src/components/common/CPVCard.tsx
  frontend-app/src/components/common/DialogProvider.tsx
  frontend-app/src/components/common/ProductCard.tsx
  frontend-app/src/components/common/ProductCardSkeleton.tsx
  frontend-app/src/components/common/ProductDetailsSkeleton.tsx
  frontend-app/src/components/product/ProductCircularityProperties.tsx
  frontend-app/src/components/product/ProductDescription.tsx
  frontend-app/src/components/product/ProductImageGallery.tsx
  frontend-app/src/components/product/ProductTags.tsx
Due: frontend-app-lint

feat(frontend-app): integrate auto-generated OpenAPI types
  .cspell.yaml
  frontend-app/README.md
  frontend-app/justfile
  frontend-app/package.json
  frontend-app/scripts/redact_api.js
  frontend-app/src/hooks/useAppTheme.ts
  frontend-app/src/hooks/useProductForm.ts
  frontend-app/src/services/api/__tests__/saving-test.ts
  frontend-app/src/services/api/authentication.ts
  frontend-app/src/services/api/brands.ts
  frontend-app/src/services/api/client.ts
  frontend-app/src/services/api/fetching.ts
  frontend-app/src/services/api/media.ts
  frontend-app/src/services/api/newsletter.ts
  frontend-app/src/services/api/productTypes.ts
  frontend-app/src/services/api/products.ts
  frontend-app/src/services/api/saving.ts
  frontend-app/src/services/api/validation/productSchema.ts
  frontend-app/src/services/newProductStore.ts
  frontend-app/src/types/User.ts
  frontend-app/src/types/api.generated.ts
  frontend-app/src/types/api.ts
Due: frontend-app-lint

feat(backend): add request ID and request size limit middleware
  backend/app/core/config.py
  backend/app/core/logging.py
  backend/app/core/request_id.py
  backend/app/core/request_size.py
  backend/app/main.py
  backend/tests/unit/core/test_request_id.py
  backend/tests/unit/core/test_request_size.py
Due: backend-alembic-autogen-check

feat(backend): add oauth state token TTL configuration and related tests
  backend/app/api/auth/config.py
  backend/app/api/auth/services/oauth_utils.py
  backend/tests/unit/auth/test_config.py
  backend/tests/unit/auth/test_oauth_utils.py
Due: backend-alembic-autogen-check

infra: add optional backend OpenTelemetry tracing and collector wiring
  .cspell.yaml
  .env.example
  CONTRIBUTING.md
  INSTALL.md
  backend/.env.dev.example
  backend/.env.prod.example
  backend/.env.staging.example
  backend/README.md
  backend/app/core/config.py
  backend/app/core/telemetry.py
  backend/app/main.py
  backend/justfile
  backend/perf/README.md
  backend/perf/k6-baseline.js
  backend/pyproject.toml
  backend/reports/performance/README.md
  backend/tests/integration/core/test_lifespan.py
  backend/tests/integration/core/test_logging.py
  backend/tests/unit/core/test_config.py
  backend/tests/unit/core/test_telemetry.py
  backend/uv.lock
  compose.prod.yml
  compose.staging.yml
  docs/docs/architecture/deployment.md
  justfile
  otel-collector-config.yaml
  uv.lock
Due: backend-alembic-autogen-check

refactor(backend): replace custom fastapi-cache fork with cashews for caching implementation
  backend/app/api/background_data/routers/public_support.py
  backend/app/api/common/routers/openapi.py
  backend/app/api/data_collection/routers.py
  backend/app/core/cache.py
  backend/app/main.py
  backend/pyproject.toml
  backend/uv.lock
Due: backend-alembic-autogen-check

refactor(auth): replace fastapi_users_db_sqlmodel imports with local sqlmodel_adapter
  backend/app/api/auth/crud/users.py
  backend/app/api/auth/dependencies.py
  backend/app/api/auth/models.py
  backend/app/api/auth/services/user_db.py
  backend/app/api/auth/services/user_manager.py
  backend/app/api/auth/sqlmodel_adapter.py
  backend/app/main.py
Due: backend-alembic-autogen-check

refactor(backend): Refactor and enhance maintenance scripts. Add refresh_disposable_email_domains.py to store email validation list locally to avoid unneeded traffic.
  .cspell.yaml
  .pre-commit-config.yaml
  backend/app/api/auth/resources/disposable_email_domains.txt
  backend/app/api/auth/utils/email_validation.py
  backend/data/seed/dummy_data.json
  backend/scripts/db/__init__.py
  backend/scripts/db/is_empty.py
  backend/scripts/db/sync.py
  backend/scripts/generate/__init__.py
  backend/scripts/generate/compile_email_templates.py
  backend/scripts/generate/render_erd.py
  backend/scripts/local_setup.sh
  backend/scripts/maintenance/__init__.py
  backend/scripts/maintenance/cleanup_files.py
  backend/scripts/maintenance/clear_cache.py
  backend/scripts/maintenance/refresh_disposable_email_domains.py
  backend/scripts/seed/dummy_data.py
  backend/scripts/seed/migrations_entrypoint.sh
  backend/scripts/seed/taxonomies/cpv.py
  backend/scripts/seed/taxonomies/harmonized_system.py
  backend/scripts/users/__init__.py
  backend/scripts/users/create_superuser.py
  backend/scripts/users/create_user.py
  backend/tests/unit/auth/test_auth_utils.py
  backend/tests/unit/scripts/db/__init__.py
  backend/tests/unit/scripts/db/test_is_empty.py
  backend/tests/unit/scripts/generate/__init__.py
  backend/tests/unit/scripts/generate/test_compile_email_templates.py
  backend/tests/unit/scripts/maintenance/__init__.py
  backend/tests/unit/scripts/maintenance/test_clear_cache.py
  backend/tests/unit/scripts/maintenance/test_refresh_disposable_email_domains.py
  backend/tests/unit/scripts/users/__init__.py
  backend/tests/unit/scripts/users/test_create_superuser.py
  backend/tests/unit/scripts/users/test_create_user.py
Due: backend-alembic-autogen-check

refactor: standardize VSCode settings across all services, move from eslint to biome
  .devcontainer/backend/devcontainer.json
  .devcontainer/devcontainer.json
  .devcontainer/docs/devcontainer.json
  .devcontainer/frontend-app/devcontainer.json
  .devcontainer/frontend-web/devcontainer.json
  .vscode/extensions.json
  .vscode/settings.json
  backend/.vscode/extensions.json
  backend/.vscode/settings.json
  docs/.vscode/extensions.json
  docs/.vscode/settings.json
  frontend-app/biome.json
  frontend-app/eslint.config.js
  frontend-web/.vscode/extensions.json
  frontend-web/.vscode/settings.json
Due: frontend-web-lint, frontend-app-lint

refactor: update Docker and ignore files for improved build and runtime management
  backend/.dockerignore
  backend/.gitignore
  backend/Dockerfile
  backend/Dockerfile.migrations
  backend/Dockerfile.user-upload-backups
  backend/justfile
  backend/scripts/seed/taxonomies/cpv.py
  backend/scripts/seed/taxonomies/harmonized_system.py
  compose.e2e.yml
  compose.prod.yml
  compose.staging.yml
  compose.yml
  frontend-app/.dockerignore
  frontend-app/.gitignore
Due: none

ci: add smoke test for user-upload backups image in justfile and ci
  .github/workflows/ci.yml
  justfile
Due: none

feat: add performance baseline workflow and update related scripts and documentation
  .github/workflows/perf-baseline.yml
  backend/app/core/telemetry.py
  backend/perf/README.md
  backend/perf/k6-baseline.js
  backend/pyproject.toml
  backend/reports/performance/2026-03-30-ci-baseline.md
  backend/reports/performance/2026-03-30-docker-dev-baseline.md
  backend/reports/performance/README.md
  backend/reports/performance/latest-k6-summary.json
  backend/tests/unit/core/test_telemetry.py
  justfile
Due: backend-alembic-autogen-check

refactor: pass through exceptions to base API exception file
  backend/app/api/auth/exceptions.py
  backend/app/api/common/crud/exceptions.py
  backend/app/api/exceptions.py
  backend/app/api/file_storage/exceptions.py
Due: backend-alembic-autogen-check

feat(backend): add thumbnail generation and deletion functions for image processing
  backend/app/core/images.py
Due: backend-alembic-autogen-check

feat(backend): Refactor file storage system to support S3 backend
  backend/app/api/file_storage/crud.py
  backend/app/api/file_storage/models/models.py
  backend/app/api/file_storage/models/storage.py
  backend/app/api/file_storage/router_factories.py
  backend/app/api/file_storage/routers.py
  backend/app/api/file_storage/schemas.py
  backend/app/core/config.py
  backend/tests/unit/file_storage/test_custom_types.py
  backend/tests/unit/file_storage/test_s3_storage.py
Due: backend-alembic-autogen-check

feat(backend): add image deletion function and integrate thumbnail cleanup in storage service
  backend/app/api/file_storage/cleanup.py
  backend/app/api/file_storage/crud.py
Due: backend-alembic-autogen-check

feat(backend): add option to skip password breach check during user creation
  backend/app/api/auth/services/user_manager.py
  backend/app/api/auth/utils/programmatic_user_crud.py
Due: backend-alembic-autogen-check

test(backend): Update tests for backend)
  backend/README.md
  backend/app/api/data_collection/product_related_routers.py
  backend/app/api/file_storage/crud.py
  backend/app/api/file_storage/presentation.py
  backend/pyproject.toml
  backend/tests/integration/api/test_openapi_endpoints.py
  backend/tests/integration/core/test_fastapi_cache.py
  backend/tests/integration/core/test_file_cleanup_manager.py
  backend/tests/integration/core/test_lifespan.py
  backend/tests/unit/auth/test_exceptions.py
  backend/tests/unit/auth/test_user_crud.py
  backend/tests/unit/background_data/test_background_data_crud.py
  backend/tests/unit/common/test_associations.py
  backend/tests/unit/common/test_base_crud.py
  backend/tests/unit/common/test_exception_exports.py
  backend/tests/unit/common/test_model_base.py
  backend/tests/unit/common/test_mutable_model_properties.py
  backend/tests/unit/common/test_ownership_validation.py
  backend/tests/unit/common/test_schema_base.py
  backend/tests/unit/common/test_schema_field_mixins.py
  backend/tests/unit/core/test_cache.py
  backend/tests/unit/core/test_image_processing.py
  backend/tests/unit/data_collection/test_crud.py
  backend/tests/unit/file_storage/test_cleanup.py
  backend/tests/unit/file_storage/test_file_storage_crud.py
  backend/tests/unit/file_storage/test_presentation.py
  backend/uv.lock
  justfile
Due: backend-alembic-autogen-check

fix(backend): Remove unused code
  backend/app/api/auth/crud/__init__.py
  backend/app/api/auth/crud/organizations.py
  backend/app/api/data_collection/product_read_routers.py
  backend/app/api/data_collection/router_helpers.py
  backend/tests/unit/auth/test_org_crud.py
Due: backend-alembic-autogen-check

docs: update architecture docs and add C4 diagrams
  docs/docs/architecture/c4-diagrams.md
  docs/docs/architecture/deployment.md
  docs/docs/architecture/rpi-cam.md
  docs/docs/architecture/system-design.md
  docs/zensical.toml
Due: none

test(backend): Simplify and update backend test suite
  backend/tests/fixtures/data.py
  backend/tests/unit/auth/test_auth_utils.py
  backend/tests/unit/auth/test_exceptions.py
  backend/tests/unit/auth/test_oauth_clients.py
  backend/tests/unit/auth/test_org_crud.py
  backend/tests/unit/auth/test_org_registration.py
  backend/tests/unit/auth/test_user_crud.py
  backend/tests/unit/background_data/test_background_data_crud.py
  backend/tests/unit/background_data/test_schemas.py
  backend/tests/unit/common/test_associations.py
  backend/tests/unit/conftest.py
  backend/tests/unit/data_collection/test_crud.py
  backend/tests/unit/data_collection/test_schemas.py
  backend/tests/unit/file_storage/test_file_storage_crud.py
  backend/tests/unit/plugins/rpi_cam/test_crud.py
Due: none

test(frontend-app): update profile test
  frontend-app/src/app/__tests__/profile-test.tsx
Due: frontend-app-lint

chore(frontend-web): Update deps and e2e test setup
  frontend-web/package-lock.json
  frontend-web/package.json
  frontend-web/playwright.config.ts
  frontend-web/src/components/EmailForm.astro
Due: frontend-web-lint

refactor(backend): Flatten physical and circularity properties into product model
  backend/alembic/versions/b7c1d2e3f4a5_inline_properties_onto_product.py
  backend/app/api/data_collection/crud/__init__.py
  backend/app/api/data_collection/crud/products.py
  backend/app/api/data_collection/crud/properties.py
  backend/app/api/data_collection/crud/shared.py
  backend/app/api/data_collection/examples.py
  backend/app/api/data_collection/exceptions.py
  backend/app/api/data_collection/filters.py
  backend/app/api/data_collection/models/base.py
  backend/app/api/data_collection/models/product.py
  backend/app/api/data_collection/routers/product_mutation_routers.py
  backend/app/api/data_collection/routers/product_related_routers.py
  backend/app/api/data_collection/schemas.py
  backend/app/api/exceptions.py
  backend/app/core/model_registry.py
  backend/scripts/seed/dummy_seed/products.py
  backend/tests/unit/data_collection/test_crud.py
  backend/tests/unit/data_collection/test_schemas.py
  frontend-app/src/services/api/__tests__/fetching-test.ts
  frontend-app/src/services/api/__tests__/saving-test.ts
  frontend-app/src/services/api/products.ts
  frontend-app/src/services/api/saving.ts
  frontend-app/src/types/api.ts
Due: backend-alembic-autogen-check, frontend-app-lint

feat(backend): Add user preferences field
  backend/alembic/versions/e3d54054d34a_add_user_preferences.py
  backend/app/api/auth/crud/users.py
  backend/app/api/auth/models.py
  backend/app/api/auth/schemas.py
Due: backend-alembic-autogen-check

feat: Add websocket connection for rpi-cams and build rpi-cam management and image capture UI
  backend/alembic/versions/70e78d937e0b_add_websocket_connection_to_rpi_cams.py
  backend/app/api/plugins/rpi_cam/exceptions.py
  backend/app/api/plugins/rpi_cam/models.py
  backend/app/api/plugins/rpi_cam/routers/__init__.py
  backend/app/api/plugins/rpi_cam/routers/camera_interaction/images.py
  backend/app/api/plugins/rpi_cam/routers/camera_interaction/remote_management.py
  backend/app/api/plugins/rpi_cam/routers/camera_interaction/streams.py
  backend/app/api/plugins/rpi_cam/routers/camera_interaction/utils.py
  backend/app/api/plugins/rpi_cam/routers/pairing.py
  backend/app/api/plugins/rpi_cam/schemas/__init__.py
  backend/app/api/plugins/rpi_cam/schemas/pairing.py
  backend/app/api/plugins/rpi_cam/services.py
  backend/app/api/plugins/rpi_cam/websocket/__init__.py
  backend/app/api/plugins/rpi_cam/websocket/connection_manager.py
  backend/app/api/plugins/rpi_cam/websocket/protocol.py
  backend/app/api/plugins/rpi_cam/websocket/relay.py
  backend/app/api/plugins/rpi_cam/websocket/router.py
  backend/app/core/middleware/__init__.py
  frontend-app/src/app/cameras/[id].tsx
  frontend-app/src/app/cameras/add.tsx
  frontend-app/src/app/cameras/index.tsx
  frontend-app/src/components/cameras/QrScanner.tsx
  frontend-app/src/components/product/ProductImageGallery.tsx
  frontend-app/src/hooks/useRpiCameras.ts
  frontend-app/src/hooks/useRpiIntegration.ts
  frontend-app/src/services/api/rpiCamera.ts
Due: backend-alembic-autogen-check, frontend-app-lint

feat: Small linting fixes and improve typing of base class int/UUID id mixins
  backend/app/api/auth/services/email_checker.py
  backend/app/api/auth/services/rate_limiter.py
  backend/app/api/auth/services/sqlmodel_user_database.py
  backend/app/api/auth/services/user_manager.py
  backend/app/api/background_data/schemas.py
  backend/app/api/common/crud/base.py
  backend/app/api/common/routers/openapi.py
  backend/app/api/common/schemas/base.py
  backend/app/api/common/schemas/field_mixins.py
  backend/app/api/file_storage/schemas.py
  backend/app/api/newsletter/examples.py
  backend/app/api/newsletter/schemas.py
  backend/app/core/images/constants.py
  backend/app/core/images/exif.py
  backend/app/core/images/processing.py
  backend/app/core/middleware/client_ip.py
  backend/app/core/redis.py
  backend/app/main.py
Due: backend-alembic-autogen-check

fix(backend): update scripts
  backend/scripts/seed/dummy_seed/users.py
  backend/scripts/seed/taxonomies/cpv.py
  backend/scripts/seed/taxonomies/harmonized_system.py
Due: none

feat(backend): add dev script to mock rpi-cam-plugin
  backend/scripts/plugins/__init__.py
  backend/scripts/plugins/rpi_cam/__init__.py
  backend/scripts/plugins/rpi_cam/webcam_fake_camera.py
Due: none

test(backend): update tests
  backend/tests/factories/models.py
  backend/tests/integration/api/test_data_collection_endpoints.py
  backend/tests/integration/core/test_migrations.py
  backend/tests/unit/common/test_base_crud.py
  backend/tests/unit/common/test_schema_base.py
  backend/tests/unit/core/test_model_registry.py
  backend/tests/unit/file_storage/test_s3_storage.py
Due: none

chore(backend): fix linting
  backend/app/core/redis.py
  backend/app/templates/login.html
  backend/reports/performance/2026-03-30-ci-baseline.md
  backend/reports/performance/latest-k6-summary.json
  backend/uv.lock
Due: backend-alembic-autogen-check

Path conditions:
  backend-alembic-autogen-check: any of: ^(backend/(app|alembic)/|alembic\.ini$)
  frontend-web-lint: any of: ^frontend-web\/.*\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?)$
  frontend-app-lint: any of: ^frontend-app\/.*\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?)$
