Repository CMLPlatform/relab: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-alembic-autogen-check, frontend-web-lint, frontend-app-lint

Path conditions:
  backend-alembic-autogen-check: any of: ^(backend/(app|alembic)/|alembic\.ini$)
  frontend-web-lint: any of: ^frontend-web\/.*\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?)$
  frontend-app-lint: any of: ^frontend-app\/.*\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?)$

Fix video fetching
  frontend-app/src/services/api/fetching.ts
Due: frontend-app-lint

Better delete and linking
  frontend-app/src/components/product/ProductVideo.tsx
Due: frontend-app-lint

Fetching titles
  frontend-app/src/services/api/fetching.ts
  frontend-app/src/services/api/saving.ts
  frontend-app/src/types/Product.ts
Due: frontend-app-lint

Fixed saving video titles
  frontend-app/src/services/api/saving.ts
Due: frontend-app-lint

Video validation
  frontend-app/src/services/api/validation/product.ts
Due: frontend-app-lint

Product video layouting
  frontend-app/src/app/products/[id]/index.tsx
  frontend-app/src/components/product/ProductVideo.tsx
  frontend-app/src/services/api/saving.ts
  frontend-app/src/types/Product.ts
Due: frontend-app-lint

Link validation
  frontend-app/src/components/base/TextInput.tsx
  frontend-app/src/components/product/ProductVideo.tsx
  frontend-app/src/services/api/validation/product.ts
Due: frontend-app-lint

Update frontend-app/src/services/api/saving.ts
  frontend-app/src/services/api/saving.ts
Due: frontend-app-lint

Update frontend-app/src/components/product/ProductVideo.tsx
  frontend-app/src/components/product/ProductVideo.tsx
Due: frontend-app-lint

Update frontend-app/src/services/api/fetching.ts
  frontend-app/src/services/api/fetching.ts
Due: frontend-app-lint

Update frontend-app/src/types/Product.ts
  frontend-app/src/types/Product.ts
Due: frontend-app-lint

Add circularity properties to product page
  frontend-app/src/app/products/[id]/index.tsx
  frontend-app/src/components/product/ProductCircularityProperties.tsx
  frontend-app/src/services/api/fetching.ts
  frontend-app/src/services/api/saving.ts
  frontend-app/src/types/Product.ts
Due: frontend-app-lint

fix(backend): Include disposable email check in backend registration endpoint
  .pre-commit-config.yaml
  backend/app/api/auth/crud/users.py
  backend/app/api/auth/exceptions.py
  backend/app/api/auth/utils/email_validation.py
Due: backend-alembic-autogen-check

fix(docker): Fix postgres-backup-local config
  compose.prod.yml
Due: none

fix(cicd): Fix versioning issues across the repo
  .pre-commit-config.yaml
  backend/.python-version
  backend/Dockerfile
  backend/Dockerfile.migrations
  backend/pyproject.toml
  backend/uv.lock
  frontend-app/src/assets/data/demo.json
  frontend-app/src/assets/data/products.json
Due: frontend-app-lint

fix(backend): Don't seed dummy data by default
  backend/scripts/seed/migrations_entrypoint.sh
Due: none

fix(backend): improve seeding scripts
  backend/scripts/seed/migrations_entrypoint.sh
Due: none

fix(cicd): update renovate.json to preserve semver ranges
  renovate.json
Due: none
