Repository CMLPlatform/relab: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-alembic-autogen-check, frontend-lint

backend-alembic-autogen-check:
  name: check alembic migrations
  entry: bash -c 'cd backend && uv run alembic-autogen-check'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

frontend-lint:
  name: lint frontend code
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

Add deleting of images
  frontend/components/product/ProductImage.tsx
Due: frontend-lint

Fix image saving on android
  frontend/services/api/saving.ts
Due: frontend-lint

Fixing product page effects
  frontend/app/products/[id]/index.tsx
Due: frontend-lint

Fix issue with new products being fully reloaded
  frontend/app/products/[id]/index.tsx
Due: frontend-lint

New dialogs
  frontend/app/(tabs)/database.tsx
  frontend/app/_layout.tsx
  frontend/components/common/DialogProvider.tsx
  frontend/components/common/NewProductModal.tsx
  frontend/components/product/ProductComponents.tsx
Due: frontend-lint

Dialog implementations
  frontend/app/(tabs)/database.tsx
  frontend/app/products/[id]/index.tsx
  frontend/components/common/DialogProvider.tsx
  frontend/components/product/ProductComponents.tsx
  frontend/components/product/ProductTags.tsx
Due: frontend-lint

Enable name edits
  frontend/app/products/[id]/index.tsx
Due: frontend-lint

fix(backend): Improve load behaviour for joined images
  backend/app/api/data_collection/models.py
Due: backend-alembic-autogen-check

fix(backend): Improve PostgreSQL connection handling in local setup script
  backend/local_setup.sh
Due: none

fix(backend): Change env file format to support bash
  backend/.env.example
Due: none

fix(docker): Drop home directory creation in backend docker image
  backend/Dockerfile
Due: none

Enable product deletion
  frontend/app/products/[id]/index.tsx
  frontend/components/product/ProductDelete.tsx
  frontend/services/api/saving.ts
Due: frontend-lint

Saving shows loading indicator
  frontend/app/products/[id]/index.tsx
Due: frontend-lint

Pull to refresh on database table
  frontend/app/(tabs)/database.tsx
Due: frontend-lint

Fix uploading pictures of new products
  frontend/services/api/saving.ts
Due: frontend-lint

feat(backend): Automated backups of user uploads in prod docker setup
  .env.example
  INSTALL.md
  backend/.gitignore
  backend/Dockerfile.user_upload_backups
  backend/scripts/backup_user_uploads.sh
  backend/user_upload_backups_entrypoint.sh
  compose.prod.yml
Due: none

Scroll to textinput
  frontend/app/_layout.tsx
  frontend/app/products/[id]/index.tsx
  frontend/package-lock.json
  frontend/package.json
Due: frontend-lint

Align newProduct units with backend
  frontend/services/api/fetching.ts
Due: frontend-lint

fix(docker): Clean up docker build and compose files
  backend/Dockerfile
  backend/Dockerfile.dev
  backend/Dockerfile.migrations
  backend/Dockerfile.user_upload_backups
  backend/migrations_entrypoint.sh
  backend/scripts/backup_user_uploads.sh
  compose.override.yml
  compose.prod.yml
  compose.yml
  frontend/Dockerfile
Due: none

fix(docs): Update documentation on migrations and backup profiles
  CONTRIBUTING.md
  INSTALL.md
Due: none

Path conditions:
  backend-alembic-autogen-check: any of: ^(backend/(app|alembic)/|alembic\.ini$)
  frontend-lint: any of: ^frontend/.*\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?)$
