Repository CMLPlatform/relab: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-alembic-autogen-check, frontend-lint

backend-alembic-autogen-check:
  name: check alembic migrations
  entry: bash -c 'cd backend && uv run alembic-autogen-check'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

frontend-lint:
  name: lint frontend code
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

Style updates for product components
  frontend/components/product/ProductMetaData.tsx
  frontend/components/product/ProductPhysicalProperties.tsx
  frontend/components/product/ProductType.tsx
Due: frontend-lint

`No subcomponent` hint
  frontend/components/product/ProductComponents.tsx
Due: frontend-lint

Changing physical property API
  frontend/components/product/ProductPhysicalProperties.tsx
  frontend/services/api/fetching.ts
  frontend/services/api/saving.ts
  frontend/types/Product.ts
Due: frontend-lint

Disable dark-mode (for now)
  frontend/app/_layout.tsx
Due: frontend-lint

New profile page
  frontend/app/(tabs)/profile.tsx
  frontend/components/product/ProductPhysicalProperties.tsx
Due: frontend-lint

Dark theme compatible text and textinput
  frontend/app/(tabs)/profile.tsx
  frontend/app/_layout.tsx
  frontend/components/base.ts
  frontend/components/base/Text.tsx
  frontend/components/base/TextInput.tsx
  frontend/components/common/ProductCard.tsx
  frontend/components/product/ProductComponents.tsx
  frontend/components/product/ProductMetaData.tsx
  frontend/components/product/ProductPhysicalProperties.tsx
  frontend/components/product/ProductTags.tsx
  frontend/components/product/ProductType.tsx
Due: frontend-lint

Profile & Product description fixes
  frontend/app/(tabs)/profile.tsx
  frontend/components/base/TextInput.tsx
  frontend/components/product/ProductDescription.tsx
Due: frontend-lint

New Chip
  frontend/app/(tabs)/profile.tsx
  frontend/components/base.ts
  frontend/components/base/Chip.tsx
  frontend/components/product/ProductDescription.tsx
  frontend/components/product/ProductTags.tsx
Due: frontend-lint

Update
  frontend/app.json
  frontend/package-lock.json
  frontend/package.json
Due: frontend-lint

Header change
  frontend/app/_layout.tsx
Due: frontend-lint

Edit icon for tags
  frontend/components/base/Chip.tsx
  frontend/components/product/ProductPhysicalProperties.tsx
  frontend/components/product/ProductTags.tsx
Due: frontend-lint

feat(backend): Improve taxonomy seeding scripts and add cpv seeding script
  .pre-commit-config.yaml
  backend/.gitignore
  backend/pyproject.toml
  backend/scripts/seed/cpv.py
  backend/scripts/seed/harmonized_system.py
  backend/scripts/seed/taxonomies/__init__.py
  backend/scripts/seed/taxonomies/common.py
  backend/scripts/seed/taxonomies/cpv.py
  backend/scripts/seed/taxonomies/harmonized_system.py
  backend/uv.lock
Due: none

feat(backend): Increase max length of string fields in database
  backend/alembic/versions/65da9d7e309c_increase_string_fields_max_length.py
  backend/app/api/auth/models.py
  backend/app/api/auth/schemas.py
  backend/app/api/background_data/models.py
  backend/app/api/background_data/schemas.py
  backend/app/api/data_collection/models.py
  backend/app/api/data_collection/schemas.py
  backend/app/api/plugins/rpi_cam/models.py
  backend/app/api/plugins/rpi_cam/schemas.py
  uv.lock
Due: backend-alembic-autogen-check

feat(backend): Add product type seeding for CPV codes
  backend/scripts/seed/taxonomies/common.py
  backend/scripts/seed/taxonomies/cpv.py
  backend/scripts/seed/taxonomies/harmonized_system.py
Due: none

feat(backend): Fix reference to migrations entrypoint and add seeding options
  backend/Dockerfile.migrations
  backend/pyproject.toml
  backend/scripts/seed/migrations_entrypoint.sh
  backend/scripts/seed/taxonomies/cpv.py
  backend/uv.lock
Due: none

chore: merge main into branch
  frontend/app.json
  frontend/app/(auth)/login.tsx
  frontend/app/(tabs)/_layout.tsx
  frontend/app/(tabs)/database.tsx
  frontend/app/(tabs)/profile.tsx
  frontend/app/_layout.tsx
  frontend/app/index.tsx
  frontend/app/products/[id]/brand_selection.tsx
  frontend/app/products/[id]/camera.tsx
  frontend/app/products/[id]/category_selection.tsx
  frontend/app/products/[id]/index.tsx
  frontend/assets/data/cpv.json
  frontend/assets/data/cpv_classifications.json
  frontend/assets/data/demo.json
  frontend/assets/data/products.json
  frontend/assets/fonts/SpaceMono-Regular.ttf
  frontend/assets/images/bg-1.jpg
  frontend/assets/images/logo-cml.jpg
  frontend/components/common/CPVCard.tsx
  frontend/components/common/DialogProvider.tsx
  frontend/components/common/ProductCard.tsx
  frontend/components/product/ProductComponents.tsx
  frontend/components/product/ProductDelete.tsx
  frontend/components/product/ProductDescription.tsx
  frontend/components/product/ProductImage.tsx
  frontend/components/product/ProductMetaData.tsx
  frontend/components/product/ProductPhysicalProperties.tsx
  frontend/components/product/ProductTags.tsx
  frontend/components/product/ProductType.tsx
  frontend/eslint.config.js
  frontend/services/api/authentication.ts
  frontend/services/api/fetching.ts
  frontend/services/api/saving.ts
  frontend/types/Product.ts
  frontend/types/User.ts
  uv.lock
Due: frontend-lint

Squashed commit of the following:
  frontend-web/src/app/auth/reset-password.tsx
  frontend-web/src/app/auth/verify.tsx
Due: none

Squashed commit of the following:
  .devcontainer/devcontainer.json
  .devcontainer/frontend/devcontainer.json
  frontend/Dockerfile
  frontend/Dockerfile.dev
  frontend/app/(auth)/reset-password.tsx
  frontend/app/(auth)/verify.tsx
Due: frontend-lint

fix(backend): allow all headers
  backend/app/main.py
  backend/app/templates/login.html
Due: backend-alembic-autogen-check

Path conditions:
  backend-alembic-autogen-check: any of: ^(backend/(app|alembic)/|alembic\.ini$)
  frontend-lint: any of: ^frontend/.*\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?)$
