Repository CMLPlatform/relab: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-alembic-autogen-check, frontend-web-lint, frontend-app-lint

Path conditions:
  backend-alembic-autogen-check: any of: ^(backend/(app|alembic)/|alembic\.ini$)
  frontend-web-lint: any of: ^frontend-web\/.*\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?)$
  frontend-app-lint: any of: ^frontend-app\/.*\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?)$

ci: extend cpsell default libraries
  .cspell.yaml
Due: none

ci: add docker orchestration smoke test for backend
  .github/workflows/ci.yml
  justfile
Due: none

fix(backend): Simplify email config and fix failing email config initialization in test environment
  backend/app/api/auth/config.py
  backend/app/api/auth/utils/email_config.py
  backend/app/api/auth/utils/programmatic_emails.py
  backend/app/api/common/config.py
  backend/tests/conftest.py
  backend/tests/unit/auth/test_config.py
  backend/tests/unit/core/test_config.py
  backend/tests/unit/emails/test_email_config.py
  backend/tests/unit/emails/test_programmatic_emails.py
Due: backend-alembic-autogen-check

ci: refactor ci actions
  .github/actions/detect-security-changes/action.yml
  .github/actions/setup-node-just/action.yml
  .github/actions/setup-python-just/action.yml
  .github/actions/upload-codecov/action.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

ci: update security workflow
  .github/workflows/security.yml
Due: none

ci: fix frontend e2e test setup by using uncommon ports
  .github/workflows/ci.yml
  compose.e2e.yml
  frontend-app/.env.test
  frontend-app/README.md
  frontend-app/justfile
  frontend-app/playwright.config.ts
  justfile
Due: frontend-app-lint

ci: add explicit codecov config
  codecov.yml
Due: none

test(frontend-app): Update and expand e2e test suite
  backend/scripts/backup/README.md
  frontend-app/e2e/auth.spec.ts
  frontend-app/e2e/gallery.spec.ts
  frontend-app/e2e/helpers.ts
  frontend-app/e2e/product-detail.spec.ts
  frontend-app/e2e/products.spec.ts
  frontend-app/e2e/profile.spec.ts
  frontend-app/e2e/sort-filter.spec.ts
  frontend-app/package-lock.json
  frontend-app/playwright.config.ts
  frontend-app/src/app/(auth)/new-account.tsx
  frontend-app/src/app/__tests__/profile-test.tsx
  frontend-app/src/app/_layout.tsx
  frontend-app/src/app/profile.tsx
Due: frontend-app-lint

ci: Use justfile command for ci e2e test
  .github/workflows/ci.yml
  compose.e2e.yml
  justfile
Due: none

ci: only run e2e tests on main
  .github/workflows/ci.yml
Due: none

fix: Add local Docker compose overrides to gitignore
  .gitignore
Due: none

fix(backend): Small fixes to backend scripts
  backend/scripts/clear_cache.py
  backend/scripts/compile_email_templates.py
  backend/scripts/local_setup.sh
  backend/scripts/render_erd.py
Due: none

feature(backend): Add user creation script
  backend/scripts/create_user.py
  backend/tests/unit/scripts/test_create_user.py
Due: none

fix(frontend-app): fix login test
  frontend-app/src/app/(auth)/__tests__/login-test.tsx
Due: frontend-app-lint

feature(frontend-app): - Improved product overview pagination for desktop - Improved product overview filtering UI - Improved UI of login page
  frontend-app/e2e/auth.spec.ts
  frontend-app/e2e/helpers.ts
  frontend-app/e2e/product-detail.spec.ts
  frontend-app/e2e/profile.spec.ts
  frontend-app/e2e/sort-filter.spec.ts
  frontend-app/jest.config.ts
  frontend-app/jest.setup.ts
  frontend-app/justfile
  frontend-app/src/app/(auth)/__tests__/forgot-password-test.tsx
  frontend-app/src/app/(auth)/__tests__/login-test.tsx
  frontend-app/src/app/(auth)/login.tsx
  frontend-app/src/app/_layout.tsx
  frontend-app/src/app/products/[id]/__tests__/category_selection-test.tsx
  frontend-app/src/app/products/[id]/category_selection.tsx
  frontend-app/src/app/products/__tests__/index-test.tsx
  frontend-app/src/app/products/index.tsx
  frontend-app/src/components/common/FilterSelectionModal.tsx
  frontend-app/src/components/common/__tests__/DialogProvider-test.tsx
  frontend-app/src/components/common/__tests__/LogoutConfirm-test.tsx
  frontend-app/src/components/product/__tests__/ProductVideo-test.tsx
  frontend-app/src/hooks/useProductForm.ts
  frontend-app/src/hooks/useProductQueries.ts
  frontend-app/src/services/api/authentication.ts
  frontend-app/src/services/newProductStore.ts
  frontend-app/src/test-utils/server.ts
  frontend-web/README.md
  frontend-web/justfile
  frontend-web/playwright.config.ts
  frontend-web/src/styles/global.css
  frontend-web/src/utils/url.test.ts
  frontend-web/src/utils/url.ts
Due: frontend-web-lint, frontend-app-lint

fix(frontend-app): Fix "add new brand" button not showing in edit product page
  frontend-app/src/components/common/FilterSelectionModal.tsx
  frontend-app/src/components/common/__tests__/FilterSelectionModal-test.tsx
Due: frontend-app-lint

fix(backend): Use CPV description for product type name and move CPV code to description in seeding script
  backend/scripts/seed/taxonomies/cpv.py
Due: none

fix(frontend-app): Update OAuth login flow to use full-page redirect on web to work with Safari
  frontend-app/src/app/(auth)/__tests__/login-test.tsx
  frontend-app/src/app/(auth)/login.tsx
Due: frontend-app-lint

fix: Add explicit gallery and camera buttons on mobile web
  frontend-app/src/components/product/ProductImageGallery.tsx
  frontend-app/src/components/product/__tests__/ProductImage-test.tsx
Due: frontend-app-lint

fix(frontend-app): Optimize image handling in ProductImageGallery and API services
  frontend-app/src/components/product/ProductImageGallery.tsx
  frontend-app/src/services/api/fetching.ts
  frontend-app/src/services/api/saving.ts
  frontend-app/src/services/media/imageProcessing.tsx
  frontend-app/src/types/Product.ts
Due: frontend-app-lint

fix(ci): Lighten Docker image size
  backend/Dockerfile
  backend/Dockerfile.dev
  backend/Dockerfile.migrations
  backend/pyproject.toml
  backend/scripts/seed/migrations_entrypoint.sh
  compose.ci.yml
  compose.e2e.yml
  compose.yml
  docs/Dockerfile
  frontend-app/Dockerfile
  frontend-app/Dockerfile.dev
  frontend-web/Dockerfile
  frontend-web/Dockerfile.dev
Due: none

feature(backend): Add resource tuning
  backend/.env.dev.example
  backend/.env.prod.example
  backend/.env.staging.example
  backend/app/core/config.py
  backend/app/core/database.py
  backend/app/core/http.py
  backend/app/main.py
  backend/scripts/db_is_empty.py
  backend/scripts/db_sync.py
  compose.prod.yml
  compose.staging.yml
Due: backend-alembic-autogen-check

feature(backend): harden authentication security
  backend/app/api/auth/config.py
  backend/app/api/auth/exceptions.py
  backend/app/api/auth/routers/auth.py
  backend/app/api/auth/routers/frontend.py
  backend/app/api/auth/routers/register.py
  backend/app/api/auth/services/auth_backends.py
  backend/app/api/auth/services/refresh_token_service.py
  backend/app/api/auth/services/user_manager.py
  backend/app/api/auth/utils/rate_limit.py
  backend/tests/fixtures/client.py
  backend/tests/unit/auth/test_config.py
  backend/tests/unit/auth/test_exceptions.py
  backend/tests/unit/auth/test_org_registration.py
  backend/tests/unit/auth/test_refresh_token_service.py
  backend/tests/unit/auth/test_user_manager.py
Due: backend-alembic-autogen-check

feat: add OAuth PKCE client-side token exchange endpoints
  backend/app/api/auth/routers/__init__.py
  backend/app/api/auth/routers/oauth_token.py
  backend/tests/integration/api/test_oauth_token_endpoints.py
  backend/tests/unit/auth/test_oauth_token_router.py
Due: backend-alembic-autogen-check

feat(backend): add tsvector full-text and trigram search to filters
  backend/alembic/versions/a1b2c3d4e5f6_add_tsvector_search_to_material_producttype_category.py
  backend/alembic/versions/f3a8c2d1e5b7_add_product_full_text_and_trigram_search.py
  backend/app/api/background_data/filters.py
  backend/app/api/background_data/models.py
  backend/app/api/common/search_utils.py
  backend/app/api/data_collection/filters.py
  backend/app/api/data_collection/models.py
  backend/tests/unit/background_data/test_background_data_crud.py
  backend/tests/unit/background_data/test_background_data_filters.py
  backend/tests/unit/common/test_search_utils.py
Due: backend-alembic-autogen-check

fix(backend): inject shared HTTP client instead of creating per request
  backend/app/api/plugins/rpi_cam/models.py
  backend/app/api/plugins/rpi_cam/routers/admin.py
  backend/app/api/plugins/rpi_cam/routers/camera_crud.py
  backend/app/api/plugins/rpi_cam/routers/camera_interaction/images.py
  backend/app/api/plugins/rpi_cam/routers/camera_interaction/remote_management.py
  backend/app/api/plugins/rpi_cam/routers/camera_interaction/streams.py
  backend/app/api/plugins/rpi_cam/routers/camera_interaction/utils.py
  backend/app/api/plugins/rpi_cam/schemas.py
  backend/app/api/plugins/rpi_cam/services.py
  backend/tests/unit/plugins/rpi_cam/test_models.py
  backend/tests/unit/plugins/rpi_cam/test_routers_streams.py
  backend/tests/unit/plugins/rpi_cam/test_services.py
Due: backend-alembic-autogen-check

fix(backend): harden config validation
  backend/app/api/data_collection/base.py
  backend/app/core/config.py
  backend/tests/unit/core/test_cache.py
  backend/tests/unit/core/test_fastapi_cache.py
  backend/tests/unit/core/test_model_registry.py
Due: backend-alembic-autogen-check

fix(backend): Health check endpoints no longer echo raw exception messages to callers to avoid leaking internal connection details
  backend/app/api/common/routers/health.py
Due: backend-alembic-autogen-check

fix(backend): Normalize brands on input
  backend/app/api/data_collection/schemas.py
Due: backend-alembic-autogen-check

feature(frontend-app): switch to PKCE Google OAuth and SecureStore token storage
  frontend-app/.env.development
  frontend-app/.env.production
  frontend-app/.env.staging
  frontend-app/.env.test
  frontend-app/app.json
  frontend-app/jest.setup.ts
  frontend-app/package-lock.json
  frontend-app/package.json
  frontend-app/src/app/(auth)/__tests__/login-test.tsx
  frontend-app/src/app/(auth)/login.tsx
  frontend-app/src/services/api/__tests__/authentication-test.ts
  frontend-app/src/services/api/authentication.ts
Due: frontend-app-lint

fix(frontend-app): Security: strip tokens from URL bar and add CSP headers
  frontend-app/Caddyfile
  frontend-app/src/app/(auth)/forgot-password.tsx
  frontend-app/src/app/(auth)/new-account.tsx
  frontend-app/src/app/(auth)/reset-password.tsx
  frontend-app/src/app/(auth)/verify.tsx
  frontend-app/src/app/profile.tsx
Due: frontend-app-lint

feat(frontend-app): Small UI improvements
  frontend-app/src/app/products/[id]/__tests__/index-state-test.tsx
  frontend-app/src/app/products/[id]/__tests__/index-test.tsx
  frontend-app/src/app/products/[id]/index.tsx
  frontend-app/src/app/products/__tests__/index-test.tsx
  frontend-app/src/app/products/index.tsx
  frontend-app/src/components/common/ProductCard.tsx
  frontend-app/src/components/common/__tests__/ProductCard-test.tsx
  frontend-app/src/components/product/ProductAmountInParent.tsx
  frontend-app/src/components/product/ProductCircularityProperties.tsx
  frontend-app/src/components/product/ProductComponents.tsx
  frontend-app/src/components/product/ProductDescription.tsx
  frontend-app/src/components/product/ProductTags.tsx
  frontend-app/src/components/product/__tests__/ProductAmountInParent-test.tsx
  frontend-app/src/components/product/__tests__/ProductCircularityProperties-test.tsx
  frontend-app/src/components/product/__tests__/ProductComponents-test.tsx
  frontend-app/src/components/product/__tests__/ProductDescription-test.tsx
  frontend-app/src/components/product/__tests__/ProductTags-test.tsx
  frontend-app/src/hooks/__tests__/useProductQueries-test.tsx
  frontend-app/src/hooks/useProductQueries.ts
  frontend-app/src/services/api/saving.ts
Due: frontend-app-lint

docs: add SECURITY.md with vulnerability reporting guidelines
  SECURITY.md
Due: none

refactor(backend): remove UUIDPrimaryKeyMixin, use id: UUID4 directly
  .cspell.yaml
  backend/app/api/auth/crud/organizations.py
  backend/app/api/auth/crud/users.py
  backend/app/api/auth/models.py
  backend/app/api/auth/routers/oauth.py
  backend/app/api/auth/routers/oauth_token.py
  backend/app/api/auth/services/login_hooks.py
  backend/app/api/auth/services/user_manager.py
  backend/app/api/background_data/crud.py
  backend/app/api/common/crud/base.py
  backend/app/api/common/crud/utils.py
  backend/app/api/common/models/base.py
  backend/app/api/common/models/custom_types.py
  backend/app/api/data_collection/crud.py
  backend/app/api/data_collection/dependencies.py
  backend/app/api/data_collection/models.py
  backend/app/api/data_collection/product_mutation_routers.py
  backend/app/api/data_collection/product_read_routers.py
  backend/app/api/file_storage/crud.py
  backend/app/api/file_storage/models/models.py
  backend/app/api/file_storage/presentation.py
  backend/app/api/newsletter/models.py
  backend/app/api/plugins/rpi_cam/dependencies.py
  backend/app/api/plugins/rpi_cam/models.py
  backend/app/api/plugins/rpi_cam/routers/camera_crud.py
  backend/app/api/plugins/rpi_cam/routers/camera_interaction/images.py
  backend/app/api/plugins/rpi_cam/routers/camera_interaction/remote_management.py
  backend/app/api/plugins/rpi_cam/routers/camera_interaction/streams.py
  backend/app/main.py
Due: backend-alembic-autogen-check

test(backend): Update backend tests
  backend/tests/factories/models.py
  backend/tests/integration/api/test_oauth_router_endpoints.py
  backend/tests/integration/api/test_oauth_token_endpoints.py
  backend/tests/integration/core/test_database_operations.py
  backend/tests/integration/core/test_migrations.py
  backend/tests/integration/models/test_auth_models.py
  backend/tests/unit/background_data/test_schemas.py
  backend/tests/unit/common/test_exceptions.py
  backend/tests/unit/common/test_health.py
  backend/tests/unit/common/test_ownership_validation.py
  backend/tests/unit/common/test_utils.py
  backend/tests/unit/data_collection/test_crud.py
  backend/tests/unit/data_collection/test_data_collection_filters.py
  backend/tests/unit/data_collection/test_product_logic.py
  backend/tests/unit/data_collection/test_schemas.py
  backend/tests/unit/newsletter/test_tokens.py
  backend/tests/unit/plugins/rpi_cam/test_dependencies.py
  backend/tests/unit/test_factories.py
Due: none

fix(backend): Fix import in data seeding scripts
  backend/scripts/seed/taxonomies/cpv.py
  backend/scripts/seed/taxonomies/harmonized_system.py
Due: none

test(frontend-app): Update test specs
  frontend-app/e2e/auth.spec.ts
  frontend-app/e2e/products.spec.ts
  frontend-app/e2e/sort-filter.spec.ts
  frontend-app/src/app/products/__tests__/index-test.tsx
Due: frontend-app-lint

fix: small justfile improvements
  backend/justfile
  docs/justfile
  justfile
Due: none
