Repository CMLPlatform/relab: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-alembic-autogen-check, frontend-lint

backend-alembic-autogen-check:
  name: check alembic migrations
  entry: bash -c 'cd backend && uv run alembic-autogen-check'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

frontend-lint:
  name: lint frontend code
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

fix(backend): fix backend setup scripts
  backend/.env.example
  backend/local_setup.sh
Due: none

feat(backend): Add owner ID to product read schema
  backend/app/api/common/schemas/base.py
Due: backend-alembic-autogen-check

fix(backend): fix file storage router permission issues and add example for image metadata field
  backend/app/api/file_storage/router_factories.py
  backend/app/api/file_storage/schemas.py
Due: backend-alembic-autogen-check

fix(misc): Misc. linting fixes
  backend/app/api/admin/models.py
  backend/app/api/auth/routers/organizations.py
  backend/app/api/auth/services/user_manager.py
  backend/app/api/common/models/base.py
  backend/app/api/data_collection/dependencies.py
  backend/app/api/file_storage/crud.py
  backend/app/api/file_storage/models/models.py
  frontend/Dockerfile
Due: backend-alembic-autogen-check

Add new frontend
  frontend/.gitignore
  frontend/README.md
  frontend/app.json
  frontend/app/(auth)/login.tsx
  frontend/app/(tabs)/_layout.tsx
  frontend/app/(tabs)/index.tsx
  frontend/app/_layout.tsx
  frontend/app/products/[id]/brand_selection.tsx
  frontend/app/products/[id]/camera.tsx
  frontend/app/products/[id]/category_selection.tsx
  frontend/app/products/[id]/index.tsx
  frontend/assets/data/cpv.json
  frontend/assets/data/cpv_classifications.json
  frontend/assets/data/demo.json
  frontend/assets/data/products.json
  frontend/assets/fonts/SpaceMono-Regular.ttf
  frontend/assets/images/logo-cml.jpg
  frontend/components/common/CPVCard.tsx
  frontend/components/common/ProductCard.tsx
  frontend/components/product/ProductComponents.tsx
  frontend/components/product/ProductDescription.tsx
  frontend/components/product/ProductImage.tsx
  frontend/components/product/ProductMetaData.tsx
  frontend/components/product/ProductPhysicalProperties.tsx
  frontend/components/product/ProductTags.tsx
  frontend/components/product/ProductType.tsx
  frontend/eslint.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/services/api/authentication.ts
  frontend/services/api/fetching.ts
  frontend/services/api/saving.ts
  frontend/tsconfig.json
  frontend/types/Product.ts
Due: frontend-lint

Fix navigation on render error
  frontend/app/products/[id]/index.tsx
Due: frontend-lint

Create new product from Database screen
  frontend/app/(tabs)/index.tsx
  frontend/components/common/NewProductModal.tsx
  frontend/components/product/ProductComponents.tsx
Due: frontend-lint

Synchronize database screen on layout
  frontend/app/(tabs)/index.tsx
Due: frontend-lint

Better authorization flow
  frontend/app/(auth)/login.tsx
  frontend/app/(tabs)/_layout.tsx
  frontend/app/(tabs)/database.tsx
  frontend/app/_layout.tsx
  frontend/app/index.tsx
Due: frontend-lint

Profile tab
  frontend/app/(tabs)/_layout.tsx
  frontend/app/(tabs)/database.tsx
  frontend/app/(tabs)/profile.tsx
  frontend/services/api/authentication.ts
  frontend/types/User.ts
Due: frontend-lint

Better FABs
  frontend/app/(tabs)/database.tsx
  frontend/app/products/[id]/index.tsx
Due: frontend-lint

Empty description is highlighted in new product
  frontend/components/product/ProductDescription.tsx
Due: frontend-lint

Show Save product FAB as disabled if product not valid
  frontend/app/products/[id]/index.tsx
Due: frontend-lint

Fix screen names for product sub screens
  frontend/app/_layout.tsx
Due: frontend-lint

Fix wrong name bug
  frontend/components/product/ProductTags.tsx
Due: frontend-lint

Add `/ Material` to Product Type
  frontend/components/product/ProductType.tsx
Due: frontend-lint

Discard alert when leaving edit mode
  frontend/app/products/[id]/index.tsx
Due: frontend-lint

Only edit products/components that you own
  frontend/app/(tabs)/profile.tsx
  frontend/app/products/[id]/index.tsx
  frontend/components/product/ProductComponents.tsx
  frontend/services/api/authentication.ts
  frontend/services/api/fetching.ts
  frontend/types/Product.ts
Due: frontend-lint

Fix uploading images
  frontend/services/api/saving.ts
Due: frontend-lint

Path conditions:
  backend-alembic-autogen-check: any of: ^(backend/(app|alembic)/|alembic\.ini$)
  frontend-lint: any of: ^frontend/.*\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?)$
