Repository CMLPlatform/relab: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-alembic-autogen-check, frontend-web-lint, frontend-app-lint

Path conditions:
  backend-alembic-autogen-check: any of: ^(backend/(app|alembic)/|alembic\.ini$)
  frontend-web-lint: any of: ^frontend-web\/.*\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?)$
  frontend-app-lint: any of: ^frontend-app\/.*\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?)$

fix docker
  backend/Dockerfile
Due: none

fix(Caddyfile): update Content Security Policy comments and ensure proper script-src handling
  frontend-app/Caddyfile
Due: none

remove log volumes for docker containers
  backend/Dockerfile
  backend/app/core/logging.py
  backend/tests/integration/core/test_logging.py
  compose.yml
Due: backend-alembic-autogen-check

frontend fixes
  docs/docs/user-guides/rpi-cam.md
  frontend-app/Caddyfile
  frontend-app/src/services/api/__tests__/fetching-test.ts
  frontend-app/src/services/api/__tests__/saving-test.ts
  frontend-app/src/services/api/products.ts
  frontend-app/src/services/api/saving.ts
  frontend-app/src/types/api.generated.ts
Due: frontend-app-lint

move to pnpm and fix ci stuff
  .devcontainer/devcontainer.json
  .devcontainer/frontend-app/devcontainer.json
  .devcontainer/frontend-web/devcontainer.json
  .github/actions/setup-node-just/action.yml
  .github/workflows/ci.yml
  .github/workflows/security.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  backend/.env.dev.example
  backend/.env.prod.example
  backend/.env.staging.example
  backend/Dockerfile.dev
  backend/app/core/config/core.py
  backend/app/core/database.py
  backend/tests/conftest.py
  backend/tests/unit/core/test_config.py
  compose.override.yml
  frontend-app/Dockerfile
  frontend-app/Dockerfile.dev
  frontend-app/README.md
  frontend-app/justfile
  frontend-app/package-lock.json
  frontend-app/package.json
  frontend-app/pnpm-lock.yaml
  frontend-app/scripts/redact_api.js
  frontend-app/src/types/api.ts
  frontend-web/.env.staging
  frontend-web/Dockerfile
  frontend-web/Dockerfile.dev
  frontend-web/justfile
  frontend-web/package-lock.json
  frontend-web/package.json
  frontend-web/playwright.config.ts
  frontend-web/pnpm-lock.yaml
Due: backend-alembic-autogen-check, frontend-web-lint, frontend-app-lint

expand CSP
  frontend-app/Caddyfile
Due: none

remove qr code
  .pnpm-store/v10/projects/71d404b4d9ee7b32e2d1602de8a05fe4
  backend/app/api/plugins/rpi_cam/routers/pairing.py
  docs/docs/user-guides/rpi-cam.md
  frontend-app/Caddyfile
  frontend-app/package.json
  frontend-app/src/app/cameras/__tests__/add-test.tsx
  frontend-app/src/app/cameras/add.tsx
  frontend-app/src/components/cameras/QrScanner.tsx
  frontend-app/src/components/cameras/__tests__/QrScanner-test.tsx
Due: backend-alembic-autogen-check, frontend-app-lint

update pnpm
  frontend-app/pnpm-lock.yaml
Due: none

fix user uploads permissions
  backend/Dockerfile
  backend/Dockerfile.dev
  backend/Dockerfile.migrations
  backend/app/main.py
  backend/tests/unit/file_storage/test_custom_types.py
Due: backend-alembic-autogen-check

fix
  backend/app/core/images/exif.py
  backend/tests/unit/core/test_image_processing.py
  frontend-app/src/hooks/useRpiCameras.ts
Due: backend-alembic-autogen-check, frontend-app-lint

update caddyfile
  frontend-app/Caddyfile
Due: none

fix
  frontend-app/src/app/products/[id]/__tests__/index-state-test.tsx
  frontend-app/src/app/products/[id]/index.tsx
  frontend-app/src/hooks/__tests__/useProductQueries-test.tsx
  frontend-app/src/hooks/useProductQueries.ts
  frontend-app/src/services/api/__tests__/fetching-test.ts
  frontend-app/src/services/api/products.ts
Due: frontend-app-lint

fix
  backend/app/api/plugins/rpi_cam/routers/camera_interaction/utils.py
  backend/app/api/plugins/rpi_cam/websocket/relay.py
  backend/tests/unit/plugins/rpi_cam/test_camera_interaction_utils.py
  backend/tests/unit/plugins/rpi_cam/test_websocket_relay.py
  frontend-app/src/hooks/__tests__/useRpiCameras-test.tsx
  frontend-app/src/hooks/useRpiCameras.ts
Due: backend-alembic-autogen-check, frontend-app-lint

fix
  backend/app/api/plugins/rpi_cam/routers/camera_interaction/images.py
Due: backend-alembic-autogen-check

feat: update product ownership handling and visibility settings
  backend/alembic/env.py
  backend/alembic/versions/4d379aaa416a_add_user_stats_cache.py
  backend/app/api/auth/models.py
  backend/app/api/auth/routers/__init__.py
  backend/app/api/auth/routers/users.py
  backend/app/api/auth/schemas.py
  backend/app/api/auth/services/privacy.py
  backend/app/api/auth/services/stats.py
  backend/app/api/common/schemas/base.py
  backend/app/api/data_collection/crud/__init__.py
  backend/app/api/data_collection/crud/products.py
  backend/app/api/data_collection/examples.py
  backend/app/api/data_collection/routers/product_mutation_routers.py
  backend/app/api/data_collection/routers/product_read_routers.py
  backend/app/api/data_collection/schemas.py
  backend/justfile
  frontend-app/src/app/cameras/[id].tsx
  frontend-app/src/app/profile.tsx
  frontend-app/src/app/users/[username].tsx
  frontend-app/src/components/common/ProductCard.tsx
  frontend-app/src/components/product/ProductMetaData.tsx
  frontend-app/src/components/product/__tests__/ProductMetaData-test.tsx
  frontend-app/src/services/api/profiles.ts
  frontend-web/src/pages/privacy.astro
Due: backend-alembic-autogen-check, frontend-app-lint

feat(backend): Add LL-HLS proxy and telemetry endpoints for camera interaction
  backend/app/api/plugins/rpi_cam/constants.py
  backend/app/api/plugins/rpi_cam/dependencies.py
  backend/app/api/plugins/rpi_cam/device_assertion.py
  backend/app/api/plugins/rpi_cam/models.py
  backend/app/api/plugins/rpi_cam/routers/admin.py
  backend/app/api/plugins/rpi_cam/routers/camera_crud.py
  backend/app/api/plugins/rpi_cam/routers/camera_interaction/__init__.py
  backend/app/api/plugins/rpi_cam/routers/camera_interaction/hls.py
  backend/app/api/plugins/rpi_cam/routers/camera_interaction/images.py
  backend/app/api/plugins/rpi_cam/routers/camera_interaction/streams.py
  backend/app/api/plugins/rpi_cam/routers/camera_interaction/telemetry.py
  backend/app/api/plugins/rpi_cam/routers/camera_interaction/utils.py
  backend/app/api/plugins/rpi_cam/schemas/__init__.py
  backend/app/api/plugins/rpi_cam/services.py
  backend/app/api/plugins/rpi_cam/websocket/relay.py
  backend/app/api/plugins/rpi_cam/websocket/router.py
  backend/app/core/config/core.py
  backend/scripts/maintenance/backfill_user_stats.py
  backend/scripts/seed/dummy_seed/images.py
Due: backend-alembic-autogen-check

test(backend): Refactor RPi Cam tests and services
  backend/tests/conftest.py
  backend/tests/fixtures/client.py
  backend/tests/integration/api/test_data_collection_endpoints.py
  backend/tests/integration/api/test_openapi_endpoints.py
  backend/tests/integration/api/test_privacy_redaction.py
  backend/tests/unit/auth/test_org_crud.py
  backend/tests/unit/auth/test_rate_limiter.py
  backend/tests/unit/background_data/test_background_data_crud.py
  backend/tests/unit/common/test_associations.py
  backend/tests/unit/common/test_ownership_validation.py
  backend/tests/unit/common/test_query_crud.py
  backend/tests/unit/common/test_schema_field_mixins.py
  backend/tests/unit/data_collection/test_crud.py
  backend/tests/unit/file_storage/test_file_storage_crud.py
  backend/tests/unit/plugins/rpi_cam/test_camera_interaction_utils.py
  backend/tests/unit/plugins/rpi_cam/test_config.py
  backend/tests/unit/plugins/rpi_cam/test_crud.py
  backend/tests/unit/plugins/rpi_cam/test_dependencies.py
  backend/tests/unit/plugins/rpi_cam/test_models.py
  backend/tests/unit/plugins/rpi_cam/test_routers_hls.py
  backend/tests/unit/plugins/rpi_cam/test_routers_streams.py
  backend/tests/unit/plugins/rpi_cam/test_routers_telemetry.py
  backend/tests/unit/plugins/rpi_cam/test_services.py
  backend/tests/unit/plugins/rpi_cam/test_services_last_image.py
  backend/tests/unit/plugins/rpi_cam/test_services_telemetry.py
  backend/tests/unit/plugins/rpi_cam/test_websocket_relay.py
  backend/tests/unit/plugins/rpi_cam/test_websocket_router.py
Due: none

chore: update deps
  backend/pyproject.toml
  backend/uv.lock
  docs/uv.lock
  uv.lock
Due: none

chore: update frontend deps
  frontend-web/package-lock.json
  frontend-web/package.json
Due: frontend-web-lint

chore: small linting issues
  backend/app/api/auth/models.py
  backend/app/api/auth/schemas.py
  backend/app/api/auth/services/oauth/associate.py
  backend/app/api/auth/services/oauth/base.py
  backend/app/api/auth/services/oauth/login.py
  backend/app/api/auth/services/user_database.py
  backend/app/api/plugins/rpi_cam/schemas/__init__.py
  backend/pyproject.toml
Due: backend-alembic-autogen-check

fix hmac secret warning
  backend/tests/unit/plugins/rpi_cam/test_websocket_router.py
Due: none

chore(backend): fix linting issues
  backend/alembic/versions/4d379aaa416a_add_user_stats_cache.py
  backend/alembic/versions/d9ffb53c12c0_simplify_rpi_cam_device_auth.py
  backend/app/api/common/crud/filtering.py
  backend/app/api/common/crud/loading.py
  backend/app/api/plugins/rpi_cam/routers/camera_interaction/hls.py
  backend/app/api/plugins/rpi_cam/services.py
  backend/app/core/config/core.py
  backend/tests/integration/api/auth/test_admin_routers.py
  backend/tests/unit/core/test_config.py
  backend/tests/unit/plugins/rpi_cam/test_routers_hls.py
  backend/tests/unit/plugins/rpi_cam/test_services.py
  backend/tests/unit/plugins/rpi_cam/test_services_last_image.py
  backend/tests/unit/plugins/rpi_cam/test_websocket_relay.py
Due: backend-alembic-autogen-check

test(frontend-app): update tests
  frontend-app/jest.setup.ts
  frontend-app/src/app/(auth)/verify.tsx
  frontend-app/src/app/__tests__/profile.test.tsx
  frontend-app/src/app/users/[username].tsx
  frontend-app/src/app/users/__tests__/username-test.tsx
  frontend-app/src/components/base/__tests__/Chip-test.tsx
  frontend-app/src/components/base/__tests__/Text-test.tsx
  frontend-app/src/components/base/__tests__/TextInput-test.tsx
  frontend-app/src/components/cameras/LivePreview.tsx
  frontend-app/src/components/cameras/__tests__/LivePreview.test.tsx
  frontend-app/src/components/product/__tests__/ProductImageGallery-test.tsx
  frontend-app/src/context/__tests__/ThemeModeProvider.test.tsx
  frontend-app/src/hooks/__tests__/useProductQueries-test.tsx
  frontend-app/src/services/api/__tests__/profiles.test.ts
  frontend-app/src/services/api/authentication.ts
  frontend-app/src/test-utils/server.ts
  frontend-app/src/utils/__tests__/logging.test.ts
Due: frontend-app-lint

ci: update ci and deps
  .cspell.yml
  .gitignore
  .pre-commit-config.yaml
  compose.prod.yml
  frontend-web/pnpm-lock.yaml
  uv.lock
Due: none

feat: implement cross-worker relay for RPi camera WebSocket commands
  backend/alembic/versions/d9ffb53c12c0_simplify_rpi_cam_device_auth.py
  backend/app/api/auth/services/oauth/associate.py
  backend/app/api/auth/services/oauth/login.py
  backend/app/api/auth/services/programmatic_user_crud.py
  backend/app/api/auth/services/user_manager.py
  backend/app/api/common/routers/openapi.py
  backend/app/api/plugins/rpi_cam/routers/camera_interaction/hls.py
  backend/app/api/plugins/rpi_cam/routers/camera_interaction/images.py
  backend/app/api/plugins/rpi_cam/routers/camera_interaction/streams.py
  backend/app/api/plugins/rpi_cam/routers/camera_interaction/telemetry.py
  backend/app/api/plugins/rpi_cam/routers/camera_interaction/utils.py
  backend/app/api/plugins/rpi_cam/services.py
  backend/app/api/plugins/rpi_cam/websocket/cross_worker_relay.py
  backend/app/api/plugins/rpi_cam/websocket/relay.py
  backend/app/api/plugins/rpi_cam/websocket/router.py
  backend/app/core/redis.py
  backend/app/main.py
  backend/pyproject.toml
  backend/scripts/users/create_superuser.py
  backend/tests/unit/plugins/rpi_cam/test_camera_interaction_utils.py
  backend/uv.lock
  frontend-app/src/app/(auth)/login.tsx
  frontend-app/src/app/profile.tsx
  frontend-app/src/components/cameras/LivePreview.tsx
  frontend-app/src/services/api/__tests__/authentication-test.ts
  frontend-app/src/services/api/authentication.ts
Due: backend-alembic-autogen-check, frontend-app-lint

feat: implement camera unpair notification on delete and update WebSocket relay commands
  backend/app/api/plugins/rpi_cam/routers/admin.py
  backend/app/api/plugins/rpi_cam/routers/camera_crud.py
  backend/app/api/plugins/rpi_cam/websocket/relay.py
  backend/tests/unit/plugins/rpi_cam/test_websocket_relay.py
Due: backend-alembic-autogen-check

refactor: clean up import statements and streamline logging in WebSocket relay functions
  backend/app/api/plugins/rpi_cam/routers/camera_interaction/images.py
  backend/app/api/plugins/rpi_cam/websocket/cross_worker_relay.py
  backend/app/api/plugins/rpi_cam/websocket/relay.py
Due: backend-alembic-autogen-check

refactor: rename timeout parameter to timeout_s for consistency in cross-worker relay functions
  backend/app/api/plugins/rpi_cam/websocket/cross_worker_relay.py
  backend/app/api/plugins/rpi_cam/websocket/relay.py
  backend/tests/integration/core/test_lifespan.py
  backend/tests/unit/plugins/rpi_cam/test_services.py
  frontend-app/src/app/cameras/[id].tsx
Due: backend-alembic-autogen-check, frontend-app-lint

feat: add background task for camera unpair notification on delete operations
  backend/app/api/plugins/rpi_cam/routers/admin.py
  backend/app/api/plugins/rpi_cam/routers/camera_crud.py
  backend/tests/integration/core/test_lifespan.py
Due: backend-alembic-autogen-check

feat: add unit test for camera deletion and background unpair notification
  backend/tests/fixtures/redis.py
  backend/tests/unit/plugins/rpi_cam/test_camera_crud.py
Due: none

feat(frontend-app): improve navigation
  frontend-app/src/app/_layout.tsx
  frontend-app/src/app/cameras/index.tsx
  frontend-app/src/app/products/[id]/category_selection.tsx
  frontend-app/src/app/products/[id]/index.tsx
  frontend-app/src/app/users/[username].tsx
Due: frontend-app-lint

fix(backend): Add hls retry
  backend/app/api/plugins/rpi_cam/exceptions.py
  backend/app/api/plugins/rpi_cam/routers/camera_interaction/hls.py
Due: backend-alembic-autogen-check

some more linting
  .cspell.yml
  backend/app/api/auth/services/oauth/associate.py
  backend/app/api/auth/services/oauth/login.py
  backend/app/api/plugins/rpi_cam/routers/camera_crud.py
  backend/app/api/plugins/rpi_cam/routers/camera_interaction/hls.py
  backend/app/api/plugins/rpi_cam/websocket/cross_worker_relay.py
  backend/app/api/plugins/rpi_cam/websocket/relay.py
  backend/app/core/redis.py
  backend/tests/integration/core/test_lifespan.py
  backend/tests/unit/plugins/rpi_cam/test_camera_crud.py
  docs/justfile
  frontend-app/justfile
  frontend-app/src/app/_layout.tsx
  frontend-app/src/app/cameras/[id].tsx
  frontend-app/src/app/users/[username].tsx
  frontend-web/biome.json
  frontend-web/justfile
Due: backend-alembic-autogen-check, frontend-web-lint, frontend-app-lint

fix: update dependency audit command
  frontend-app/justfile
  frontend-web/justfile
Due: none

fix: reorganize setup-node action to properly configure package-manager cache
  .github/actions/setup-node-just/action.yml
Due: none

fix: enhance product validation error handling and logging
  backend/app/api/auth/services/password_validator.py
  backend/app/api/data_collection/routers/product_read_routers.py
  backend/app/api/data_collection/validators.py
  backend/app/api/file_storage/crud/__init__.py
  backend/app/api/file_storage/routers/__init__.py
  backend/app/api/plugins/rpi_cam/websocket/cross_worker_relay.py
Due: backend-alembic-autogen-check

refactor: streamline FastAPI app creation and logging setup
  backend/app/main.py
  backend/tests/conftest.py
  backend/tests/fixtures/client.py
  backend/tests/fixtures/data.py
  backend/tests/fixtures/redis.py
  backend/tests/integration/core/test_lifespan.py
Due: backend-alembic-autogen-check
