Repository CMLPlatform/relab: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-alembic-autogen-check, frontend-web-lint, frontend-app-lint

backend-alembic-autogen-check:
  name: check alembic migrations
  entry: bash -c 'cd backend && uv run alembic-autogen-check'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

frontend-web-lint:
  name: lint frontend-web code
  entry: bash -c 'cd frontend-web && npm run lint'
  language: system
  pass_filenames: false

frontend-app-lint:
  name: lint frontend-app code
  entry: bash -c 'cd frontend-app && npm run lint'
  language: system
  pass_filenames: false

feature(backend): Use custom fork of fastapi-mail and pass redis client directly to email checker instead of creating double Redis connection
  backend/app/api/auth/utils/email_validation.py
  backend/pyproject.toml
  backend/uv.lock
Due: backend-alembic-autogen-check

fix(backend): Use try except else pattern
  backend/app/core/redis.py
Due: backend-alembic-autogen-check

fix(docker): Persist cache data in prod
  compose.prod.yml
Due: none

fix(backend): Move Annotated validation from database models to Create and Udpate schemas
  backend/app/api/common/models/custom_fields.py
  backend/app/api/common/schemas/custom_fields.py
  backend/app/api/file_storage/models/models.py
  backend/app/api/file_storage/schemas.py
  backend/app/api/newsletter/models.py
  backend/app/api/newsletter/schemas.py
  backend/app/api/plugins/rpi_cam/models.py
  backend/app/api/plugins/rpi_cam/schemas.py
Due: backend-alembic-autogen-check

feature(backend): Fix Pydantic 2.12 issues and move to python 3.14
  backend/.python-version
  backend/Dockerfile
  backend/Dockerfile.dev
  backend/Dockerfile.migrations
  backend/app/api/auth/models.py
  backend/app/api/common/models/base.py
  backend/app/api/data_collection/models.py
  backend/pyproject.toml
  backend/uv.lock
  codemeta.json
Due: backend-alembic-autogen-check

fix(backend): Init disposable email checker without Redis if no Redis connection available
  backend/app/api/auth/utils/email_validation.py
  backend/app/main.py
Due: backend-alembic-autogen-check

fix(cicd): Lint pre-commit yaml and update mdformat pre-commit hook
  .pre-commit-config.yaml
Due: none

fix(backend): Move back to python 3.13 because Dockerized asyncpg doesn't support it yet
  backend/.python-version
  backend/Dockerfile
  backend/Dockerfile.dev
  backend/Dockerfile.migrations
  backend/pyproject.toml
  codemeta.json
Due: none

fix(backend): Use TypeAlias over simple type declaration for custom schema field types
  backend/app/api/common/schemas/custom_fields.py
Due: backend-alembic-autogen-check

fix(backend): Only apply sorting if explicit sorting was requested
  backend/app/api/common/crud/base.py
Due: backend-alembic-autogen-check

feature(backend): Mask user emails in logs for privacy
  backend/app/api/auth/utils/programmatic_emails.py
Due: backend-alembic-autogen-check

Potential fix for code scanning alert no. 8: Log Injection
  backend/app/api/auth/utils/programmatic_emails.py
Due: backend-alembic-autogen-check

fix(backend): Simplify URL serializing to DB
  backend/app/api/common/schemas/custom_fields.py
Due: backend-alembic-autogen-check

fix(backend): Simplify dummy data checking logic
  backend/scripts/seed/migrations_entrypoint.sh
Due: none

fix(backend): Spellcheck
  backend/app/core/redis.py
Due: backend-alembic-autogen-check

Don't reset the product page one practically each navigation
  frontend-app/package-lock.json
  frontend-app/src/app/products/[id]/index.tsx
Due: frontend-app-lint

Add recordings through youtube links
  frontend-app/src/app/products/[id]/index.tsx
  frontend-app/src/components/product/ProductVideo.tsx
  frontend-app/src/services/api/fetching.ts
  frontend-app/src/services/api/saving.ts
  frontend-app/src/types/Product.ts
Due: frontend-app-lint

feat(backend): Add circularity_properties model to products
  backend/alembic/versions/b43d157d07f1_add_basic_circularity_properties_model.py
  backend/app/api/data_collection/crud.py
  backend/app/api/data_collection/models.py
  backend/app/api/data_collection/routers.py
  backend/app/api/data_collection/schemas.py
Due: backend-alembic-autogen-check

fix(backend): Don't initialize email checker for on synthetic user creation
  backend/app/api/auth/services/user_manager.py
Due: backend-alembic-autogen-check

feature(backend): Allow superuser to remove any product
  backend/app/api/data_collection/dependencies.py
Due: backend-alembic-autogen-check

Integrate ImagePicker for photo uploads
  frontend-app/src/app/products/[id]/camera.tsx
  frontend-app/src/services/api/saving.ts
Due: frontend-app-lint

feature(backend): Move from kg to g for physical_properties weight field
  backend/alembic/versions/0faa2fa19f62_move_from_weight_kg_to_weight_g.py
  backend/app/api/data_collection/filters.py
  backend/app/api/data_collection/models.py
  backend/app/api/data_collection/routers.py
  backend/app/api/data_collection/schemas.py
  backend/scripts/seed/dummy_data.py
  docs/docs/architecture/datamodel.md
  frontend-app/src/components/product/ProductPhysicalProperties.tsx
  frontend-app/src/services/api/fetching.ts
  frontend-app/src/services/api/saving.ts
Due: backend-alembic-autogen-check, frontend-app-lint

Remove separate camera page, handle photo capture inline
  frontend-app/src/components/product/ProductImage.tsx
Due: frontend-app-lint

feature: paginate users/me/products
  backend/app/api/data_collection/routers.py
  frontend-app/src/services/api/fetching.ts
Due: backend-alembic-autogen-check, frontend-app-lint

Delete unused camera page
  frontend-app/src/app/products/[id]/camera.tsx
Due: frontend-app-lint

Add thumbnail generation for image uploads
  backend/alembic/versions/a7f3d8e2c1b4_add_thumbnail_path_to_image.py
  backend/app/api/file_storage/crud.py
  backend/app/api/file_storage/models/models.py
  backend/app/api/file_storage/schemas.py
Due: backend-alembic-autogen-check

Integrate thumbnail URLs in frontend products page
  frontend-app/src/components/common/ProductCard.tsx
  frontend-app/src/services/api/fetching.ts
  frontend-app/src/types/Product.ts
Due: frontend-app-lint

feat(backend): Implement comprehensive testing infrastructure with 2025 best practices
  backend/README_TESTING.md
  backend/TESTING_IMPLEMENTATION_SUMMARY.md
  backend/pyproject.toml
  backend/tests/TESTING.md
  backend/tests/conftest.py
  backend/tests/factories/__init__.py
  backend/tests/factories/background_data.py
  backend/tests/factories/products.py
  backend/tests/factories/users.py
  backend/tests/helpers/__init__.py
  backend/tests/helpers/seed.py
  backend/tests/integration/__init__.py
  backend/tests/integration/api/__init__.py
  backend/tests/integration/api/test_products.py
  backend/tests/integration/api/test_units.py
  backend/tests/unit/__init__.py
  backend/tests/unit/models/__init__.py
  backend/tests/unit/models/test_products.py
  backend/tests/unit/models/test_users.py
Due: none

Add lightbox modal for full-screen image viewing
  frontend-app/src/components/product/ProductImage.tsx
Due: frontend-app-lint

test(backend): Add comprehensive validation tests for all layers
  backend/VALIDATION_TESTING_SUMMARY.md
  backend/tests/VALIDATION_TESTING.md
  backend/tests/integration/api/test_product_validation.py
  backend/tests/unit/crud/__init__.py
  backend/tests/unit/crud/test_product_crud_validation.py
  backend/tests/unit/models/test_product_validation.py
  backend/tests/unit/models/test_user_validation.py
  backend/tests/unit/schemas/__init__.py
  backend/tests/unit/schemas/test_common_validators.py
  backend/tests/unit/schemas/test_product_schemas.py
  backend/tests/unit/utils/__init__.py
  backend/tests/unit/utils/test_ownership_validation.py
Due: none

fix(frontend): Use cookies for web auth instead of storing credentials
  frontend-app/src/services/api/authentication.ts
  frontend-app/src/services/api/fetching.ts
  frontend-app/src/services/api/saving.ts
Due: frontend-app-lint

feat: implement comprehensive Jest/Expo test setup
  frontend-app/TESTING.md
  frontend-app/jest.config.js
  frontend-app/jest.setup.js
  frontend-app/package-lock.json
  frontend-app/package.json
  frontend-app/src/app/(auth)/__tests__/login.test.tsx
  frontend-app/src/app/(tabs)/__tests__/products.test.tsx
  frontend-app/src/components/base/__tests__/Chip.test.tsx
  frontend-app/src/components/base/__tests__/LocalizedFloatInput.test.tsx
  frontend-app/src/components/base/__tests__/Text.test.tsx
  frontend-app/src/components/common/__tests__/CPVCard.test.tsx
  frontend-app/src/components/common/__tests__/ProductCard.test.tsx
  frontend-app/src/components/product/__tests__/ProductDescription.test.tsx
  frontend-app/src/components/product/__tests__/ProductTags.test.tsx
  frontend-app/src/services/api/__tests__/authentication.test.ts
  frontend-app/src/services/api/validation/__tests__/product.test.ts
Due: frontend-app-lint

Add video player for dismantling videos
  frontend-app/src/app/products/[id]/index.tsx
  frontend-app/src/components/product/ProductVideos.tsx
  frontend-app/src/services/api/fetching.ts
  frontend-app/src/types/Product.ts
Due: frontend-app-lint

feat: Add user profile enhancements with badges and public profiles
  backend/alembic/versions/a1b2c3d4e5f6_add_is_profile_public_to_user.py
  backend/app/api/auth/crud/users.py
  backend/app/api/auth/models.py
  backend/app/api/auth/routers/users.py
  backend/app/api/auth/schemas.py
  frontend-app/src/app/(tabs)/profile.tsx
  frontend-app/src/app/users/[id].tsx
  frontend-app/src/components/product/ProductMetaData.tsx
  frontend-app/src/services/api/authentication.ts
  frontend-app/src/services/api/fetching.ts
  frontend-app/src/types/User.ts
  frontend-app/src/utils/badges.ts
Due: backend-alembic-autogen-check, frontend-app-lint

refactor(tests): Consolidate validation tests and add background data coverage
  backend/VALIDATION_TESTING_SUMMARY.md
  backend/tests/VALIDATION_TESTING.md
  backend/tests/integration/api/test_product_validation.py
  backend/tests/unit/crud/test_common_crud_utils.py
  backend/tests/unit/crud/test_product_crud_validation.py
  backend/tests/unit/models/test_background_data_validation.py
  backend/tests/unit/models/test_product_validation.py
  backend/tests/unit/schemas/test_common_validators.py
  backend/tests/unit/schemas/test_product_schemas.py
Due: none

refactor: improve test suite coverage and quality
  frontend-app/src/app/(auth)/__tests__/login.test.tsx
  frontend-app/src/app/(tabs)/__tests__/products.test.tsx
  frontend-app/src/components/base/__tests__/TextInput.test.tsx
  frontend-app/src/components/common/__tests__/CPVCard.test.tsx
  frontend-app/src/components/common/__tests__/ProductCard.test.tsx
  frontend-app/src/components/product/__tests__/ProductDescription.test.tsx
  frontend-app/src/services/api/__tests__/fetching.test.ts
  frontend-app/src/services/api/__tests__/saving.test.ts
Due: frontend-app-lint

Do reload on ID change
  frontend-app/src/app/products/[id]/index.tsx
Due: frontend-app-lint

Path conditions:
  backend-alembic-autogen-check: any of: ^(backend/(app|alembic)/|alembic\.ini$)
  frontend-web-lint: any of: ^frontend-web\/.*\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?)$
  frontend-app-lint: any of: ^frontend-app\/.*\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?)$
