Repository CMLPlatform/relab: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-alembic-autogen-check, frontend-web-lint, frontend-app-lint

Path conditions:
  backend-alembic-autogen-check: any of: ^(backend/(app|alembic)/|alembic\.ini$)
  frontend-web-lint: any of: ^frontend-web\/.*\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?)$
  frontend-app-lint: any of: ^frontend-app\/.*\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?)$

refactor: align spacing in prod_compose definition for consistency
  justfile
Due: none

fix: address codeql issues
  backend/app/api/auth/services/email_checker.py
  backend/app/api/auth/services/oauth/associate.py
  backend/app/api/plugins/rpi_cam/websocket/router.py
  frontend-app/src/app/users/__tests__/username-test.tsx
Due: backend-alembic-autogen-check, frontend-app-lint

chore: update release-please configuration
  .github/release-please-config.json
Due: none

chore: update release-please configuration (#138)
  .github/release-please-config.json
Due: none

chore: update pnpm and other deps
  .tool-versions
  backend/uv.lock
  docs/package.json
  docs/pnpm-lock.yaml
  frontend-app/package.json
  frontend-app/pnpm-lock.yaml
  frontend-web/package.json
  frontend-web/pnpm-lock.yaml
  package.json
  pnpm-lock.yaml
Due: frontend-web-lint, frontend-app-lint

fix: update Caddy image and add package upgrade for security patches
  frontend-app/Dockerfile
Due: none

docs(frontend-app): simplify
  frontend-app/ARCHITECTURE.md
Due: none

chore: update renovate configuration for improved dependency management
  renovate.json
Due: none

chore: update Python version to 3.14.4 in .tool-versions
  .tool-versions
Due: none

feat: add CodeQL analysis and dependency review workflows; enhance security checks for Renovate PRs
  .github/actions/detect-security-changes/action.yml
  .github/codeql-config.yml
  .github/workflows/codeql.yaml
  .github/workflows/dependency-review.yml
  .github/workflows/security.yml
  .github/workflows/validate.yml
Due: none

fix: remove private tag from _loki_overlay in justfile
  justfile
Due: none

fix: adjust useProductsListQuery to correctly handle query pages based on numColumns
  frontend-app/src/hooks/products/useProductsScreen.ts
Due: frontend-app-lint

fix: update environment variable handling for build mode in expo Dockerfile
  frontend-app/Dockerfile
Due: none

feat: consolidate GitHub actions for change detection and security audits; remove obsolete workflows
  .github/actions/detect-changes/action.yml
  .github/actions/detect-ci-changes/action.yml
  .github/actions/detect-security-changes/action.yml
  .github/actions/docker-smoke/action.yml
  .github/workflows/codeql.yaml
  .github/workflows/dependency-review.yml
  .github/workflows/security.yml
  .github/workflows/validate.yml
Due: none

fix: update schema paths in biome configuration files to local references
  biome.base.jsonc
  biome.jsonc
  docs/biome.jsonc
  frontend-app/biome.jsonc
  frontend-web/biome.jsonc
Due: frontend-web-lint, frontend-app-lint

chore: linting
  .github/renovate.json
  backend/app/api/background_data/crud/categories.py
  backend/app/api/file_storage/schemas.py
  backend/tests/unit/plugins/rpi_cam/test_services_recording_session.py
Due: backend-alembic-autogen-check

fix(frontend-app): make Dockerfile use .env.prod
  frontend-app/.env.prod
  frontend-app/.gitignore
  frontend-app/Dockerfile
Due: none

fix(deploy): remove fallback for image names in compose.deploy.yaml
  compose.deploy.yaml
Due: none

refactor(backend): refactor custom cache implementation
  backend/app/api/auth/routers/users.py
  backend/app/api/auth/services/profile_cache.py
  backend/app/api/auth/services/stats.py
  backend/app/core/cache.py
  backend/app/core/lifecycle.py
  backend/scripts/maintenance/clear_cache.py
  backend/tests/fixtures/client.py
  backend/tests/integration/api/test_profile_stats.py
  backend/tests/integration/core/test_app_cache.py
  backend/tests/integration/core/test_lifespan.py
  backend/tests/unit/auth/test_profile_cache.py
  backend/tests/unit/core/test_cache.py
  backend/tests/unit/core/test_fastapi_cache.py
  backend/tests/unit/data_collection/test_crud.py
  backend/tests/unit/scripts/maintenance/test_clear_cache.py
Due: backend-alembic-autogen-check
