Repository CMLPlatform/relab: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-alembic-autogen-check, frontend-web-lint, frontend-app-lint

Path conditions:
  backend-alembic-autogen-check: any of: ^(backend/(app|alembic)/|alembic\.ini$)
  frontend-web-lint: any of: ^frontend-web\/.*\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?)$
  frontend-app-lint: any of: ^frontend-app\/.*\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?)$

refactor: streamline category creation logic and schemas
  backend/app/api/background_data/crud/categories.py
  backend/app/api/background_data/routers/admin_categories.py
  backend/app/api/background_data/routers/admin_taxonomies.py
  backend/app/api/background_data/routers/public_categories.py
  backend/app/api/background_data/routers/public_taxonomies.py
  backend/app/api/background_data/schemas.py
  backend/tests/integration/api/test_background_data_endpoints.py
  backend/tests/unit/background_data/test_background_data_validation.py
Due: backend-alembic-autogen-check

fix: update profile stats management
  .cspell.yaml
  backend/alembic/versions/1f7e8a2b4c6d_rename_stats_cache_to_profile_stats.py
  backend/app/api/auth/models.py
  backend/app/api/auth/profile_stats.py
  backend/app/api/auth/routers/users.py
  backend/app/api/auth/schemas.py
  backend/app/api/auth/services/profile_cache.py
  backend/app/api/auth/services/stats.py
  backend/tests/integration/api/test_profile_stats.py
  backend/tests/unit/auth/test_profile_cache.py
  backend/tests/unit/data_collection/test_product_mutation_profile_stats.py
Due: backend-alembic-autogen-check

feat: implement user preferences management and enhance privacy controls
  backend/app/api/auth/crud/users.py
  backend/app/api/auth/preferences.py
  backend/app/api/auth/routers/refresh.py
  backend/app/api/auth/schemas.py
  backend/app/api/auth/services/auth_backends.py
  backend/app/api/auth/services/login_hooks.py
  backend/app/api/auth/services/privacy.py
  backend/app/api/common/crud/pagination.py
  backend/app/api/common/schemas/base.py
  backend/app/api/data_collection/dependencies.py
  backend/app/api/data_collection/presentation/product_reads.py
  backend/tests/integration/api/auth/test_user_updates.py
  backend/tests/unit/auth/test_privacy.py
  backend/tests/unit/common/test_schema_field_mixins.py
Due: backend-alembic-autogen-check

fix: improve postgres backup service (start healthcheck earlier and make zst extension explicit)
  compose.deploy.yaml
Due: none

chore(infra): tune dev, deploy, and static asset workflows
  backend/app/api/common/routers/file_mounts.py
  backend/justfile
  backend/perf/README.md
  backend/perf/k6-baseline.js
  backend/scripts/maintenance/clear_cache.py
  backend/scripts/perf/perf_ci.py
  backend/scripts/plugins/rpi_cam/webcam_fake_camera.py
  backend/tests/unit/scripts/maintenance/test_clear_cache.py
  compose.deploy.yaml
  compose.dev.yaml
  docs/Caddyfile
  frontend-web/Caddyfile
  justfile
Due: backend-alembic-autogen-check

docs(web): refresh public site and project docs
  docs/src/content/docs/architecture/auth.mdx
  docs/src/content/docs/architecture/datamodel.mdx
  docs/src/content/docs/architecture/engineering-ops.md
  docs/src/content/docs/architecture/rpi-cam.mdx
  docs/src/content/docs/project/roadmap.md
  docs/src/content/docs/user-guides/api.md
  frontend-web/e2e/accessibility.spec.ts
  frontend-web/e2e/index.spec.ts
  frontend-web/e2e/responsive.spec.ts
  frontend-web/e2e/structure.spec.ts-snapshots/homepage.aria.yml
  frontend-web/e2e/structure.spec.ts-snapshots/privacy.aria.yml
  frontend-web/src/components/FollowUpdates.astro
  frontend-web/src/components/Hero.astro
  frontend-web/src/components/LandingHighlights.astro
  frontend-web/src/components/PrimaryLinks.astro
  frontend-web/src/components/SiteHeader.astro
  frontend-web/src/components/TrustPanel.astro
  frontend-web/src/components/WorkflowPanels.astro
  frontend-web/src/content/home-content.ts
  frontend-web/src/content/privacy-content.ts
  frontend-web/src/content/site-meta.test.ts
  frontend-web/src/content/site-meta.ts
  frontend-web/src/layouts/Layout.astro
  frontend-web/src/pages/index.astro
  frontend-web/src/scripts/init.ts
  frontend-web/src/styles/components.css
  frontend-web/src/styles/header.css
  frontend-web/src/utils/url.ts
  frontend-web/vitest.config.ts
Due: frontend-web-lint

feat(backend): Remove product dismantling time fields
  backend/alembic/versions/e5f6a7b8c9d0_remove_product_dismantling_times.py
  backend/app/api/common/schemas/base.py
  backend/app/api/common/schemas/field_mixins.py
  backend/app/api/data_collection/examples.py
  backend/app/api/data_collection/filters.py
  backend/app/api/data_collection/models/base.py
  backend/app/api/data_collection/schemas.py
  backend/tests/fixtures/data.py
  backend/tests/integration/api/test_data_collection_product_endpoints.py
  backend/tests/unit/common/test_schema_field_mixins.py
  backend/tests/unit/data_collection/test_schemas.py
  docs/src/content/docs/architecture/datamodel.mdx
  frontend-app/src/__tests__/api/fetching.integration.test.ts
  frontend-app/src/types/api.generated.ts
Due: backend-alembic-autogen-check, frontend-app-lint

refactor: remove legacy compatibility shims
  .cspell.yaml
  backend/alembic/versions/33b00b31e537_initial.py
  backend/app/api/auth/crud/users.py
  backend/app/api/auth/services/emails.py
  backend/app/api/common/routers/exceptions.py
  backend/app/api/common/schemas/base.py
  backend/app/api/file_storage/crud/parent_media.py
  backend/app/api/file_storage/crud/support_services.py
  backend/app/api/file_storage/crud/support_uploads.py
  backend/app/api/file_storage/crud/video.py
  backend/app/api/file_storage/models/storage.py
  backend/app/main.py
  backend/tests/factories/models.py
  backend/tests/integration/db/test_auth_user_crud.py
  backend/tests/unit/data_collection/test_schemas.py
  backend/tests/unit/file_storage/test_custom_types.py
  backend/tests/unit/file_storage/test_parent_media_crud.py
  backend/tests/unit/file_storage/test_storage_utils.py
  frontend-app/e2e/helpers.ts
  frontend-app/e2e/product-detail.spec.ts
  frontend-app/e2e/products.spec.ts
  frontend-app/src/__tests__/api/fetching.integration.test.ts
  frontend-app/src/components/product/circularity/config.ts
  frontend-app/src/components/product/circularity/helpers.ts
  frontend-app/src/hooks/__tests__/useProductForm-test.tsx
  frontend-app/src/hooks/__tests__/useProductQueries-test.tsx
  frontend-app/src/services/api/__tests__/saving-test.ts
  frontend-app/src/services/api/products.ts
  frontend-app/src/services/api/saving.ts
  frontend-app/src/types/api.ts
  frontend-web/e2e/privacy.spec.ts
Due: backend-alembic-autogen-check, frontend-web-lint, frontend-app-lint

feat: simplify circularity_notes
  .cspell.yaml
  backend/alembic/versions/c7d8e9f0a1b2_replace_circularity_columns_with_jsonb.py
  backend/app/api/common/schemas/field_mixins.py
  backend/app/api/data_collection/examples.py
  backend/app/api/data_collection/models/base.py
  backend/app/api/data_collection/schemas.py
  backend/tests/integration/api/test_data_collection_product_endpoints.py
  docs/src/content/docs/architecture/datamodel.mdx
  docs/src/content/docs/user-guides/api.md
  docs/src/content/docs/user-guides/data-collection.md
  frontend-app/src/app/products/[id]/__tests__/index-test.tsx
  frontend-app/src/components/product/ProductCircularityProperties.tsx
  frontend-app/src/components/product/__tests__/ProductCircularityProperties-test.tsx
  frontend-app/src/components/product/circularity/CircularityPropertySection.tsx
  frontend-app/src/services/api/validation/__tests__/productSchema-test.ts
  frontend-app/src/services/api/validation/productSchema.ts
  frontend-app/src/test-utils/fixtures.ts
  frontend-app/src/types/Product.ts
  frontend-app/src/types/api.generated.ts
Due: backend-alembic-autogen-check, frontend-app-lint

chore: remove unneeded error suppression
  backend/alembic/versions/33b00b31e537_initial.py
  backend/alembic/versions/4d379aaa416a_add_user_stats_cache.py
  backend/alembic/versions/6f2b9e4a1c3d_add_recording_session_backstop.py
  backend/alembic/versions/d9ffb53c12c0_simplify_rpi_cam_device_auth.py
  backend/alembic/versions/e3d54054d34a_add_user_preferences.py
Due: backend-alembic-autogen-check

fix(backend): remove legacy router surface tests for RPi camera plugin
  backend/tests/unit/plugins/rpi_cam/test_router_surface.py
Due: none

feat(backend): Refactor email service and add provider architecture
  .cspell.yaml
  backend/.env.dev.example
  backend/.env.prod.example
  backend/.env.staging.example
  backend/.env.test
  backend/README.md
  backend/app/api/auth/config.py
  backend/app/api/auth/services/email/__init__.py
  backend/app/api/auth/services/email/messages.py
  backend/app/api/auth/services/email/providers.py
  backend/app/api/auth/services/email/service.py
  backend/app/api/auth/services/email/templates.py
  backend/app/api/auth/services/emails.py
  backend/app/api/auth/services/user_manager.py
  backend/app/api/plugins/rpi_cam/service_runtime.py
  backend/tests/conftest.py
  backend/tests/unit/emails/test_email_config.py
  backend/tests/unit/emails/test_email_provider_config.py
  backend/tests/unit/emails/test_email_providers.py
  backend/tests/unit/emails/test_email_templates.py
  backend/tests/unit/emails/test_programmatic_emails.py
  backend/tests/unit/emails/test_templated_delivery.py
Due: backend-alembic-autogen-check

fix(backend): Remove abandoned piexif dep and simplify exif handling
  backend/app/core/images/exif.py
  backend/app/core/images/processing.py
  backend/pyproject.toml
  backend/tests/unit/core/test_image_processing.py
  backend/uv.lock
Due: backend-alembic-autogen-check

fix(backend): Remove abandoned inflect dependency and implement custom pluralization logic
  backend/app/api/common/models/base.py
  backend/pyproject.toml
  backend/uv.lock
Due: backend-alembic-autogen-check

fix(backend): Replace abandoned slugify dependency with custom slugification for filename sanitization
  backend/app/api/file_storage/crud/support_uploads.py
  backend/pyproject.toml
  backend/tests/unit/file_storage/test_storage_utils.py
  backend/uv.lock
Due: backend-alembic-autogen-check

refactor(backend): Remove hash method from Camera model (previously used for caching, not needed anymore)
  backend/app/api/plugins/rpi_cam/models.py
  backend/tests/unit/plugins/rpi_cam/test_models.py
Due: backend-alembic-autogen-check

fix(backend): remove abandoned zxcvbn dep and make internal password validation checks stricter
  .github/gitleaks.toml
  backend/app/api/auth/schemas.py
  backend/app/api/auth/services/password_validator.py
  backend/pyproject.toml
  backend/tests/integration/api/auth/shared.py
  backend/tests/integration/db/test_auth_user_crud.py
  backend/tests/integration/flows/test_auth_flows.py
  backend/tests/unit/auth/test_auth_utils.py
  backend/tests/unit/auth/test_password_validator.py
  backend/tests/unit/scripts/users/test_create_user.py
  backend/uv.lock
  frontend-app/e2e/auth.spec.ts
  frontend-app/e2e/products.spec.ts
  frontend-app/src/__tests__/screens/login.integration.test.tsx
  frontend-app/src/__tests__/screens/new-account.integration.test.tsx
  frontend-app/src/__tests__/screens/reset-password.integration.test.tsx
  frontend-app/src/hooks/__tests__/useLoginScreen-test.tsx
  frontend-app/src/hooks/__tests__/useNewAccountScreen-test.tsx
  frontend-app/src/services/api/validation/__tests__/userSchema-test.ts
  frontend-app/src/services/api/validation/userSchema.ts
Due: backend-alembic-autogen-check, frontend-app-lint
