Repository CMLPlatform/relab: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-alembic-autogen-check, frontend-web-lint, frontend-app-lint

backend-alembic-autogen-check:
  name: check alembic migrations
  entry: bash -c 'cd backend && uv run alembic-autogen-check'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

frontend-web-lint:
  name: lint frontend-web code
  entry: bash -c 'cd frontend-web && npm run lint'
  language: system
  pass_filenames: false

frontend-app-lint:
  name: lint frontend-app code
  entry: bash -c 'cd frontend-app && npm run lint'
  language: system
  pass_filenames: false

fix(docs): Update documentation
  .vscode/settings.json
  CONTRIBUTING.md
  INSTALL.md
  README.md
  pyproject.toml
Due: none

fix(ci): Update renovate.json
  renovate.json
Due: none

fix(ci): add cspell config
  .cspell.yaml
  .pre-commit-config.yaml
  .vscode/settings.json
Due: none

fix(ci): Add uv lock upgrades to all python subrepos in pre-commit config
  .pre-commit-config.yaml
Due: none

fix(ci): Update justfiles
  backend/justfile
  docs/justfile
  frontend-app/justfile
  frontend-web/justfile
  justfile
Due: none

fix(frontend-web): Enhance error handling for undefined and empty baseUrl in joinApiUrl
  frontend-web/src/utils/url.test.ts
  frontend-web/src/utils/url.ts
Due: frontend-web-lint

feature(frontend-web): Update styling to match app
  frontend-web/public/bg-dark.jpg
  frontend-web/public/bg-light.jpg
  frontend-web/src/layouts/Layout.astro
  frontend-web/src/pages/index.astro
  frontend-web/src/pages/newsletter/confirm.astro
  frontend-web/src/pages/newsletter/unsubscribe-form.astro
  frontend-web/src/pages/newsletter/unsubscribe.astro
  frontend-web/src/pages/privacy.astro
  frontend-web/src/styles/global.css
Due: none

fix(frontend-web): Add footer and enhance styling for better responsiveness
  frontend-web/src/layouts/Layout.astro
Due: none

fix(frontend-web): Remove redundant health screen (replaced by Caddy health endpoint)
  frontend-web/e2e/health.spec.ts
  frontend-web/src/pages/health.astro
Due: frontend-web-lint

fix(frontend-web): Update exclude paths in config files
  frontend-web/biome.json
  frontend-web/package-lock.json
  frontend-web/package.json
  frontend-web/tsconfig.json
Due: frontend-web-lint

fix(frontend-web): Update tests
  frontend-web/e2e/accessibility.spec.ts
  frontend-web/e2e/newsletter/unsubscribe-form.spec.ts
  frontend-web/e2e/responsive.spec.ts
Due: frontend-web-lint

chore(frontend-web): Lint env files
  frontend-web/.env.dev
  frontend-web/.env.prod
  frontend-web/.env.staging
  frontend-web/.env.test
Due: none

chore(docs): Add linting dependencies
  docs/pyproject.toml
  docs/uv.lock
Due: none

feature(docs): Add footer with copyright and social links, fix spelling error
  docs/docs/index.md
  docs/zensical.toml
Due: none

chore: upgrade uv lockfiles
  backend/uv.lock
  docs/uv.lock
  uv.lock
Due: none

feature(backend): Add in-memory refresh token storage for dev situations without Redis
  backend/app/api/auth/services/refresh_token_service.py
Due: backend-alembic-autogen-check

feature(backend): Add cors origin regex var for easier local development
  CONTRIBUTING.md
  backend/app/api/auth/config.py
  backend/app/api/auth/services/oauth.py
  backend/app/core/config.py
  backend/app/main.py
  frontend-app/.env.development
Due: backend-alembic-autogen-check

fix(backend): Small fixes to scripts
  backend/scripts/backup/user_upload_backups_entrypoint.sh
  backend/scripts/create_superuser.py
  backend/scripts/db_is_empty.py
  backend/scripts/local_setup.sh
  backend/scripts/render_erd.py
  backend/scripts/seed/dummy_data.py
  backend/scripts/seed/taxonomies/cpv.py
  backend/scripts/seed/taxonomies/harmonized_system.py
Due: none

feature(backend): Add file cleanup service and script
  backend/app/api/file_storage/cleanup.py
  backend/app/api/file_storage/manager.py
  backend/app/core/background_tasks.py
  backend/app/main.py
  backend/scripts/cleanup_files.py
Due: backend-alembic-autogen-check

fix(backend): Make cleanup service fully async
  backend/app/api/file_storage/cleanup.py
Due: backend-alembic-autogen-check

feature(backend): Add load_sqlmodel_models tool
  backend/alembic/env.py
  backend/app/core/database.py
  backend/app/core/model_registry.py
  backend/tests/unit/core/test_model_registry.py
Due: backend-alembic-autogen-check

fix(backend): Simplify config setup
  backend/app/api/auth/config.py
  backend/app/api/plugins/rpi_cam/config.py
  backend/app/core/config.py
  backend/app/core/constants.py
  backend/app/core/env.py
Due: backend-alembic-autogen-check

fix(backend): Add order by options for filtered endpoints
  backend/app/api/auth/filters.py
  backend/app/api/background_data/filters.py
  backend/app/api/data_collection/filters.py
  backend/app/api/file_storage/filters.py
Due: backend-alembic-autogen-check

refactor(backend): Refactor model construction to avoid missing ID type errors for objects fetched from the DB
  backend/app/api/auth/crud/users.py
  backend/app/api/auth/dependencies.py
  backend/app/api/auth/models.py
  backend/app/api/auth/routers/oauth.py
  backend/app/api/background_data/crud.py
  backend/app/api/background_data/models.py
  backend/app/api/common/crud/base.py
  backend/app/api/common/crud/utils.py
  backend/app/api/common/models/associations.py
  backend/app/api/common/models/base.py
  backend/app/api/common/models/custom_types.py
  backend/app/api/common/schemas/base.py
  backend/app/api/data_collection/base.py
  backend/app/api/data_collection/crud.py
  backend/app/api/data_collection/dependencies.py
  backend/app/api/data_collection/routers.py
  backend/app/api/data_collection/schemas.py
  backend/app/api/file_storage/crud.py
  backend/app/api/file_storage/models/models.py
  backend/app/api/file_storage/router_factories.py
  backend/app/api/file_storage/schemas.py
  backend/app/api/newsletter/models.py
  backend/app/api/plugins/rpi_cam/dependencies.py
  backend/app/api/plugins/rpi_cam/models.py
  backend/app/api/plugins/rpi_cam/routers/camera_crud.py
  backend/app/api/plugins/rpi_cam/routers/camera_interaction/images.py
  backend/app/api/plugins/rpi_cam/routers/camera_interaction/remote_management.py
  backend/app/api/plugins/rpi_cam/routers/camera_interaction/streams.py
Due: backend-alembic-autogen-check

feature(backend): Add tsvector search endpoint for products
  backend/alembic/versions/f3a8c2d1e5b7_add_product_full_text_and_trigram_search.py
Due: backend-alembic-autogen-check

feature(backend): Paginate get routes with many items
  backend/app/api/auth/crud/__init__.py
  backend/app/api/auth/crud/organizations.py
  backend/app/api/auth/routers/admin/organizations.py
  backend/app/api/auth/routers/admin/users.py
  backend/app/api/auth/routers/organizations.py
  backend/app/api/auth/routers/users.py
  backend/app/api/background_data/routers/public.py
  backend/app/api/newsletter/routers.py
  backend/app/api/plugins/rpi_cam/routers/admin.py
  backend/app/api/plugins/rpi_cam/schemas.py
Due: backend-alembic-autogen-check

feature(backend): Allow login with username and email simultaneously
  backend/app/api/auth/services/user_manager.py
Due: backend-alembic-autogen-check

fix(backend): Allow local storage for auth caching in dev mode
  backend/app/api/auth/routers/refresh.py
  backend/app/api/auth/services/user_manager.py
Due: backend-alembic-autogen-check

fix(backend): Optimize email checker task
  backend/app/api/auth/utils/email_validation.py
Due: backend-alembic-autogen-check

feature(backend): Ensure file storage paths exists
  backend/app/api/common/routers/file_mounts.py
  backend/app/api/file_storage/models/custom_types.py
  backend/app/main.py
Due: backend-alembic-autogen-check

refactor(backend): Replace heavy google api client dep with custom protocol and use shared async http client for outbound http requests
  backend/app/api/common/routers/dependencies.py
  backend/app/api/plugins/rpi_cam/services.py
  backend/app/api/plugins/rpi_cam/types.py
  backend/app/api/plugins/rpi_cam/youtube_schemas.py
  backend/app/main.py
Due: backend-alembic-autogen-check

feature(backend): Add image processing pipeline, resize endpoint, product thumbnail field and product owner username field
  backend/app/api/common/routers/main.py
  backend/app/api/data_collection/models.py
  backend/app/api/file_storage/routers.py
  backend/app/core/images.py
Due: backend-alembic-autogen-check

fix(backend): Misc updates related to previous commits
  backend/.env.dev.example
  backend/.env.prod.example
  backend/Dockerfile
  backend/Dockerfile.dev
  backend/Dockerfile.migrations
  backend/alembic/versions/33b00b31e537_initial.py
  backend/app/api/auth/schemas.py
  backend/app/api/data_collection/filters.py
  backend/app/core/database.py
  backend/app/core/http.py
  backend/app/core/logging.py
  backend/app/core/redis.py
  backend/app/main.py
  backend/pyproject.toml
  backend/uv.lock
Due: backend-alembic-autogen-check

feature(backend): Update styling of backend UI and emails
  backend/app/static/css/styles.css
  backend/app/static/images/bg-dark.jpg
  backend/app/static/images/bg-light.jpg
  backend/app/templates/emails/build/newsletter.html
  backend/app/templates/emails/build/newsletter_subscription.html
  backend/app/templates/emails/build/newsletter_unsubscribe.html
  backend/app/templates/emails/build/password_reset.html
  backend/app/templates/emails/build/post_verification.html
  backend/app/templates/emails/build/registration.html
  backend/app/templates/emails/build/verification.html
  backend/app/templates/emails/src/components/footer.mjml
  backend/app/templates/emails/src/components/header.mjml
  backend/app/templates/emails/src/components/styles.mjml
  backend/app/templates/emails/src/newsletter.mjml
  backend/app/templates/emails/src/newsletter_subscription.mjml
  backend/app/templates/emails/src/newsletter_unsubscribe.mjml
  backend/app/templates/emails/src/password_reset.mjml
  backend/app/templates/emails/src/post_verification.mjml
  backend/app/templates/emails/src/registration.mjml
  backend/app/templates/emails/src/verification.mjml
Due: backend-alembic-autogen-check

refactor(backend): Replace fastapi-storage dependency with custom storage protocol
  backend/app/api/file_storage/crud.py
  backend/app/api/file_storage/models/custom_types.py
  backend/app/api/file_storage/models/storage.py
  backend/pyproject.toml
  backend/tests/unit/auth/test_rate_limit.py
  backend/tests/unit/file_storage/test_file_storage_crud.py
Due: backend-alembic-autogen-check

chore(frontend-web): linting and updating deps
  frontend-web/README.md
  frontend-web/astro.config.ts
  frontend-web/biome.json
  frontend-web/e2e/accessibility.spec.ts
  frontend-web/e2e/index.spec.ts
  frontend-web/e2e/responsive.spec.ts
  frontend-web/package-lock.json
  frontend-web/package.json
  frontend-web/src/layouts/Layout.astro
  frontend-web/src/pages/index.astro
  frontend-web/src/pages/newsletter/confirm.astro
  frontend-web/src/pages/newsletter/unsubscribe-form.astro
  frontend-web/src/pages/newsletter/unsubscribe.astro
  frontend-web/src/pages/privacy.astro
  frontend-web/src/styles/global.css
Due: frontend-web-lint

fix(ci): Update pre-commit config
  .pre-commit-config.yaml
Due: none

chore(backend): Rebuild email templates
  backend/app/templates/emails/build/newsletter.html
  backend/app/templates/emails/build/newsletter_subscription.html
  backend/app/templates/emails/build/newsletter_unsubscribe.html
  backend/app/templates/emails/build/password_reset.html
  backend/app/templates/emails/build/post_verification.html
  backend/app/templates/emails/build/registration.html
  backend/app/templates/emails/build/verification.html
  backend/app/templates/emails/src/components/footer.mjml
  backend/app/templates/emails/src/components/styles.mjml
  backend/app/templates/emails/src/newsletter.mjml
  backend/app/templates/emails/src/newsletter_subscription.mjml
  backend/app/templates/emails/src/newsletter_unsubscribe.mjml
  backend/app/templates/emails/src/password_reset.mjml
  backend/app/templates/emails/src/post_verification.mjml
  backend/app/templates/emails/src/verification.mjml
  backend/app/templates/index.html
Due: backend-alembic-autogen-check

Path conditions:
  backend-alembic-autogen-check: any of: ^(backend/(app|alembic)/|alembic\.ini$)
  frontend-web-lint: any of: ^frontend-web\/.*\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?)$
  frontend-app-lint: any of: ^frontend-app\/.*\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?)$
