Repository CMLPlatform/relab: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-alembic-autogen-check, frontend-web-lint, frontend-app-lint

Path conditions:
  backend-alembic-autogen-check: any of: ^(backend/(app|alembic)/|alembic\.ini$)
  frontend-web-lint: any of: ^frontend-web\/.*\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?)$
  frontend-app-lint: any of: ^frontend-app\/.*\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?)$

fix: Misc linting and small docs and ci updates
  .devcontainer/frontend-app/devcontainer.json
  CONTRIBUTING.md
  README.md
  backend/README.md
  backend/justfile
  compose.override.yml
  compose.prod.yml
  compose.yml
  docs/README.md
  justfile
Due: none

fix(ci): Harmonize justfiles
  .pre-commit-config.yaml
  backend/justfile
  docs/justfile
  frontend-app/justfile
  frontend-web/justfile
  justfile
Due: none

fix(docs): Update development docs and github templates
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/internal-ticket.md
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  INSTALL.md
  README.md
Due: none

fix(backend): Let test factories discover TSVECTOR type
  backend/tests/factories/models.py
Due: none

feature(ci): Move from commitizen to release-please for version mgmt
  .github/.release-please-manifest.json
  .github/release-please-config.json
  .github/workflows/release.yml
  pyproject.toml
Due: none

ci: add github workflows
  .github/actions/setup-node-just/action.yml
  .github/actions/setup-python-just/action.yml
  .github/actions/upload-codecov/action.yml
  .github/workflows/ci.yml
  .github/workflows/security.yml
  frontend-app/playwright.config.ts
Due: frontend-app-lint

ci: update renovate config
  renovate.json
Due: none

fix(frontend): exclude lockfiles and data jsons from linting
  .pre-commit-config.yaml
Due: none

fix(auth): enhance login redirect safety and sanitize user email logging. Link: https://github.com/CMLPlatform/relab/security/code-scanning/1
  backend/app/api/auth/routers/frontend.py
  backend/app/api/auth/routers/register.py
Due: backend-alembic-autogen-check

fix(backend): sanitize log values to prevent log-breaking characters.
  backend/app/api/auth/services/login_hooks.py
  backend/app/api/auth/services/user_manager.py
  backend/app/api/file_storage/routers.py
  backend/app/api/plugins/rpi_cam/routers/camera_interaction/streams.py
  backend/app/api/plugins/rpi_cam/routers/camera_interaction/utils.py
  backend/app/api/plugins/rpi_cam/services.py
  backend/app/core/cache.py
  backend/app/core/logging.py
  backend/app/core/redis.py
  backend/tests/unit/core/test_logging.py
Due: backend-alembic-autogen-check

fix(login): sanitize 'next' input value and enhance path safety checks: Link: https://github.com/CMLPlatform/relab/security/code-scanning/4
  backend/app/templates/login.html
Due: backend-alembic-autogen-check

test(backend): Add test for redirect validation
  backend/tests/unit/auth/test_frontend.py
Due: none

fix(backend): Simplify login redirect to always point to index
  backend/app/api/auth/routers/frontend.py
  backend/tests/unit/auth/test_frontend.py
Due: backend-alembic-autogen-check

fix(backend): Simplify login html to not recognize redirect URIs
  backend/app/templates/login.html
Due: backend-alembic-autogen-check

fix(frontend-web): Remove unnecessary copy of astro.config.ts in Dockerfile
  frontend-web/Dockerfile
Due: none

ci: add update just commands
  docs/justfile
  frontend-app/justfile
  frontend-web/justfile
  justfile
Due: none

chore: update lockfiles
  frontend-app/package-lock.json
  frontend-app/package.json
  frontend-web/package-lock.json
Due: frontend-web-lint, frontend-app-lint

ci: Move from pip-audit to uv-audit
  backend/justfile
  backend/pyproject.toml
  backend/uv.lock
  docs/justfile
  docs/pyproject.toml
  docs/uv.lock
  justfile
Due: none

build(backend): Streamline build deps
  backend/Dockerfile
  backend/Dockerfile.dev
  backend/pyproject.toml
  backend/uv.lock
Due: none

refactor(security): Move to manual gitleaks, remove advanced codeql setup in favour of Github-side default
  .github/workflows/security.yml
Due: none

fix(backend): Lazily load Fernet key to allow migrations on lean dep group
  backend/app/api/plugins/rpi_cam/utils/encryption.py
Due: backend-alembic-autogen-check

refactor(component): streamline input styles in LocalizedFloatInput to accommodate headless browser
  frontend-app/src/components/base/LocalizedFloatInput.tsx
Due: frontend-app-lint

refactor(tests): update GitHub link text to be more descriptive in landing and responsive tests
  frontend-web/e2e/index.spec.ts
  frontend-web/e2e/responsive.spec.ts
Due: frontend-web-lint

fix(backend): Disable shellcheck sourcing to fix CI pipeline (which doesn't have access to .env files)
  backend/scripts/backup/backup_pg_database.sh
  backend/scripts/backup/rclone_backup.sh
  backend/scripts/backup/rsync_backup.sh
Due: none

feature(backend): Allow username for superuser creation
  backend/.env.dev.example
  backend/.env.prod.example
  backend/.env.staging.example
  backend/.env.test
  backend/app/core/config.py
  backend/scripts/create_superuser.py
  backend/tests/unit/scripts/test_create_superuser.py
Due: backend-alembic-autogen-check

ci: Add alembic check within backend test suite to avoid explicit dependency on postgres within CI
  .github/workflows/ci.yml
  backend/justfile
  backend/tests/integration/core/test_migrations.py
  frontend-app/justfile
  frontend-web/justfile
Due: none

fix(backend): Allow null-valued cors-origin regex in prod and staging envs
  backend/app/core/config.py
Due: backend-alembic-autogen-check

ci(docker): Include migrations in build commands
  justfile
Due: none

fix(backend): Decouple migrations script vars
  backend/scripts/seed/migrations_entrypoint.sh
Due: none

build(frontend-app): Compile app in staging environment
  frontend-app/babel.config.js
Due: frontend-app-lint

fix(frontend-web): Make back to browsing button easier to see
  frontend-app/src/app/(auth)/login.tsx
Due: frontend-app-lint

feat(auth): implement public callback URL construction and add unit tests
  backend/app/api/auth/routers/oauth.py
  backend/tests/unit/auth/test_oauth_router.py
Due: backend-alembic-autogen-check

fix(backend): Ensure deterministic order of email templates for stability
  backend/scripts/compile_email_templates.py
Due: none

chore(backend): linting
  backend/scripts/compile_email_templates.py
Due: none

ci(docker): fix --profiles -> --profile arg
  justfile
Due: none

feature(backend): Auto-cycle through dummy users in dummy product creation
  backend/scripts/seed/dummy_data.py
Due: none

ci: make cloudflared wait for backend health
  compose.prod.yml
  compose.staging.yml
Due: none

chore: lint caddyfiles
  docs/Caddyfile
  frontend-app/Caddyfile
Due: none

fix(frontend-app): Fix race condition on OAuth login
  frontend-app/src/app/(auth)/login.tsx
  frontend-app/src/app/profile.tsx
Due: frontend-app-lint
