Repository CMLPlatform/relab: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-alembic-autogen-check, frontend-web-lint, frontend-app-lint

backend-alembic-autogen-check:
  name: check alembic migrations
  entry: bash -c 'cd backend && uv run alembic-autogen-check'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

frontend-web-lint:
  name: lint frontend-web code
  entry: bash -c 'cd frontend-web && npm run lint'
  language: system
  pass_filenames: false

frontend-app-lint:
  name: lint frontend-app code
  entry: bash -c 'cd frontend-app && npm run lint'
  language: system
  pass_filenames: false

update docs
  docs/.gitignore
  docs/.nvmrc
  docs/Dockerfile
  docs/README.md
  docs/astro.config.mjs
  docs/e2e/visual.spec.ts
  docs/e2e/visual.spec.ts-snapshots/404-desktop-chromium-darwin.png
  docs/e2e/visual.spec.ts-snapshots/homepage-desktop-chromium-darwin.png
  docs/e2e/visual.spec.ts-snapshots/homepage-mobile-chromium-darwin.png
  docs/e2e/visual.spec.ts-snapshots/system-design-desktop-chromium-darwin.png
  docs/justfile
  docs/package.json
  docs/src/components/Head.astro
  docs/src/components/SiteTitle.astro
  docs/src/content/docs/404.md
  docs/src/content/docs/architecture/rpi-cam.mdx
  docs/src/content/docs/user-guides/rpi-cam.md
  docs/src/scripts/page-chrome/index.ts
  docs/src/scripts/page-chrome/mermaid.ts
  docs/src/scripts/page-chrome/toc.ts
Due: none

update website
  frontend-web/README.md
  frontend-web/e2e/helpers.ts
  frontend-web/e2e/index.spec.ts
  frontend-web/e2e/newsletter/unsubscribe-form.spec.ts
  frontend-web/e2e/privacy.spec.ts
  frontend-web/e2e/visual.spec.ts
  frontend-web/e2e/visual.spec.ts-snapshots/homepage-chromium-darwin.png
  frontend-web/src/components/ContentPage.astro
  frontend-web/src/components/EmailForm.astro
  frontend-web/src/components/Hero.astro
  frontend-web/src/components/NewsletterSignup.astro
  frontend-web/src/components/ThemeControl.astro
  frontend-web/src/components/TokenAction.astro
  frontend-web/src/content/home-content.ts
  frontend-web/src/content/index.ts
  frontend-web/src/content/newsletter-content.ts
  frontend-web/src/content/privacy-content.ts
  frontend-web/src/content/site-meta.ts
  frontend-web/src/layouts/Layout.astro
  frontend-web/src/pages/index.astro
  frontend-web/src/pages/newsletter/confirm.astro
  frontend-web/src/pages/newsletter/unsubscribe-form.astro
  frontend-web/src/pages/newsletter/unsubscribe.astro
  frontend-web/src/pages/privacy.astro
  frontend-web/src/scripts/init.ts
  frontend-web/src/styles/components.css
  frontend-web/src/styles/forms.css
  frontend-web/src/styles/global.css
  frontend-web/src/styles/header.css
Due: frontend-web-lint

Refactor code structure for improved readability and maintainability
  backend/pyproject.toml
  backend/uv.lock
Due: none

update docs
  .github/workflows/validate.yml
  CONTRIBUTING.md
  INSTALL.md
  README.md
  docs/src/content/docs/architecture/engineering-config.md
  docs/src/content/docs/architecture/engineering-ops.md
  docs/src/content/docs/user-guides/rpi-cam.md
  frontend-web/package.json
  justfile
  scripts/check_env_contract.py
  scripts/check_infra_contract.py
  scripts/check_release_contract.py
Due: frontend-web-lint

docs and ci
  .github/path-filters.yml
  .nvmrc
  CONTRIBUTING.md
  docs/.nvmrc
  docs/src/content/docs/architecture/rpi-cam.mdx
  docs/src/content/docs/user-guides/rpi-cam.md
Due: none

chore: update Dockerfiles for consistency and clarity
  backend/Dockerfile
  backend/Dockerfile.dev
  backend/Dockerfile.migrations
  backend/Dockerfile.user-upload-backups
  docs/Dockerfile
  docs/Dockerfile.dev
  frontend-app/.dockerignore
  frontend-app/Dockerfile
  frontend-app/Dockerfile.dev
  frontend-web/Dockerfile
  frontend-web/Dockerfile.dev
Due: none

fix(docs): correct details formatting for styled architecture overview
  docs/src/content/docs/architecture/system-design.mdx
Due: none

feat: add products screen hook with filtering, sorting, and pagination capabilities
  frontend-app/src/hooks/products/useProductsScreen.ts
  frontend-app/src/hooks/rpi-cameras/__tests__/previews-test.ts
  frontend-app/src/hooks/rpi-cameras/__tests__/queries-test.ts
  frontend-app/src/hooks/rpi-cameras/hooks.ts
  frontend-app/src/hooks/rpi-cameras/previews.ts
  frontend-app/src/hooks/rpi-cameras/queries.ts
  frontend-app/src/hooks/useProductsScreen.ts
  frontend-app/src/hooks/useRpiCameras.ts
Due: frontend-app-lint

Refactor file storage CRUD operations by modularizing support functions
  backend/app/api/auth/crud/organizations.py
  backend/app/api/auth/routers/admin/organizations.py
  backend/app/api/auth/routers/organizations.py
  backend/app/api/auth/routers/users.py
  backend/app/api/background_data/crud/materials.py
  backend/app/api/background_data/crud/product_types.py
  backend/app/api/background_data/routers/public_materials.py
  backend/app/api/background_data/routers/public_product_types.py
  backend/app/api/common/ownership.py
  backend/app/api/data_collection/crud/storage.py
  backend/app/api/file_storage/crud/media_queries.py
  backend/app/api/file_storage/crud/parent_media.py
  backend/app/api/file_storage/crud/support.py
  backend/app/api/file_storage/crud/support_paths.py
  backend/app/api/file_storage/crud/support_queries.py
  backend/app/api/file_storage/crud/support_services.py
  backend/app/api/file_storage/crud/support_types.py
  backend/app/api/file_storage/crud/support_uploads.py
  backend/app/api/newsletter/routers.py
  backend/tests/integration/db/test_rpi_cam_crud.py
  backend/tests/unit/auth/test_org_crud.py
  backend/tests/unit/common/test_ownership_validation.py
  backend/tests/unit/file_storage/test_file_storage_crud.py
  backend/tests/unit/file_storage/test_presentation.py
Due: backend-alembic-autogen-check

feat: enhance category and product tree endpoints to support bounded recursive loading
  backend/app/api/background_data/routers/public_categories.py
  backend/app/api/background_data/routers/public_support.py
  backend/app/api/background_data/routers/public_taxonomies.py
  backend/app/api/data_collection/crud/products.py
  backend/app/api/data_collection/routers/product_read_routers.py
  backend/tests/integration/api/test_background_data_endpoints.py
  backend/tests/integration/api/test_data_collection_component_endpoints.py
  backend/tests/integration/api/test_data_collection_product_endpoints.py
Due: backend-alembic-autogen-check

chore: update performance report structure
  backend/reports/performance/latest-k6-summary.json
Due: none

Refactor RPi camera API endpoints and performance tests
  backend/app/api/background_data/routers/public_categories.py
  backend/app/api/background_data/routers/public_materials.py
  backend/app/api/background_data/routers/public_product_types.py
  backend/app/api/background_data/routers/public_taxonomies.py
  backend/app/api/data_collection/routers/product_read_routers.py
  backend/app/api/plugins/rpi_cam/constants.py
  backend/app/api/plugins/rpi_cam/routers/camera_crud.py
  backend/app/api/plugins/rpi_cam/routers/camera_interaction/hls.py
  backend/app/api/plugins/rpi_cam/routers/camera_interaction/snapshot.py
  backend/app/api/plugins/rpi_cam/routers/camera_interaction/telemetry.py
  backend/app/api/plugins/rpi_cam/schemas/__init__.py
  backend/app/api/plugins/rpi_cam/service_runtime.py
  backend/app/api/plugins/rpi_cam/services.py
  backend/app/api/plugins/rpi_cam/websocket/relay.py
  backend/justfile
  backend/perf/README.md
  backend/perf/k6-baseline.js
  backend/reports/performance/2026-04-16-ci-baseline.md
  backend/reports/performance/latest-k6-summary.json
  backend/scripts/perf/apply_thresholds.py
  backend/scripts/perf/write_ci_report.py
  backend/scripts/plugins/rpi_cam/webcam_fake_camera.py
  backend/tests/integration/db/test_rpi_cam_last_image.py
  backend/tests/unit/plugins/rpi_cam/test_camera_interaction_utils.py
  backend/tests/unit/plugins/rpi_cam/test_routers_hls.py
  backend/tests/unit/plugins/rpi_cam/test_routers_snapshot.py
  backend/tests/unit/plugins/rpi_cam/test_routers_telemetry.py
  backend/tests/unit/plugins/rpi_cam/test_services_capture.py
  backend/tests/unit/plugins/rpi_cam/test_websocket_relay.py
Due: backend-alembic-autogen-check

feat: implement organization loading and management enhancements
  backend/app/api/auth/crud/organizations.py
  backend/app/api/auth/routers/admin/organizations.py
  backend/app/api/auth/routers/organizations.py
  backend/app/api/common/crud/query.py
  backend/app/api/file_storage/crud/media_queries.py
  backend/app/api/newsletter/routers.py
  backend/app/api/plugins/rpi_cam/routers/camera_crud.py
  backend/tests/unit/auth/test_org_crud.py
  backend/tests/unit/common/test_query_crud.py
Due: backend-alembic-autogen-check

feat: add authHelpers functions and integrate into authentication module
  frontend-app/src/services/api/__tests__/authHelpers-test.ts
  frontend-app/src/services/api/authHelpers.ts
  frontend-app/src/services/api/authentication.ts
Due: frontend-app-lint

Add unit tests for background data CRUD operations and validation
  backend/app/api/file_storage/crud/parent_media.py
  backend/app/api/file_storage/crud/support_queries.py
  backend/tests/unit/background_data/test_background_data_crud.py
  backend/tests/unit/background_data/test_background_data_crud_ops.py
  backend/tests/unit/background_data/test_background_data_validation.py
  backend/tests/unit/file_storage/test_file_storage_crud.py
  backend/tests/unit/file_storage/test_media_crud.py
  backend/tests/unit/file_storage/test_parent_media_crud.py
  backend/tests/unit/file_storage/test_storage_utils.py
Due: backend-alembic-autogen-check

feat: refactor authentication module and enhance user session management
  frontend-app/src/components/product/detail/Content.tsx
  frontend-app/src/services/api/authLogin.ts
  frontend-app/src/services/api/authRefresh.ts
  frontend-app/src/services/api/authRuntime.ts
  frontend-app/src/services/api/authUser.ts
  frontend-app/src/services/api/authentication.ts
Due: frontend-app-lint

Add behavior-focused tests for newsletter preferences and organization CRUD operations
  backend/app/api/background_data/crud/materials.py
  backend/app/api/background_data/crud/product_types.py
  backend/app/api/data_collection/crud/storage.py
  backend/app/api/file_storage/crud/parent_media.py
  backend/tests/integration/api/_newsletter_support.py
  backend/tests/integration/api/test_newsletter_admin.py
  backend/tests/integration/api/test_newsletter_endpoints.py
  backend/tests/integration/api/test_newsletter_preferences.py
  backend/tests/integration/api/test_newsletter_public_endpoints.py
  backend/tests/unit/auth/_org_crud_support.py
  backend/tests/unit/auth/test_org_crud.py
  backend/tests/unit/auth/test_org_crud_lifecycle.py
  backend/tests/unit/auth/test_org_crud_members.py
  backend/tests/unit/auth/test_org_crud_membership.py
Due: backend-alembic-autogen-check

refactor: update type hint imports to use TYPE_CHECKING for better performance
  backend/tests/integration/api/test_newsletter_admin.py
  backend/tests/integration/api/test_newsletter_preferences.py
  backend/tests/integration/api/test_newsletter_public_endpoints.py
  backend/tests/unit/auth/test_org_crud_lifecycle.py
Due: none

feat: implement camera connection and capture actions hooks with associated tests
  frontend-app/src/components/cameras/streamingFeedback.ts
  frontend-app/src/hooks/cameras/actions.ts
  frontend-app/src/hooks/cameras/helpers.tsx
  frontend-app/src/hooks/cameras/useCamerasScreen.tsx
  frontend-app/src/services/api/__tests__/authLogin-test.ts
  frontend-app/src/services/api/__tests__/authRefresh-test.ts
  frontend-app/src/services/api/__tests__/authUser-test.ts
Due: frontend-app-lint

feat: enhance streaming functionality and improve user experience across components
  frontend-app/src/app/__tests__/profile-test.tsx
  frontend-app/src/app/products/[id]/index.tsx
  frontend-app/src/app/products/__tests__/index-test.tsx
  frontend-app/src/components/common/StreamingContent.tsx
  frontend-app/src/components/common/StreamingSheet.tsx
  frontend-app/src/components/product/ProductVideo.tsx
  frontend-app/src/components/product/__tests__/ProductVideo-test.tsx
  frontend-app/src/components/product/detail/Content.tsx
  frontend-app/src/components/product/detail/FabControls.tsx
  frontend-app/src/hooks/__tests__/useProfileScreen-test.tsx
  frontend-app/src/hooks/cameras/actions.ts
  frontend-app/src/hooks/cameras/helpers.tsx
  frontend-app/src/hooks/cameras/useCamerasScreen.tsx
  frontend-app/src/hooks/profile/useProfileScreen.ts
  frontend-app/src/services/api/authentication.ts
Due: frontend-app-lint

Refactor product mutation routers and CRUD operations
  backend/app/api/background_data/routers/admin_materials.py
  backend/app/api/background_data/routers/admin_product_types.py
  backend/app/api/data_collection/crud/product_commands.py
  backend/app/api/data_collection/crud/product_tree_queries.py
  backend/app/api/data_collection/crud/products.py
  backend/app/api/data_collection/routers/product_mutation_routers.py
  backend/tests/integration/api/_organization_support.py
  backend/tests/integration/api/test_organization_endpoints.py
  backend/tests/integration/api/test_organization_membership_endpoints.py
  backend/tests/integration/api/test_organization_public_endpoints.py
  backend/tests/unit/data_collection/test_crud.py
Due: backend-alembic-autogen-check

feat: add OAuth helper functions and tests for callback and redirect validation
  backend/tests/integration/api/auth/_oauth_support.py
  backend/tests/integration/api/auth/test_oauth.py
  backend/tests/integration/api/auth/test_oauth_callbacks.py
  backend/tests/integration/api/auth/test_oauth_helpers.py
  backend/tests/integration/api/auth/test_oauth_redirects.py
Due: none

aaa
  backend/app/api/plugins/rpi_cam/service_runtime.py
  backend/app/api/plugins/rpi_cam/services.py
  backend/tests/integration/api/_organization_helpers.py
  backend/tests/integration/api/_organization_support.py
  backend/tests/integration/api/test_organization_membership_endpoints.py
  backend/tests/unit/plugins/rpi_cam/test_services_youtube.py
  frontend-app/src/app/__tests__/layout-helpers-test.tsx
  frontend-app/src/components/cameras/CameraCard.tsx
  frontend-app/src/components/cameras/__tests__/CameraCard-test.tsx
  frontend-app/src/components/cameras/__tests__/streamingFeedback-test.ts
  frontend-app/src/components/cameras/live-preview/__tests__/WebHlsVideo-test.tsx
  frontend-app/src/components/common/__tests__/StreamingContent-test.tsx
  frontend-app/src/components/product/ProductVideo.tsx
  frontend-app/src/components/product/__tests__/ProductVideo-test.tsx
  frontend-app/src/hooks/__tests__/useProfileScreen-test.tsx
  frontend-app/src/hooks/cameras/__tests__/actions-test.tsx
  frontend-app/src/services/api/__tests__/fetching-test.ts
Due: backend-alembic-autogen-check, frontend-app-lint

bbb
  frontend-app/src/app/__tests__/layout-helpers-test.tsx
  frontend-app/src/components/common/__tests__/StreamingContent-test.tsx
  frontend-app/src/hooks/__tests__/useProfileScreen-test.tsx
Due: frontend-app-lint

aaa
  backend/app/api/auth/crud/organizations.py
  backend/app/api/background_data/routers/public_categories.py
  backend/app/api/background_data/routers/public_materials.py
  backend/app/api/background_data/routers/public_product_types.py
  backend/app/api/background_data/routers/public_taxonomies.py
  backend/app/api/common/crud/query.py
  backend/app/api/data_collection/routers/product_read_routers.py
  backend/app/api/file_storage/crud/media_queries.py
  backend/app/api/file_storage/crud/support_queries.py
  backend/app/api/plugins/rpi_cam/routers/camera_crud.py
  frontend-app/src/hooks/cameras/__tests__/actions-test.tsx
Due: backend-alembic-autogen-check, frontend-app-lint

feat: remove snapshot endpoint and related functionality from RPi camera plugin
  backend/README.md
  backend/app/api/plugins/rpi_cam/routers/camera_crud.py
  backend/app/api/plugins/rpi_cam/routers/camera_interaction/__init__.py
  backend/app/api/plugins/rpi_cam/routers/camera_interaction/snapshot.py
  backend/app/api/plugins/rpi_cam/websocket/relay.py
  backend/perf/README.md
  backend/scripts/plugins/rpi_cam/webcam_fake_camera.py
  backend/tests/integration/api/README.md
  backend/tests/unit/README.md
  backend/tests/unit/plugins/rpi_cam/test_router_surface.py
  backend/tests/unit/plugins/rpi_cam/test_routers_snapshot.py
  backend/tests/unit/plugins/rpi_cam/test_websocket_relay.py
  frontend-app/src/app/__tests__/profile.test.tsx
  frontend-app/src/app/cameras/__tests__/index-test.tsx
  frontend-app/src/components/cameras/__tests__/CameraCard-test.tsx
  frontend-app/src/hooks/__tests__/useRpiCameras-test.tsx
  frontend-app/src/hooks/camera-data/__tests__/queries-test.ts
  frontend-app/src/hooks/camera-data/hooks.ts
  frontend-app/src/hooks/camera-data/queries.ts
  frontend-app/src/hooks/useEffectiveCameraConnection.ts
  frontend-app/src/hooks/useRpiCameras.ts
  frontend-app/src/services/api/__tests__/rpiCamera-test.ts
  frontend-app/src/services/api/rpiCamera.ts
  frontend-app/src/types/api.generated.ts
Due: backend-alembic-autogen-check, frontend-app-lint

feat: update WebSocket command handling and add request ID generation
  backend/scripts/plugins/rpi_cam/webcam_fake_camera.py
  frontend-app/src/services/api/rpiCamera.ts
Due: frontend-app-lint

feat: enhance static asset handling and improve SPA routing in Caddyfile
  frontend-app/Caddyfile
Due: none

test: add unit tests for ActiveStreamBanner and StreamingSheet components
  frontend-app/src/components/common/__tests__/ActiveStreamBanner-test.tsx
  frontend-app/src/components/common/__tests__/StreamingSheet-test.tsx
  frontend-app/src/hooks/camera-data/__tests__/queries-test.ts
  frontend-app/src/services/api/__tests__/rpiCamera-test.ts
Due: frontend-app-lint

feat: refactor video handling and improve layout in CameraCard and StreamingContent components
  frontend-app/src/components/cameras/CameraCard.tsx
  frontend-app/src/components/cameras/__tests__/CameraCard-test.tsx
  frontend-app/src/components/cameras/live-preview/WebHlsVideo.tsx
  frontend-app/src/components/cameras/live-preview/__tests__/webHlsVideoHelpers-test.ts
  frontend-app/src/components/cameras/live-preview/webHlsVideoHelpers.ts
  frontend-app/src/components/common/StreamingContent.tsx
  frontend-app/src/components/product/ProductVideo.tsx
Due: frontend-app-lint

feat: update conditional checks for Python and Node audits in security workflow
  .github/workflows/security.yml
Due: none

feat: enhance user retrieval methods to eagerly load oauth_accounts
  backend/app/api/auth/services/user_database.py
Due: backend-alembic-autogen-check

chore(frontend-web): update deps
  frontend-web/package.json
  frontend-web/pnpm-lock.yaml
Due: frontend-web-lint

refactor(docs): simplify docs, expand linting coverage, fix linting issues
  docs/.gitignore
  docs/.nvmrc
  docs/Dockerfile
  docs/Dockerfile.dev
  docs/astro.config.mjs
  docs/biome.json
  docs/biome.jsonc
  docs/e2e/smoke.spec.ts
  docs/e2e/theme.spec.ts
  docs/justfile
  docs/package.json
  docs/playwright.config.ts
  docs/pnpm-lock.yaml
  docs/scripts/check-external-links.mjs
  docs/scripts/check-lighthouse.mjs
  docs/scripts/check-no-cdn-imports.mjs
  docs/scripts/run-with-preview.mjs
  docs/src/content/docs/404.md
  docs/src/content/docs/architecture/engineering-ops.md
  docs/src/content/docs/user-guides/rpi-cam.md
Due: none

lint frontend-web
  frontend-web/README.md
  frontend-web/biome.jsonc
  frontend-web/e2e/structure.spec.ts-snapshots/homepage.aria.yml
  frontend-web/e2e/structure.spec.ts-snapshots/privacy.aria.yml
  frontend-web/justfile
  frontend-web/package.json
Due: frontend-web-lint

Path conditions:
  backend-alembic-autogen-check: any of: ^(backend/(app|alembic)/|alembic\.ini$)
  frontend-web-lint: any of: ^frontend-web\/.*\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?)$
  frontend-app-lint: any of: ^frontend-app\/.*\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?)$
