Repository CMLPlatform/relab: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-alembic-autogen-check, frontend-web-lint, frontend-app-lint

Path conditions:
  backend-alembic-autogen-check: any of: ^(backend/(app|alembic)/|alembic\.ini$)
  frontend-web-lint: any of: ^frontend-web\/.*\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?)$
  frontend-app-lint: any of: ^frontend-app\/.*\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?)$

feat: update deployment and telemetry config
  .env.example
  .env.prod.compose
  .env.staging.compose
  .gitignore
  INSTALL.md
  backend/.env.dev.example
  backend/.env.prod.example
  backend/.env.staging.example
  backend/.env.test
  backend/justfile
  compose.deploy.yml
  compose.logging.loki.yml
  compose.yml
  justfile
  otel-collector-config.yaml
Due: none

fix(backend): fix search utilities
  backend/app/api/common/search_utils.py
  backend/app/api/data_collection/filters.py
  backend/tests/unit/common/test_search_utils.py
Due: backend-alembic-autogen-check

fix(backend): include modification time in preview thumbnail URLs
  backend/app/api/plugins/rpi_cam/service_runtime.py
  backend/tests/integration/db/test_rpi_cam_preview_thumbnail.py
  backend/tests/unit/plugins/rpi_cam/test_routers_device_uploads.py
Due: backend-alembic-autogen-check

refactor(backend): streamline OpenTelemetry configuration and enablement logic
  backend/app/core/config/core.py
  backend/app/core/observability/telemetry.py
  backend/tests/unit/core/test_config.py
  backend/tests/unit/core/test_telemetry.py
Due: backend-alembic-autogen-check

chore(backend): bump relab rpi cam models version
  backend/pyproject.toml
Due: none

feat(backend): add log export functionality to OpenTelemetry integration
  backend/app/core/observability/telemetry.py
Due: backend-alembic-autogen-check

fix(backend): remove explicit endpoint for OTLP log and trace exporters
  backend/app/core/observability/telemetry.py
Due: backend-alembic-autogen-check

feat(backend): add OTLP headers configuration for OpenTelemetry
  compose.deploy.yml
Due: none

feat(tests): add full-stack cross-browser E2E test command
  frontend-app/justfile
  frontend-app/package.json
  frontend-app/playwright.config.ts
  justfile
Due: frontend-app-lint

refactor(dosc): refactor docs and fix 404 issue
  docs/astro.config.mjs
  docs/e2e/smoke.spec.ts
  docs/e2e/visual.spec.ts-snapshots/404-desktop-chromium-linux.png
  docs/e2e/visual.spec.ts-snapshots/homepage-desktop-chromium-linux.png
  docs/e2e/visual.spec.ts-snapshots/homepage-mobile-chromium-linux.png
  docs/e2e/visual.spec.ts-snapshots/system-design-desktop-chromium-linux.png
  docs/justfile
  docs/package.json
  docs/pnpm-lock.yaml
  docs/src/content/docs-404.md
  docs/src/content/docs/architecture/datamodel.mdx
  docs/src/content/docs/architecture/deployment.mdx
  docs/src/content/docs/architecture/engineering-config.md
  docs/src/content/docs/architecture/engineering-ops.md
  docs/src/content/docs/architecture/index.md
  docs/src/content/docs/architecture/rpi-cam.mdx
  docs/src/content/docs/architecture/system-design.mdx
  docs/src/content/docs/index.md
  docs/src/content/docs/project/dataset.md
  docs/src/content/docs/user-guides/getting-started.md
  docs/src/pages/404.astro
Due: none

feat(frontend-app): enhance product detail and navigation tests with cross-browser tagging
  frontend-app/e2e/auth.spec.ts
  frontend-app/e2e/gallery.spec.ts
  frontend-app/e2e/helpers.ts
  frontend-app/e2e/product-detail.spec.ts
  frontend-app/e2e/products.spec.ts
  frontend-app/e2e/profile.spec.ts
  frontend-app/e2e/sort-filter.spec.ts
  frontend-app/src/__tests__/screens/product-page-state.integration.test.tsx
  frontend-app/src/app/products/[id]/index.tsx
  frontend-app/src/components/product/__tests__/FabControls-test.tsx
  frontend-app/src/components/product/detail/FabControls.tsx
  frontend-app/src/components/product/gallery/ProductImageGalleryContent.tsx
  frontend-app/src/components/product/gallery/ProductImageLightbox.tsx
  frontend-app/src/hooks/__tests__/useProductForm-test.tsx
  frontend-app/src/hooks/__tests__/useProductPageScreen-test.tsx
  frontend-app/src/hooks/__tests__/useProductsScreen-test.tsx
  frontend-app/src/hooks/products/useProductPageScreen.tsx
  frontend-app/src/hooks/products/useProductsScreen.ts
  frontend-app/src/hooks/useProductForm.ts
  frontend-app/src/theme/tokens.ts
  frontend-app/src/theme/types.ts
Due: frontend-app-lint

chore: update deps
  backend/uv.lock
  frontend-app/pnpm-lock.yaml
  frontend-web/package.json
  frontend-web/pnpm-lock.yaml
Due: frontend-web-lint

chore: update cspell config
  .cspell.yml
Due: none

fix: linting
  docs/src/content/docs/architecture/engineering-config.md
  docs/src/content/docs/architecture/engineering-ops.md
  justfile
Due: none

fix(frontend-app): linting and e2e test suite optimization
  frontend-app/e2e/auth.spec.ts
  frontend-app/e2e/helpers.ts
  frontend-app/e2e/product-detail.spec.ts
  frontend-app/e2e/products.spec.ts
  frontend-app/e2e/profile.spec.ts
  frontend-app/e2e/sort-filter.spec.ts
  frontend-app/src/components/product/__tests__/FabControls-test.tsx
  frontend-app/src/hooks/__tests__/useProductPageScreen-test.tsx
  frontend-app/src/hooks/__tests__/useProductsScreen-test.tsx
Due: frontend-app-lint

test(frontend-app): expand test coverage
  frontend-app/e2e/sort-filter.spec.ts
  frontend-app/src/components/cameras/live-preview/__tests__/useWebHlsPlayback-test.ts
  frontend-app/src/components/cameras/live-preview/__tests__/useWebHlsPlayback-test.tsx
  frontend-app/src/hooks/products/__tests__/useNewProductAction-test.ts
  frontend-app/src/services/__tests__/storage-test.ts
Due: frontend-app-lint

test(backend): add unit tests for password validation, OAuth association, cross-worker relay, device assertion, and encryption helpers
  backend/tests/unit/auth/test_oauth_associate.py
  backend/tests/unit/auth/test_password_validator.py
  backend/tests/unit/plugins/rpi_cam/test_cross_worker_relay.py
  backend/tests/unit/plugins/rpi_cam/test_device_assertion.py
  backend/tests/unit/plugins/rpi_cam/test_encryption.py
Due: none

ci: ci fixes
  .github/workflows/validate.yml
  .gitleaks.toml
  backend/app/api/auth/services/password_validator.py
  backend/tests/unit/auth/test_password_validator.py
  backend/tests/unit/plugins/rpi_cam/test_cross_worker_relay.py
  backend/tests/unit/plugins/rpi_cam/test_encryption.py
  compose.e2e.yml
  docs/Dockerfile
  frontend-web/Dockerfile
Due: backend-alembic-autogen-check

ci: more ci fixes
  backend/Dockerfile.user-upload-backups
  backend/justfile
  backend/scripts/backup/user_upload_backups_entrypoint.sh
  frontend-app/src/hooks/auth/useOAuthLogin.ts
  justfile
Due: frontend-app-lint

feat: add .trivyignore for vulnerability allowlist and update security workflow
  .cspell.yml
  .github/workflows/security.yml
  .trivyignore
Due: none

feat: add E2E testing job for Frontend Web and update conditions for Full-Stack E2E
  .github/workflows/validate.yml
Due: none

chore: update version to 0.2.0 across all relevant files and enhance changelog with detailed release notes
  .cspell.yml
  .github/.release-please-manifest.json
  .github/release-please-config.json
  CHANGELOG.md
  CITATION.cff
  backend/app/__version__.py
  backend/pyproject.toml
  backend/uv.lock
  codemeta.json
  docs/package.json
  frontend-app/app.json
  frontend-app/package.json
  frontend-web/package.json
  package.json
  pyproject.toml
  uv.lock
Due: backend-alembic-autogen-check, frontend-web-lint, frontend-app-lint

chore: update dependencies
  .cspell.yml
  frontend-app/package.json
  frontend-app/pnpm-lock.yaml
  frontend-web/package.json
  frontend-web/pnpm-lock.yaml
Due: frontend-web-lint, frontend-app-lint

ci: improve checkout steps in ops workflow
  .github/workflows/ops.yml
Due: none

chore: codeql linting
  backend/alembic/env.py
  backend/alembic/versions/07d992454431_add_fks.py
  backend/alembic/versions/33b00b31e537_initial.py
  backend/alembic/versions/65da9d7e309c_increase_string_fields_max_length.py
  backend/alembic/versions/6891389e6660_remove_relay_last_seen_at_from_camera.py
  backend/alembic/versions/84d2f72dccc7_simplify_circularity_properties_model.py
  backend/alembic/versions/b7c1d2e3f4a5_inline_properties_onto_product.py
  backend/alembic/versions/e3d54054d34a_add_user_preferences.py
  backend/app/api/auth/routers/oauth_token.py
  backend/app/api/auth/services/email_checker.py
  backend/app/api/auth/services/oauth/associate.py
  backend/app/api/auth/services/oauth/login.py
  backend/app/api/auth/services/user_manager.py
  backend/app/api/background_data/crud/categories.py
  backend/app/api/background_data/crud/shared.py
  backend/app/api/common/crud/persistence.py
  backend/app/api/data_collection/crud/product_tree_queries.py
  backend/app/api/file_storage/crud/support_services.py
  backend/app/api/file_storage/models/storage_core.py
  backend/app/api/file_storage/models/storage_s3.py
  backend/app/api/newsletter/utils/tokens.py
  backend/app/api/plugins/rpi_cam/models.py
  backend/app/api/plugins/rpi_cam/websocket/cross_worker_relay.py
  backend/app/api/plugins/rpi_cam/websocket/router.py
  backend/app/core/images/constants.py
  backend/scripts/seed/dummy_seed/data.py
  backend/tests/integration/api/auth/test_oauth_callbacks.py
  backend/tests/integration/core/test_database_operations.py
  backend/tests/integration/models/test_background_data_models.py
  backend/tests/unit/common/test_query_crud.py
  backend/tests/unit/file_storage/test_presentation.py
  backend/tests/unit/plugins/rpi_cam/conftest.py
  backend/tests/unit/plugins/rpi_cam/test_services_recording_session.py
  frontend-app/src/app/users/__tests__/username-test.tsx
Due: backend-alembic-autogen-check, frontend-app-lint

fix: update ci pre-commit checks to conditionally skip main branch protection when pushing to main branch
  .github/workflows/validate.yml
Due: none

fix: update command for root dependency audit in security workflow
  .github/workflows/security.yml
Due: none

fix: simplify pre-commit checks command in validate workflow
  .github/workflows/validate.yml
Due: none

refactor: move contribution guidelines, code of conduct, security policy; and renovate, codecov, and trivyignore config to .github dir to declutter root dir
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/SECURITY.md
  .github/codecov.yml
  .github/gitleaks.toml
  .github/path-filters.yml
  .github/renovate.json
  .github/trivyignore
  .github/workflows/security.yml
  .pre-commit-config.yaml
  README.md
  docs/README.md
  docs/src/content/docs/index.md
  frontend-app/README.md
  frontend-web/README.md
Due: none

chore: remove root level Python version file
  .python-version
Due: none

refactor: update CITATION.cff with author emails and affiliations; remove codemeta.json
  CITATION.cff
  codemeta.json
Due: none

chore: remove auto-install-peers option from .npmrc
  .npmrc
Due: none

refactor: update justfile scripts for consistency and clarity; remove echo statements
  backend/justfile
  docs/justfile
  frontend-app/justfile
  frontend-web/justfile
  justfile
Due: none

feat: move installation and self-hosting documentation from repo root to docs site
  docs/astro.config.mjs
  docs/src/content/docs/architecture/engineering-config.md
  docs/src/content/docs/architecture/engineering-ops.md
  docs/src/content/docs/architecture/install.md
Due: none

refactor: yml -> yaml where aligning with standard syntax
  .cspell.yaml
  .devcontainer/backend/devcontainer.json
  .devcontainer/devcontainer.json
  .devcontainer/docs/devcontainer.json
  .devcontainer/frontend-app/devcontainer.json
  .devcontainer/frontend-web/devcontainer.json
  .github/release-please-config.json
  backend/README.md
  backend/app/core/observability/telemetry.py
  backend/scripts/backup/README.md
  compose.ci.yaml
  compose.deploy.yaml
  compose.dev.yaml
  compose.e2e.yaml
  compose.logging.loki.yaml
  compose.yaml
  package.json
Due: backend-alembic-autogen-check

test(docs): replace visual regression tests with structural regression tests and ARIA snapshots
  docs/e2e/structure.spec.ts
  docs/e2e/structure.spec.ts-snapshots/404.aria.yml
  docs/e2e/structure.spec.ts-snapshots/homepage.aria.yml
  docs/e2e/structure.spec.ts-snapshots/system-design.aria.yml
  docs/e2e/visual.spec.ts
  docs/e2e/visual.spec.ts-snapshots/404-desktop-chromium-darwin.png
  docs/e2e/visual.spec.ts-snapshots/404-desktop-chromium-linux.png
  docs/e2e/visual.spec.ts-snapshots/homepage-desktop-chromium-darwin.png
  docs/e2e/visual.spec.ts-snapshots/homepage-desktop-chromium-linux.png
  docs/e2e/visual.spec.ts-snapshots/homepage-mobile-chromium-darwin.png
  docs/e2e/visual.spec.ts-snapshots/homepage-mobile-chromium-linux.png
  docs/e2e/visual.spec.ts-snapshots/system-design-desktop-chromium-darwin.png
  docs/e2e/visual.spec.ts-snapshots/system-design-desktop-chromium-linux.png
  frontend-app/e2e/auth.spec.ts
  frontend-app/e2e/profile.spec.ts
  frontend-app/playwright.config.ts
Due: frontend-app-lint

chore: update uvicorn version to 0.46.0 in uv.lock
  backend/uv.lock
Due: none
